[2021-09-08 16:15] nicolevasilevsky commented on #1120
no objection from me

[2021-09-09 07:02] shawntanzk commented on #1249
This will live only in BDS ontology, L6 IT subclasses will be automatically grouped once L6 IT gets formalised layering axioms

[2021-09-09 07:02] #1249 closed

[2021-09-09 07:35] #948 closed

[2021-09-09 09:58] paolaroncaglia opened #1255 "Import UBERON:8410003 'ductal plate' in CL"
Needed for #840 .
I know there are issues with Uberon imports (see #1252 ), so perhaps wait until after the next Uberon release.

[2021-09-09 10:16] paolaroncaglia commented on #975
Thanks @addiehl .

[2021-09-09 12:08] paolaroncaglia commented on #974
@ngeorgeebi @sfexova
CL:0009049 is now 'smooth muscle cell of high endothelial venule of lymph node'.
Shawn is planning a CL release today, so the term should be available to you very soon.

[2021-09-09 12:08] #974 closed

[2021-09-09 12:10] paolaroncaglia commented on #975
@ngeorgeebi @sfexova
The new term is CL:0009060 marginal zone B cell of lymph node.

@addiehl
CL:0000845 has been edited as agreed. Thanks.

[2021-09-09 12:10] #975 closed

[2021-09-09 12:14] paolaroncaglia commented on #987
@ngeorgeebi @sfexova
The new term is CL:0009062 'germinal center T cell' (with exact synonym "lymph node germinal center T follicular helper cell", plus 2 similar ones).

[2021-09-09 12:14] #987 closed

[2021-09-09 12:15] paolaroncaglia commented on #988
@ngeorgeebi @sfexova
The new term is CL:0009064 'lymph node paracortex T cell' (with broad synonym 'paracortex T cell').

[2021-09-09 12:15] #988 closed

[2021-09-09 12:16] paolaroncaglia commented on #1254
Hi @Alain-Gateau ,
The typo above has been fixed. The change will be visible in the next CL release, planned for today.
Thanks,
Paola

[2021-09-09 12:16] #1254 closed

[2021-09-10 10:00] paolaroncaglia opened #1258 "[NTR] Deepening Azimuth annotations"
Placeholder. From the HCA/SCEA/HubMap curators meeting (Sep 8th):
@dosumis assigned this to me: "https://azimuth.hubmapconsortium.org/ - looks at non neural for potential deepening via adding new."
so I'll exclude Human - Motor Cortex and Mouse - Motor Cortex.
Also, leave Human - Lung aside for now, as Joshua Fortriede may be working on that.
- [ ] Identify area(s) of work
Update: Human - Pancreas

[2021-09-14 09:55] #435 closed

[2021-09-15 14:31] paolaroncaglia opened #1259 "[Typo/Bug] Typos in defs of CL:4023027 and CL:4023031"
(Spotted during Alex' talk at CELLS 2021)

**CL term**
CL:4023027 and CL:4023031

**Description of typo, bug or error**
Definitions contain "martinotti morphologies" and "martinotti morphology" respectively. Capitalization should be fixed to read "Martinotti" please. I'll label this ticket as "Good_first_task" in case you'd like to assign it to others for training purposes.

[2021-09-15 14:53] paolaroncaglia opened #1260 "HubMap CCF reporter: same cell type name, different IDs?"
Spotted during Alex' talk at CELLS 2021 so didn't have much time to examine the underlying data/reason:
3 occurrences of "adipocyte", with 3 different CL IDs?
Mousing over the entities results in a "could not fetch data" note.

![Screen Shot 2021-09-15 at 16 51 26](https://user-images.githubusercontent.com/4982516/133456663-2a45d327-002f-4ad5-bd60-e202542d36a3.png)

@emquardokus please feel free t

[2021-09-15 17:07] emquardokus commented on #1260
@paolaroncaglia Thank you for mentioning this and asking.
This unfortunately was a screenshot from the "All organs" view from our ASCT+B reporter visualization, so it represents all cells and annotations from all 11 organs from 1st release.  One note on 3 instances of "adipocyte" with 3 different IDs---the label shown is what the author of table provided and the blue boxes around them on the vis s

[2021-09-17 07:49] paolaroncaglia commented on #1120
Morning @dosumis and @addiehl ,
Next week I'll go ahead and rename
CL:1000347 vacuolar absorptive cell of epithelium of colon -> enterocyte of colon
CL:1000346 vacuolar absorptive cell of epithelium proper of large intestine -> enterocyte of epithelium proper of large intestine
as per details in https://github.com/obophenotype/cell-ontology/issues/1120#issuecomment-915294029.
If you have any objec

[2021-09-17 08:44] paolaroncaglia commented on #932
@sfexova
Following up on the thread here about 'fused extravillous trophoblast' (http://www.ebi.ac.uk/efo/EFO_0010712), could you please confirm if this term is used in/needed for the placenta anatomogram? I tried looking for it in EA and SCEA, but I suspect that the search by experimental factor function may be broken. Looking for a placenta anatomogram, I could only find [this one](https://www.e

[2021-09-17 09:28] dosumis commented on #1120
If you're happy these are the same thing, then sure (keeping the old term as synonym).  There are plenty of uses of the term absorptive cell for cells in the gut, and description of vacuoles in these cells,

https://scholar.google.co.uk/scholar?hl=en&as_sdt=0%2C5&as_vis=1&q=vacuolar+absorptive+cell&btnG=

From the dates, this term seems be largely archaic now, but a regular google search finds occ

[2021-09-17 09:45] paolaroncaglia commented on #1120
Thanks @dosumis ,

The logical def of the old term CL:1000347 supports that. There's not enough information associated with the old term to be 100% sure, but I think it's ok and I trust the submitter who's done more reading :-)

Yes that was the plan. I'll make them narrow synonyms.

Good then, I'll add CL:NEW 'vacuolated enterocyte' with dbxrefs PMID:17901585 + your ORCID.

Thanks for your feedba

[2021-09-17 16:56] paolaroncaglia opened #1262 "[Typo/Bug] OBO challenge 2023: go green in CL dashboard"
Placeholder ticket inspired by @matentzn 's talk at ICBO 2021. [CL does quite well in the OBO dashboard](http://dashboard.obofoundry.org/dashboard/cl/dashboard.html), but we could address those [missing definitions](http://dashboard.obofoundry.org/dashboard/cl/robot_report.html) between now and 2023 :-)

(BTW @matentzn @dosumis the CL report says 397 missing defs, but the yellow table only shows 2

[2021-09-17 17:31] matentzn commented on #1262
I love it thanks so much @paolaroncaglia

[2021-09-17 17:48] cmungall opened #1263 "As depicted_by annotations pointing to SwissBioPics"
These are fantastic and used in Uniprot
https://www.swissbiopics.org/

CC-BY license:
https://www.swissbiopics.org/help

[2021-09-19 14:57] dosumis commented on #1263
Cool.  I think they should be linked via depicted_by.  @paolaroncaglia  - can you have a go at doing this?

@cmungall  - wondering id possible to link down to the annotation level, and if so whether GO CC should be adding these links.

[2021-09-19 14:58] dosumis commented on #1263
@paolaroncaglia  - Uberon example here for pattern: https://docs.google.com/presentation/d/11WeCHCeGYSPEO7hUYFTdPivptxX4ajj5pVHDm24j4JA/edit#slide=id.g9a5e4d7c09_0_163

[2021-09-21 08:21] dosumis opened #1264 "Make 'auditory system neuron' broader."
**CL term**

auditory hair cell
http://purl.obolibrary.org/obo/CL_0000202
A mechanoreceptor cell located in the inner ear that is sensitive to auditory stimuli. The accessory sensory structures are arranged so that appropriate stimuli cause movement of the hair-like projections (stereocilia and kinocilia) which relay the information centrally in the nervous system. [ MESH:A08.663.650.250 ]

![imag

[2021-09-21 08:49] shawntanzk commented on #1264
Changes:
1) Change def to: "a mechanoreceptor cell that is sensitive to auditory stimuli." I think the gloss can remain the same, seems to be the same in fish/frogs
2) Change asserted class to sensory hair cell since in fish, these cells are in lateral line organ.
3) Remove 'part of' some 'spiral organ of cochlea' axiom, and create a class "cochlea auditor hair cell" with the following:
Definition

[2021-09-22 14:43] paolaroncaglia commented on #1262
I'll self-assign for shepherding purposes. Quick thoughts:
- [ ] CL terms that lack definitions may be grouped by broader classes (e.g. neuron types), to facilitate working on related terms in bulk if desider, possibly by editors working on related project;
- [ ] Some of this work may be a good first task for novel CL editors, @dosumis if you think it'd be appropriate for the future Cell Annotatio

[2021-09-22 21:40] lubianat commented on #1103
![](https://github.trello.services/images/mini-trello-icon.png) [Import GitHub issues assigned to me](https://trello.com/c/sLWt8New/4-import-github-issues-assigned-to-me)

[2021-09-22 21:41] lubianat commented on #1049
![](https://github.trello.services/images/mini-trello-icon.png) [Import GitHub issues assigned to me](https://trello.com/c/sLWt8New/4-import-github-issues-assigned-to-me)

[2021-09-22 21:41] lubianat commented on #1048
![](https://github.trello.services/images/mini-trello-icon.png) [Import GitHub issues assigned to me](https://trello.com/c/sLWt8New/4-import-github-issues-assigned-to-me)

[2021-09-22 21:41] lubianat commented on #764
![](https://github.trello.services/images/mini-trello-icon.png) [Import GitHub issues assigned to me](https://trello.com/c/sLWt8New/4-import-github-issues-assigned-to-me)

[2021-09-22 21:41] lubianat commented on #764
![](https://github.trello.services/images/mini-trello-icon.png) [Import GitHub issues assigned to me](https://trello.com/c/sLWt8New/4-import-github-issues-assigned-to-me)

[2021-09-22 21:42] lubianat commented on #816
![](https://github.trello.services/images/mini-trello-icon.png) [Import GitHub issues assigned to me](https://trello.com/c/sLWt8New/4-import-github-issues-assigned-to-me)

[2021-09-22 21:44] lubianat commented on #1048
![](https://github.trello.services/images/mini-trello-icon.png) [Proceed with Telocyte integration](https://trello.com/c/1xEKPnNj/5-proceed-with-telocyte-integration)

[2021-09-23 15:55] shawntanzk opened #1265 "[Class hierarchy] Betz cells should be subclass of L5 ET"
From the BDS ontology, the consensus cross-species dataset suggests Betz cells as an alias for L5 ET (https://github.com/obophenotype/brain_data_standards_ontologies/blob/single_dosdp_template/src/dendrograms/nomenclature_table_CCN202002270.csv)
This of course cannot be synonym as Betz cells are quite specific, however, should Betz cells be asserted as a subclass of L5 ET?

[2021-09-24 11:30] dosumis opened #1266 "[Typo/Bug] mononuclear & multinucleate phagocyte have no children!"
**CL term**

mononuclear phagocyte  http://purl.obolibrary.org/obo/CL_0000113

**Description of typo, bug or error**

![image](https://user-images.githubusercontent.com/112839/134666618-863ff1ba-90c6-444f-834f-5b890104f8cf.png)

@addiehl - any suggestions for how we might efficiently populate these classes?

[2021-09-28 17:40] gouttegd commented on #1234
We are now at 117 issues that would be closed with a threshold set at 3 years.

I propose to give us one more month to check some more of those issues (and either fix them directly or at least tag them or comment on them — anything to mark them as "active"), and then by the end of October I unleash the auto-closing script.

Would everyone be happy with that?

[2021-09-28 17:40] gouttegd commented on #1234
For reference, here are the issues that would be closed as of today:

| Issue | Author | Team? | Assignee(s) |
| ----- | ------ | ----- | ----------- |
| [Define strategy for handling new proposed cell types derived from clustering transcriptomic and other data](https://github.com/obophenotype/cell-ontology/issues/520) | @[cmungall](https://github.com/cmungall) | Yes |  |
| [Single cell transcript

[2021-09-28 17:58] addiehl commented on #507
This edge already exists in CL.  Closing now.

[2021-09-28 17:58] #507 closed

[2021-09-28 18:00] addiehl commented on #503
"Treg" is already an exact synonym of CL:0000815.  Closing now.

[2021-09-28 18:00] #503 closed

[2021-09-28 18:16] addiehl commented on #518
Suppressor macrophages are found in multiple organs, and may not all be equivalent (PMID:11570676, PMID:10073680, PMID: 12107474), and appear to be part of a larger group of myeloid-derived suppressor cells that deserve better treatment in CL (PMID:23369628).  I will consider this issue for future review.

[2021-09-28 18:21] addiehl commented on #502
I agree.

[2021-09-28 18:30] addiehl commented on #1234
Is adding a new label enough to spare from closing?  There are multiple kidney related items that should be addressed as part of the KPMP and HuBMAP project work.  I am adding the 'KPMP' label to these.

[2021-09-28 18:33] gouttegd commented on #1234
Yes, adding a label counts as an "activity" from the point of view of the auto-closing script, so it's enough to prevent auto-closing.

[2021-09-28 18:33] addiehl commented on #517
This class has multiple descendants.  Probably a more thorough review is called for.

[2021-09-28 18:35] addiehl commented on #499
Closing as I think this is resolved.

[2021-09-28 18:35] #499 closed

[2021-09-28 18:40] addiehl commented on #497
I don't think this is an issue anymore.  These are obsolete terms and are not in the current CL obo files.

[2021-09-28 18:40] #497 closed

[2021-09-28 18:44] addiehl commented on #443
This needs to be handled as part of a larger revision of the granulocyte hierarchy in CL.

[2021-09-28 18:49] addiehl commented on #181
CL does use http://purl.obolibrary.org/obo/RO_0000056 'participates in' currently. and no longer uses 'bearer of at some time', so nothing left to fix.

[2021-09-28 18:49] #181 closed

[2021-09-28 18:50] addiehl commented on #179
This has been fixed at some point.

[2021-09-28 18:50] #179 closed

[2021-09-28 18:51] addiehl commented on #173
Still needs fixing.

[2021-09-28 18:52] addiehl commented on #174
This is presumably no longer an issue.

[2021-09-28 18:52] #174 closed

[2021-09-28 18:57] addiehl commented on #165
I think the classification of 'hepatic pit cell' as a 'natural killer cell' remains correct (PMID:26639736, PMID: 31114585).  Closing this finally.

[2021-09-28 18:57] #165 closed

[2021-09-28 18:59] addiehl commented on #149
Closing this, as I don't believe this remains an issue anymore.

[2021-09-28 18:59] #149 closed

[2021-09-28 19:01] addiehl commented on #135
GO did change the name of their term and I did add the synonym at some point, so this is done.

[2021-09-28 19:01] #135 closed

[2021-09-28 19:02] addiehl commented on #133
Seems to reason correctly now.

[2021-09-28 19:02] #133 closed

[2021-09-28 19:27] addiehl commented on #121
'B cell, CD19-positive' CL:0001201 now exists.  'CD3-positive T Cell' is not needed, since all T cells have CD3 as part of the T cell receptor complex (work needs to be done to ensure this is inferred through reasoning).

'precursor B cell' is logically defined as having 'CD19 molecule' and 'neprilysin' AKA CD10, so no changes needed.

[2021-09-28 19:27] #121 closed

[2021-09-28 19:29] addiehl commented on #45
'c- Kit-positive erythroid progenitor cell' exists as an exact synonym.  Won't fix.

[2021-09-28 19:29] #45 closed

[2021-09-28 19:31] addiehl commented on #31
Closing.  Will reopen if a better description of the problem is provided.  I suspect MP is the problem, not CL in any case.

[2021-09-28 19:31] #31 closed

[2021-09-30 10:31] paolaroncaglia commented on #447
'fungal cell' and its descendants are still in CL. I presume we'd still want to cede that branch to FAO, pending resources. Commenting to prevent auto-closing.

[2021-09-30 10:43] paolaroncaglia commented on #477
The term HFF-Myc is in EFO as EFO:0005710, and I suspect it was added there because genetically modified cells would be out of scope for CL, but this ticket was never updated (and I can't find any reference to this term request in the EFO tracker - possibly too old). I'll close.

[2021-09-30 10:43] #477 closed

[2021-09-30 10:50] paolaroncaglia commented on #478
CL:0002602 'annulus pulposus cell' exists and is equivalent to
'connective tissue cell' and ('part of' some 'annulus fibrosus disci intervertebralis')
which fits with this request based on the proposed definition. I'll close.

[2021-09-30 10:50] #478 closed

[2021-09-30 10:58] paolaroncaglia commented on #190
There are still plenty of 'sensu' terms in CL, so I presume we wouldn't wish to close this ticket.

[2021-09-30 11:02] paolaroncaglia commented on #271
There is no longer a cell-to-uberon-via-ZFA.txt in http://github.com/cmungall/uberon (now obophenotype/uberon), or at least I can't spot it. I suspect this may be out of date.

[2021-09-30 17:54] cmungall opened #1269 "cells classified under 'supporting cell of cochlea' should be under 'organ of corti supporting cell'"
Find the dual support cell groupings dubious.

 * supporting cell of cochlea
     * organ of corti supporting cell

(note the parallel structure in Uberon is a located-in-part-of chain, see https://github.com/obophenotype/uberon/issues/1905)

This is a single-child by axis of classification, which is a bad smell

![image](https://user-images.githubusercontent.com/50745/135505196-f71bc8c6-6643-442b

[2021-10-04 14:18] paolaroncaglia commented on #1263
Notes for self: if we do implement at the CL level:
https://www.swissbiopics.org/name/Animal_cell => CL:0000548 'animal cell'
https://www.swissbiopics.org/name/Animal_epithelial_cell => CL:0000066 'epithelial cell' (Equivalent To 'animal cell' and ('part of' some epithelium))
TBC

[2021-10-05 06:57] shawntanzk opened #1271 "Uberon import issues (again)"
CL import of uberon causes oort error due to massive amount of duplicate "def" & "name" clause - around 305 errors. Not sure what is causing the break as when looking at the offending entries in protege, the "duplicated" defs look the same so it should be causing clashes.
See this draft PR for details https://github.com/obophenotype/cell-ontology/pull/1270

[2021-10-05 07:25] shawntanzk commented on #1271
Issue might be related to clash in multiple has_alternative_id

[2021-10-05 09:32] paolaroncaglia commented on #1120
@sfexova
CL_1000347 (was: 'vacuolar absorptive cell of epithelium of colon') is now labelled 'enterocyte of colon' as requested.
The change will be visible in the next CL release. (Not scheduled yet, but the last release was 26 days ago, so probably not too long now.)

@dosumis
I've added CL_0009067 (vacuolated fetal-type enterocyte) as agreed.

[2021-10-05 09:43] paolaroncaglia commented on #1120
P.S. @sfexova @ngeorgeebi cc @dosumis
All CL and Uberon terms requested by SCA for anatomograms have now been added (pending CL release of the most recent change above).

[2021-10-05 09:50] paolaroncaglia commented on #1255
Depends on https://github.com/obophenotype/cell-ontology/issues/1271.

[2021-10-05 09:51] paolaroncaglia commented on #1113
Depends on https://github.com/obophenotype/uberon/issues/2050.

[2021-10-05 09:54] paolaroncaglia commented on #840
Depends on #1255 .

[2021-10-05 10:46] #654 closed

[2021-10-06 12:04] #1255 closed

[2021-10-06 13:48] paolaroncaglia commented on #1255
Thanks @shawntanzk !

[2021-10-06 16:50] addiehl commented on #158
Still lacks a definition, although the definition of 'visual pigment cell (sensu Vertebrata)', "A pigment cell that is capable of detecting light stimulus that is involved in visual perception." might work for the parent and sibling as well.  Some additional differentia would be helpful too.

[2021-10-06 18:37] addiehl commented on #159
This term has existed in the CL since 2014, albeit with a simpler definition ([CL:2000084](http://purl.obolibrary.org/obo/CL_2000084)), created through TermGenie.  Closing.

[2021-10-06 18:37] #159 closed

[2021-10-06 18:41] addiehl commented on #157
This seems to have been fixed a long time ago per the comments from Melissa and what I can see in CL using Protege.

[2021-10-06 18:41] #157 closed, assigned to nobody

[2021-10-06 18:45] addiehl commented on #152
'band form neutrophil' should be a type of immature neutrophil, not a mature neutrophil; my mistake.  Will fix after further review.

[2021-10-06 19:09] #140 closed

[2021-10-06 19:12] addiehl commented on #114
Seems like a valid term.  Is this still needed @cerivs?

[2021-10-06 19:14] addiehl commented on #99
@cerivs Are these still needed?

[2021-10-06 19:31] addiehl commented on #72
I believe some, perhaps all, of these issues have been addressed at some point.  CL:0000188 now has the label 'cell of skeletal muscle'.  I will close for now.  If anyone has concerns, I would recommend a new issue be started that reflects the current hierarchy and definitions of these terms.

[2021-10-06 19:31] #72 closed

[2021-10-06 19:32] addiehl commented on #37
I think this was resolved by Cindy on the MP side in 2015, so closing.

[2021-10-06 19:32] #37 closed, assigned to nobody

[2021-10-06 19:39] #16 closed, assigned to nobody

[2021-10-06 19:42] addiehl commented on #24
'electrocyte' has never been added to CL, nor has the definition of CL:0000211 'electrically active cell' been changed.

[2021-10-06 19:46] addiehl commented on #95
(see also #72) CL:0000188 in 2021 has the label 'cell of skeletal muscle' and has 'skeletal muscle cell' as an exact synonym.  I believe this is resolved, so closing.

[2021-10-06 19:46] #95 closed

[2021-10-06 19:59] addiehl commented on #79
I think the CL class 'intestinal crypt stem cell' ([CL:0002250](http://purl.obolibrary.org/obo/CL_0002250)) is the appropriate choice for the required logical definition of GO:0036335, based on a [simple Google search](https://www.google.com/search?client=safari&rls=en&q=intestinal+stem+cell&ie=UTF-8&oe=UTF-8) for "intestinal stem cell" and reading what I found.  Arguably GO:0036335 should be rena

[2021-10-06 20:10] addiehl commented on #29
'pancreatic epsilon cell' still lacks the 'part of' some pancreas axiom, but all the other pancreatic cells have it.

[2021-10-06 20:11] addiehl commented on #34
I believe this effort has been abandoned, so closing for now.

[2021-10-06 20:11] #34 closed

[2021-10-06 20:21] addiehl commented on #17
Still not in CL.  per the neuron folks, is this needed? @dosumis

[2021-10-06 20:27] addiehl commented on #351
I believe all issues here are fixed.

[2021-10-06 20:27] #351 closed

[2021-10-06 20:30] #62 closed, assigned to nobody

[2021-10-06 20:39] #35 closed, assigned to nobody

[2021-10-07 14:32] paolaroncaglia opened #1278 "Add subset annotation to CL:0009046 'T cell of medullary sinus of lymph node'"
CL:0009046 'T cell of medullary sinus of lymph node'
needs to be in the 'location_grouping' subset.
Same for 'lymph node mantle zone B cell', 'lymphocyte of small intestine lamina propria', 'smooth muscle cell of high endothelial venule of lymph node'.
Some cell types that were added for HCA might be considered location groupings too (e.g. 'nephrogenic zone cell'), but they are less generic than s

[2021-10-07 15:13] paolaroncaglia opened #1279 "[NTR] Add CL terms for thymus ASCT+B table"
cc @dosumis and @emquardokus
As discussed at yesterday’s ASCT+B harmonisation meeting, I’ll be adding CL terms needed for the thymus ASCT+B table.
Ellen has collected information and suggestions from experts in a spreadsheet.
- [x] I’ll review to address any potential issue (e.g. should any term go in Uberon instead; remove redundant superclasses).
- [x] I’ll add the annotation property ‘present i

[2021-10-07 19:33] zimmwe opened #1280 "[NTR] pulmonary lipofibroblast"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
pulmonary lipofibroblast

**Synonyms**
lipid interstitial cell

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**
Lipid droplet containing fibroblast of the alveolar interstitium.

PMID: 33624948
PMID: 9074756
PMID: 22268140

**Parent cell t

[2021-10-07 20:21] zimmwe opened #1281 "[NTR] Ureteric bud cell"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
Ureteric bud cell

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**
Epithelial cells of the uretic bud.

PMID: 9374839
PMID: 24183650
PMID: 17133361

**Parent cell type term (check the hierarchy here https://www.ebi.ac.uk/ols/

[2021-10-08 07:51] emquardokus opened #1282 "[NTR] Hepatic portal fibroblast"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
hepatic portal fibroblast

**Synonyms**
portal fibroblast

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**
Portal fibroblast are a non-parenchymal cell population located adjacent to bile duct epithelia  in liver and are distinct from stel

[2021-10-08 10:32] paolaroncaglia commented on #1281
Dear @zimmwe ,

Thank you for your request.

Similarly to your other ticket, may I please ask what project or group is this for? So we can assign the task appropriately.

Also, could you please confirm if the proposed definition
"Epithelial cells of the uretic bud."
should read
"Epithelial cells of the _ureteric_ bud."
instead?

Thanks.

[2021-10-08 10:33] #1278 closed, assigned to paolaroncaglia

[2021-10-11 14:13] paolaroncaglia commented on #1053
Duplicate of #1030 and/or #1280 ?

[2021-10-11 14:59] zimmwe commented on #1280
Thank you Paola

Best,

Wendy

From: paolaroncaglia ***@***.***>
Sent: Monday, October 11, 2021 10:44 AM
To: obophenotype/cell-ontology ***@***.***>
Cc: Zimmerman, Wendy ***@***.***>; Mention ***@***.***>
Subject: Re: [obophenotype/cell-ontology] [NTR] pulmonary lipofibroblast (#1280)

This Message is from an External Sender. Do not click links or open attachments unless you trust the sender.

Tha

[2021-10-12 08:00] dosumis commented on #1053
CC @JoshuaFortriede

[2021-10-19 00:13] lubianat opened #1287 "Improve documentation for ODK imports"
As per @matentzn's suggestion at:
- #1232

[2021-10-19 13:46] paolaroncaglia commented on #640
@addiehl
Hi Alex. When you have a chance, could you please look into this?
Thanks in advance.

[2021-10-19 14:42] lubianat opened #1288 "Improve documentation on how to contribute to CL"
Currently the contributing session is largely empty. I'll try to add some information there: https://obophenotype.github.io/cell-ontology/contributing.html

[2021-10-19 15:25] lubianat commented on #1263
By the way, here is a SPARQL query for Wikidata items that have (1) a crossref to a CL ID (2) a picture in Wikimedia Commons:

https://w.wiki/4F6T

All images in Commons have URLs and could be linked to CL elsewhere, though the design is not standardized:

![image](https://user-images.githubusercontent.com/7917951/137942026-7645f368-d62a-4434-be05-083555cf0757.png)

[2021-10-20 01:24] nicolevasilevsky commented on #1065
Hi @paolaroncaglia I'll address the open action items from Nico on the PR.

[2021-10-20 02:06] #1065 closed

[2021-10-20 07:39] paolaroncaglia commented on #1065
@nicolevasilevsky thanks!

[2021-10-20 12:19] paolaroncaglia commented on #932
Thanks @sfexova .

[2021-10-26 10:47] paolaroncaglia opened #1293 "[Typo/Bug] Typo in labels of CL:0002455 and CL:0002456"
**CL term**
CL:0002455 and CL:0002456

**Description of typo, bug or error**
"plasmactyoid" in labels should read "plasmacytoid"

Thanks to @ngeorgeebi for spotting these.

[2021-10-27 14:59] #80 closed, assigned to paolaroncaglia

[2021-10-27 16:43] #29 closed, assigned to paolaroncaglia

[2021-11-01 09:02] sfexova commented on #1120
Hi @paolaroncaglia thanks! However, I see in the screenshot above that 'enterocyte of appendix' is a child of 'enterocyte of colon' (as well of just 'enterocyte'), which it shouldn't be (and it would break the anatomograms) - can you please remove it from there?

[2021-11-01 10:54] gouttegd commented on #379
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:54] #379 closed

[2021-11-01 10:54] gouttegd commented on #8
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:54] #8 closed

[2021-11-01 10:54] gouttegd commented on #15
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:54] #15 closed

[2021-11-01 10:54] gouttegd commented on #18
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:54] #18 closed

[2021-11-01 10:54] gouttegd commented on #20
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:54] #20 closed

[2021-11-01 10:54] gouttegd commented on #22
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:54] #22 closed

[2021-11-01 10:54] gouttegd commented on #32
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:54] #32 closed

[2021-11-01 10:54] gouttegd commented on #75
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:54] #75 closed

[2021-11-01 10:55] gouttegd commented on #76
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:55] #76 closed

[2021-11-01 10:55] gouttegd commented on #77
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:55] #77 closed

[2021-11-01 10:55] gouttegd commented on #105
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:55] #105 closed

[2021-11-01 10:55] gouttegd commented on #106
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:55] #106 closed

[2021-11-01 10:55] gouttegd commented on #115
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:55] #115 closed

[2021-11-01 10:55] gouttegd commented on #132
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:55] #132 closed

[2021-11-01 10:55] gouttegd commented on #134
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:55] #134 closed

[2021-11-01 10:55] gouttegd commented on #139
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:55] #139 closed

[2021-11-01 10:55] gouttegd commented on #142
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:56] #142 closed

[2021-11-01 10:56] gouttegd commented on #143
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:56] #143 closed

[2021-11-01 10:56] gouttegd commented on #144
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:56] #144 closed

[2021-11-01 10:56] gouttegd commented on #145
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:56] #145 closed

[2021-11-01 10:56] gouttegd commented on #146
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:56] #146 closed

[2021-11-01 10:56] gouttegd commented on #147
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:56] #147 closed

[2021-11-01 10:56] gouttegd commented on #151
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:56] #151 closed

[2021-11-01 10:56] gouttegd commented on #155
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:56] #155 closed

[2021-11-01 10:57] gouttegd commented on #164
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:57] #164 closed

[2021-11-01 10:57] gouttegd commented on #167
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:57] #167 closed

[2021-11-01 10:57] gouttegd commented on #168
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:57] #168 closed

[2021-11-01 10:57] gouttegd commented on #169
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:57] #169 closed

[2021-11-01 10:57] gouttegd commented on #171
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:57] #171 closed

[2021-11-01 10:57] gouttegd commented on #172
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:57] #172 closed

[2021-11-01 10:57] gouttegd commented on #177
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:57] #177 closed

[2021-11-01 10:58] gouttegd commented on #178
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:58] #178 closed

[2021-11-01 10:58] gouttegd commented on #413
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:58] #413 closed

[2021-11-01 10:58] gouttegd commented on #417
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:58] #417 closed

[2021-11-01 10:58] gouttegd commented on #445
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:58] #445 closed

[2021-11-01 10:58] gouttegd commented on #446
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:58] #446 closed

[2021-11-01 10:59] gouttegd commented on #452
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:59] #452 closed

[2021-11-01 10:59] gouttegd commented on #457
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:59] #457 closed

[2021-11-01 10:59] gouttegd commented on #467
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:59] #467 closed

[2021-11-01 10:59] gouttegd commented on #471
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:59] #471 closed

[2021-11-01 10:59] gouttegd commented on #479
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:59] #479 closed

[2021-11-01 10:59] gouttegd commented on #481
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:59] #481 closed

[2021-11-01 10:59] gouttegd commented on #483
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 10:59] #483 closed

[2021-11-01 11:00] gouttegd commented on #495
WARNING: This issue has been automatically closed because it has not been updated in more than 3 years. Please re-open it if you still need this to be addressed – we are now getting some resources to deal with such issues.

[2021-11-01 11:00] #495 closed

[2021-11-01 11:07] gouttegd commented on #1234
44 old issues have now been closed. They are [all tagged](https://github.com/obophenotype/cell-ontology/issues?q=is%3Aissue+label%3Aautoclosed-unfixed+is%3Aclosed) with the `autoclosed-unfixed` label.

Thanks to those who contributed to cut down the number of inactive issues by 75% (down from 182 issues when this ticket was opened) in the last two months!

Now that we have an automated procedure t

[2021-11-01 11:07] #1234 closed

[2021-11-01 13:49] rays22 commented on #1076
@paolaroncaglia ,
It looks like the `GIP cell` is already

    'part of' some 'small intestine'

in the current CL release.
Can I close this ticket?

[2021-11-02 09:38] paolaroncaglia commented on #1120
Hi @sfexova ,
Hm, I thought that had been fixed. I'll look into it (whether the issue is in CL or Uberon), but I'm on leave today and tomorrow, so I re-opened the ticket and prioritized it, and I'll get back to you. Thanks.

[2021-11-02 09:52] dosumis commented on #1120
Looks like gut partonomy still needs fixing in Uberon:

![image](https://user-images.githubusercontent.com/112839/139824560-765a9852-d1b7-4213-a845-7e6b7508ef35.png)

The classification is inferred from this.

[2021-11-02 11:17] paolaroncaglia commented on #1120
Thanks @dosumis , that's why I was perplexed, I did address the partonomy in Uberon (https://github.com/obophenotype/uberon/issues/1869#issuecomment-855978938 and related https://github.com/obophenotype/uberon/issues/1920#issuecomment-859419145). I think I remember that the anatomy changes percolated even to Mondo and EFO, but I'll need to double-check everything again. Hm.

[2021-11-02 11:22] paolaroncaglia commented on #1076
Thanks @rays22 , I'll close.

[2021-11-02 11:22] #1076 closed

[2021-11-02 11:41] dosumis commented on #1120
Just looked again.  I think this is just a timing issue.  It is fixed in Uberon (the relationship of vermiform appendix to caecum in the edit file is connected_to).  I think this will just be fixed by making sure  imports are updated for CL and Uberon and then running new releases.  There might be a horrible circular issue with order of releases and stale imports that's making this harder to achie

[2021-11-02 13:53] #1293 closed

[2021-11-02 17:51] #380 closed

[2021-11-04 10:01] paolaroncaglia commented on #1279
Note for self: following up on double negative thymocyte terms, here are the relevant minutes from the May 19th 2021 CL eds meeting:
"Taxon constraints (again)
We now have better doc, but some guidance is needed on when to add taxon-specific classes:
General agreement that taxon specific general classes with no taxon specific differentia are out, e.g. we don't add "lymphocyte, human"
We do add tax

[2021-11-04 10:11] paolaroncaglia commented on #1279
So I would
- [ ] Edit the existing DN2/3/4 thymocyte terms by renaming them from e.g. 'DN2 thymocyte' to 'DN2 thymocyte (Mus musculus', adding 'present in taxon Mus musculus', and adding rdfs:comments "Molecular markers that characterize double negative thymocytes are different in mouse versus human thymus.";
- [ ] Add new terms for human specified/committed/rearranging double negative thymocytes,

[2021-11-04 10:24] paolaroncaglia commented on #1279
Trying to figure out if existing DN2/3/4 thymocyte terms are used to annotate human data elsewhere... will look closer into Ontobee info e.g. for [DN2 thymocyte](http://www.ontobee.org/ontology/CL?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0000806)

[2021-11-04 10:39] paolaroncaglia commented on #1120
Hi @dosumis (cc @sfexova )

So should we ask for updates on this ticket (it's a priority in the technical board)? Or should I just open a ticket asking to 1) update imports for CL and Uberon and then 2) run new releases? I've seen several bits of conversation on imports fly past in GitHub notifications while I was on leave... Thanks

[2021-11-05 10:44] paolaroncaglia commented on #791
Hi @sfexova and @ngeorgeebi ,
The new term is CL_0009080 (tuft cell of small intestine).
Thanks,
Paola

[2021-11-05 10:44] #791 closed

[2021-11-09 09:47] #1265 closed

[2021-11-11 14:45] paolaroncaglia commented on #1120
Hi @sfexova ,
FYI, I just followed up on the technical issue that seems to prevent resolution of this ticket.

[2021-11-11 15:08] paolaroncaglia commented on #1279
Update, following discussion offline with David and Ellen:
- [ ] I'll leave the existing DN2/3/4 thymocyte terms as they are, without restricting them to mouse, because they don't contain any taxon information, and it's hard to rule out if anyone anywhere have used them for human data. But I'll add an rdfs:comment to each of them "There is growing evidence that molecular markers characterizing dou

[2021-11-11 15:09] shawntanzk opened #1306 "Dangling CARO term and CARO incompatibility with CL"
Currently, there is a dangling CARO term (CARO_0010000) that is used by a RO term (directly develops from) that is used in UBERON term (equiv class for maxillary artery) that used by another uberon term (deep auricular artery) that isn't used by any term except itself (I think).
I tried to solve the dangling term by doing and import of that CARO term, however when trying to test a release, CARO se

[2021-11-11 18:21] paolaroncaglia commented on #1120
Update: the underlying issue is quite complex; Uberon developers are well aware of it and are discussing it actively; they're optimistic that it can be done, but resources need to be allocated for a fair chunk of time (and that's well beyond my control).
I don't think that a quicker workaround exists based on what the developers write, so all we can do is stay tuned...

[2021-11-11 18:24] dosumis commented on #1120
Context: We have a known problem with circular imports => Zombie relationships.  We are working on fixing this individual case for this release (if not this week, we can run another release v.soon). Fixing the bigger problem will take resources and a chunk of time. I'm hoping we can do this in December.

[2021-11-15 07:49] shawntanzk commented on #1100
Commenting to remove Stale tag - this will probably not make it into CL but rather into pCL when BDS side has worked that out. Would like to leave this here so that I don't forget about it

[2021-11-15 14:26] shawntanzk commented on #1306
## [latissimus dorsi muscle](http://purl.obolibrary.org/obo/UBERON_0001112) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [latissimus dorsi muscle](http://purl.obolibrary.org/obo/UBERON_0001112) SubClassOf [has muscle antagonist](http://purl.obolibrary.org/obo/RO_0002568) some [deltoid](http://purl.obolibrary.org/obo/UBERON_0001476)
    - [deltoid](http://purl.obolibrary.org/

[2021-11-15 14:30] shawntanzk commented on #1306
@cmungall @balhoff @dosumis - Could you help me with the above please? Thanks!

[2021-11-16 02:18] nicolevasilevsky commented on #1104
@kalpanaps is this still needed?

[2021-11-16 02:18] nicolevasilevsky commented on #1105
@kalpanaps is this still needed?

[2021-11-16 04:47] kalpanaps commented on #1104
It is needed, as we could not map this term to any ontology. This is one of host organism where protein-protein interaction has been detected and we need ontology support.

Let me know if any further information is needed.

Best regards,

Kalpana
----------------------------------------------
Kalpana Panneerselvam

IntAct-Senior Scientific Database Curator
European Molecular Biology Laboratory
Eur

[2021-11-16 04:57] kalpanaps commented on #1105
Yes, we need this term to be mapped to cell ontology for us to map PPIs onto this cell.

Best regards,

Kalpana
----------------------------------------------
Kalpana Panneerselvam

IntAct-Senior Scientific Database Curator
European Molecular Biology Laboratory
European Bioinformatics Institute (EMBL-EBI)
Wellcome Genome Campus
Hinxton
Cambridge CB10 1SD
United Kingdom
Tel: +44 1223 494 468
email:

[2021-11-16 05:50] nicolevasilevsky commented on #691
can this be closed?

[2021-11-16 06:13] nicolevasilevsky commented on #714
suggested revisions:
- rename to 'neural stem cell', this seems to the more commonly used name
- proposed revision to the definition: An undifferentiated neural cell that originates from the neuroectoderm and has the capacity both to perpetually self-renew without differentiating and to generate multiple central nervous system neuronal and glial cell types. (source: https://www.ncbi.nlm.nih.gov/pm

[2021-11-16 10:24] matentzn commented on #691
Yep was solved long ago.

[2021-11-16 10:24] #691 closed

[2021-11-16 11:21] matentzn commented on #572
This issue is not solved, but for future reference, i propose to just get rid of the CP namespace for now by incorporating the terms #1311 and you can deal with the issue curation wise as you see fit when you get to it. I just want to move the ID cleanup forward.

So, whoever takes this issue on: the terms, in case #1311 gets merged, now have regular CL ids.

[2021-11-16 12:18] dosumis commented on #572
I think we're close to solving it.   Needs:

1. This PATO issue fixing: https://github.com/pato-ontology/pato/issues/342
(These PATO terms have already been added) https://github.com/pato-ontology/pato/commit/0ac2938138d4c8faeccf245d09bc78e14520844e)

2. Updates to CL terms that reference CP terms to change to compound entity reference.

[2021-11-16 12:23] dosumis commented on #572
Actually - we might have most of the PATO terms already (I think they need to be moved, but that's a secondary issue)

![image](https://user-images.githubusercontent.com/112839/141984447-55035bb8-46bc-4212-a8b6-563edf3c704f.png)

[2021-11-16 12:24] matentzn commented on #572
So all 10 CP terms will be obsoleted?

[2021-11-16 12:28] dosumis commented on #572
@shawntanzk  - can you have a go at quickly cleaning this up.

Example:
[acidophilic cytoplasm](https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCP_0000027)
is used to defined these terms:

![image](https://user-images.githubusercontent.com/112839/141984910-1eb257df-cc38-4f30-b9c1-5b648d8523d0.png)

Each should be changed to:
has_part some (cytoplasm and '

[2021-11-16 13:17] dosumis commented on #572
Added to agenda for tomorrow's CL call

[2021-11-16 13:22] shawntanzk commented on #572
I'll hold off making changes on this till after tomorrow's CL call discussing this - don't want to break OBO products before discussing how to handle it

[2021-11-16 13:23] shawntanzk commented on #572
might also need a PATO release after new terms gets passed to fully complete this

[2021-11-17 12:01] paolaroncaglia commented on #1279
Notes for self: re-do the PR, remembering that there can only be one rdfs:comment per term.

[2021-11-17 17:18] #693 closed

[2021-11-18 20:26] lubianat commented on #1288
@shawntanzk any update on that?

[2021-11-18 22:23] shawntanzk commented on #1288
ODK has been updated - does it need a release to update @matentzn?

[2021-11-19 08:44] matentzn commented on #1288
Yeah, try to run an `update_repo` workflow and make sure to run it twice.

you should see a new file appearing: `.github/WORKFLOWS/docs.yml`. Once that is there, you should be able to run it by clicking on the action tab, selecting the docs action at hit "run workflow". For the next ODK version, we have implemented it so that it auto-deploys.

[2021-11-22 11:20] paola-scibite opened #1312 "[Typo/Bug] Typo in label and synonym of CL:4023036 Chandelier Pvalb GABAergic cortical interneuron (Mus musculus)"
@shawntanzk please

**CL term**
CL:4023036 Chandelier Pvalb GABAergic cortical interneuron (Mus musculus)
has exact synonym: Chandelier PV (Mus)

**Description of typo, bug or error**
Label and synonym should read 'chandelier' etc.

Thanks!
Paola

[2021-11-22 11:50] paola-scibite opened #1314 "[Typo/Bug] Typo in labels of 'Fraction' cell types"
Hi @addiehl ,

**CL term**
http://purl.obolibrary.org/obo/CL_0002045 | Fraction A pre-pro B cell
http://purl.obolibrary.org/obo/CL_0002047 | Fraction B precursor B cell
http://purl.obolibrary.org/obo/CL_0002400 | Fraction B/C precursor B cell
http://purl.obolibrary.org/obo/CL_0002049 | Fraction C precursor B cell
http://purl.obolibrary.org/obo/CL_0002050 | Fraction C' precursor B cell
http://purl.

[2021-11-22 14:19] addiehl commented on #1314
I believe the names were capitalized because they were based on classic fractionation methods for B cells in mice that were capitalized in the original papers, but I need to go back to check.  Probably they should be taxon restricted as well.  I will get back to you.

[2021-11-22 18:39] dosumis commented on #1306
* multicellular anatomical structure EquivalentTo connected anatomical structure and (has characteristic some multicellular)
* multi-cell-part structure DisjointWith multicellular anatomical structure

* innervates Domain neuron projection bundle
* neuron projection bundle SubClassOf multi-cell-part structure
* nerve plexus SubClassOf neural tissue
* neural tissue EquivalentTo tissue and (has_part

[2021-11-22 21:35] shawntanzk commented on #1306
see https://github.com/oborel/obo-relations/issues/527#issuecomment-975939041 for the test on removing domain of innervates and using --unsatisfiable root

[2021-11-23 09:17] dosumis commented on #1306
https://github.com/oborel/obo-relations/issues/527#issuecomment-976309116

[2021-11-23 11:26] #1312 closed

[2021-11-23 11:27] matentzn opened #1316 "Add QC query to remove RO defs prior to OORT step"
This is already done by @anitacaron

https://github.com/obophenotype/cell-ontology/blob/master/src/sparql/remove-op-definitions.ru

Just adding a ticket and closing for provenance.

[2021-11-23 11:27] #1316 closed

[2021-11-23 13:14] JoshuaFortriede commented on #1055
Changes
- [ ] Add term: alveolar capillary type 1 endothelial cell (CAP1)
- [ ] Add term: alveolar capillary type 2 endothelial cell (CAP2)
- [ ] Add term: pulmonary capillary endothelial cell
- [ ] Make lung microvascular endothelial cell subclass of microvascular endothelial cell

[2021-11-23 13:15] #1264 closed

[2021-11-23 20:21] #1104 closed

[2021-11-23 21:17] #345 closed

[2021-11-23 21:23] #163 closed

[2021-11-23 21:23] shawntanzk opened #1319 "Add logical defs for subtypes of spiral ganglion neurons"
From @cmungall in relation to subtypes of spiral ganglion neuron:
" Judging by the text definition I would be tempted to make a logical def, but first a DP for cell types differentiated by what they innervate."
@shawntanzk will look into this
Related to closed PR
https://github.com/obophenotype/cell-ontology/pull/1237

[2021-11-23 21:53] #21 closed

[2021-11-24 15:15] AnnekarinaPerl commented on #1055
Thank you Josh

Anne-Karina Perl, PhD
Associate Professor
Cincinnati Children's Hospital
Division of Pulmonary Biology
3333 Burnet Avenue, MLC 7029, Cincinnati, OH 45229
office: 513 636 6084
lab: 513 636 9799
fax: 513 803 4891
url: http://www.cincinnatichildrens.org/perl
[tps://www.cincinnatichildrens.org/-/media/295b830c6eb94ee2b662c61a2945e5e6.ashx?h=67&w=200]<https://www.cincinnatichildrens.org

[2021-11-25 09:02] shawntanzk opened #1320 "[NTR] SST chodl gabaergic interneuron"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
sst chodl GABAergic interneuron

**Synonyms**
[Broad] long-range GABAergic interneuron

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**
A sst GABAergic cortical interneuron that also expresses Chodl. These neurons are rare and correspond t

[2021-11-25 09:55] paolaroncaglia commented on #1279
Hi @dosumis and @emquardokus ,
I added all terms requested for the thymus ASCT+B table (15 CL terms and 1 Uberon term).
Their IDs are in the [spreadsheet](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=725346151).
All terms are now live in Uberon and CL, except for 3 double-negative thymocyte terms which I just added. There was a CL release 2 days ago,

[2021-11-25 09:55] #1279 closed

[2021-11-25 10:27] paolaroncaglia commented on #1120
Hi @sfexova and @dosumis ,
Following up on this, there was a CL release 2 days ago, and unfortunately 'enterocyte of appendix' is still a child of 'enterocyte of colon' (as well of just 'enterocyte'), due to the Uberon import. David was hoping to address the wider issue next month, but I don't know if plans for resource allocation have been finalized, see https://github.com/obophenotype/uberon/iss

[2021-11-25 10:52] dosumis commented on #1120
@shawntanzk @matentzn  - seems we still didn't slay the zombie manually.  Is there any way we might be able to get a release where this is not broken, or do we need to wait for the new import mechanism to be working.

[2021-11-25 10:59] shawntanzk commented on #1120
@matentzn - can we remove all the axioms on that (including the import file ones) and use IMP=false for the next release as a temp fix?  I need a CL release soon anyway, so happy to do this (though ideally after uberon release - think there's a term change due to obsoletion in uberon that needs to go first... lol more circular funtimes). So basically:
1) uberon release
2) refresh uberon import in

[2021-11-25 11:20] paolaroncaglia commented on #932
Hi @sfexova ,

Following up on CL term requests for
'central venous hepatic sinusoidal endothelial cell'
'periportal hepatic sinusoidal endothelial cell'
'portal endothelial cell'

based on the reference you provided (https://www.nature.com/articles/s41467-018-06318-7 = PMID:30348985):
“We observed three endothelial cell populations…
The most abundant endothelial cell cluster … we propose that the

[2021-11-25 11:21] matentzn commented on #1120
Lets discuss in meeting later today, just mention it to me. Its easy to fix

[2021-11-25 11:22] paolaroncaglia commented on #1120
Thanks everyone :-)

[2021-11-25 13:58] paola-scibite opened #1324 "Typo in label of CL:0002181 mucus neck cell of gastric gland"
**CL term**
CL:0002181 mucus neck cell of gastric gland

**Description of typo, bug or error**
The label should read 'mucous' not 'mucus' (the former is the adjective for the latter). This suggestion is also supported by the parent's label 'mucous neck cell', and by usage in literature. 'mucus neck cell of gastric gland' could stay as a synonym, even an exact one. Thanks.

[2021-11-25 14:04] paola-scibite opened #1325 "Typo in labels of CL:4023023 and CL:4023024"
@shawntanzk please

**CL term**
CL:4023023 L5,6 Neurogliaform Lamp5 GABAergic cortical interneuron (Mus musculus)
CL:4023024 Neurogliaform Lamp5 GABAergic cortical interneuron (Mus musculus)

**Description of typo, bug or error**
Neurogliaform should be lowercase, thanks. :-)

[2021-11-25 14:26] paola-scibite opened #1326 "Revise synonym of CL:0000192 smooth muscle cell"
**CL term**
CL:0000192 smooth muscle cell

**Description of typo, bug or error**
Defined as "A non-striated, elongated, spindle-shaped cell found lining the digestive tract, uterus, and blood vessels..."
and subclass of 'non-striated muscle cell'
but has _narrow_ synonym "non-striated muscle cell" => should be broad please. Thanks.

[2021-11-25 14:48] paola-scibite opened #1327 "Typo in label of CL:0002318 periperhal blood mesothelial cell"
**CL term**
CL:0002318 periperhal blood mesothelial cell

**Description of typo, bug or error**
Should read peripheral please. Thanks.

[2021-11-25 14:56] paola-scibite opened #1328 "Capitalization of pvalb/Pvalb"
@shawntanzk
Minor issue, but should the capitalization of pvalb/Pvalb be more consistent throughout CL? Please see screenshot. Thanks.

![Screenshot 2021-11-25 at 15 54 57](https://user-images.githubusercontent.com/61156599/143463087-71f6e453-3ec0-4b7e-91b9-fd1aa079b550.png)

[2021-11-25 15:31] paola-scibite opened #1329 "Revise label of CL:0000630 supportive cell?"
**CL term**
CL:0000630 supportive cell

**Description of typo, bug or error**
"A cell whose primary function is to support other cell types."
As a non-native English speaker, this is one of my favourite CL terms. But shouldn't the primary label be 'supporting cell', with 'supportive cell' as a synonym? The current label seems very little used in literature. Even the BTO term that it xrefs to is na

[2021-11-25 16:46] shawntanzk commented on #1120
So this will be fixed once this release gets approved: https://github.com/obophenotype/cell-ontology/pull/1330
However caveat being that its not a permanent fix - if anyone refreshes uberon import, it will probably come back again :( part of the cyclical problem basically. But I guess for now at least this can be used.

[2021-11-25 20:58] nicolevasilevsky commented on #1327
I'll fix this

[2021-11-25 21:04] nicolevasilevsky commented on #1326
I'll fix this.

[2021-11-25 21:07] nicolevasilevsky commented on #1324
I'll fix this

[2021-11-25 21:14] #1327 closed

[2021-11-25 21:14] #1326 closed

[2021-11-25 21:33] #1105 closed

[2021-11-26 10:15] shawntanzk commented on #1120
Fixed in latest release: https://github.com/obophenotype/cell-ontology/releases/tag/v2021-11-25
![Screenshot 2021-11-26 at 10 14 41](https://user-images.githubusercontent.com/76212760/143564684-b8812519-aa1e-4f1c-9cf9-a223ac62f6b2.png)

[2021-11-26 10:20] paolaroncaglia commented on #1120
Reopening because we need to inform and discuss with the submitter :-)

[2021-11-26 10:21] shawntanzk commented on #1120
sorry - habit of doing this with the boards I handle to keep them clean >.<

[2021-11-26 10:28] paolaroncaglia commented on #1120
@sfexova
In brief: the latest release of the Cell Ontology (CL) contains the fix you need for 'enterocyte of appendix'.
This is the 2021-11-25 Release (v2021-11-25) here: https://github.com/obophenotype/cell-ontology/releases/tag/v2021-11-25
Your team should download it asap and use it for the anatomograms.
The fix is very temporary: as soon as CL needs a new Uberon term to be imported, the issue

[2021-11-26 11:11] #1325 closed

[2021-11-26 11:11] #1328 closed

[2021-11-26 12:27] matentzn commented on #1120
We have already implemented a pipeline that will avoid the issue from coming back - no need to worry about that.

[2021-11-26 12:41] lubianat commented on #1288
@matentzn and @shawntanzk just an update, the documentation is still not deployed (https://obophenotype.github.io/cell-ontology/contributing.html). No rush, just thought to let you know.

[2021-11-26 12:42] matentzn commented on #1288
@shawntanzk let me know if you have an issue, should  be 5 min.

[2021-11-26 12:49] lubianat commented on #1287
It is not clear to me which systems dependency are required at: https://obophenotype.github.io/cell-ontology/odk-workflows/UpdateImports#refresh-imports

Perhaps that could use some additional documentation

[2021-11-26 12:54] matentzn commented on #1287
What do you mean by systems dependency again? :) thanks @lubianat

[2021-11-26 13:02] lubianat commented on #1287
@matentzn  I guess just "Make sure docker is installed" would suffice :)

[2021-11-26 13:57] matentzn commented on #1287
This will be fixed as part of https://github.com/INCATools/ontology-development-kit/pull/496

Closing it here as it should be in the ODK repo. Thank you @lubianat

[2021-11-26 13:57] #1287 closed

[2021-11-28 00:04] #1324 closed

[2021-11-29 14:28] anitacaron commented on #1288
Now it's deployed

[2021-11-29 14:50] anitacaron commented on #1306
We'll look this again after base migration.

[2021-11-29 15:46] paolaroncaglia commented on #1120
Thanks @matentzn et al, that's great!

[2021-11-29 15:48] paolaroncaglia commented on #1120
@sfexova
That should be all of the CL terms you requested for SCA then. I'll close this ticket.

[2021-11-29 15:48] #1120 closed

[2021-11-30 09:54] dosumis commented on #932
’endothelial cell' and ('adjacent to' some 'hepatic portal vein')
but if that's the case, the term wouldn't be part of the liver in the SCA anatomogram. So perhaps
’endothelial cell' and ('part of' some liver) and ('adjacent to' some 'hepatic portal vein').

Unless you are defining a very broad grouping term (e.g. endothelial cell of liver) I think any endothelial cell needs to be part of some vei

[2021-11-30 16:02] paolaroncaglia commented on #932
Hi @dosumis ,

Yep, thanks. The existing term 'endothelial cell of periportal hepatic sinusoid' is Equivalent To
'endothelial cell of hepatic sinusoid' and ('adjacent to' some 'portal triad').
So I think the term @sfexova needs for 'portal endothelial cell’ should be Equivalent To
’endothelial cell' and (’part of' some ‘hepatic portal vein’)
and should in fact be labelled, for consistency and comp

[2021-11-30 16:31] paolaroncaglia commented on #932
Added CL_0009084 (epithelial cell of endometrial gland)
More soon(ish).

[2021-11-30 17:41] nicolevasilevsky commented on #1329
this sounds good to me, I'll create a PR

[2021-12-01 02:14] cmungall opened #1337 "missing crucial inferences, such as hippocampal neuron is-a forebrain neuron"
I was surprised to see these two terms are not in a subsumption relationship:

![image](https://user-images.githubusercontent.com/50745/144158528-bad48d52-eebf-4b74-be31-9a3b0dbc2b39.png)

The reason for this is that one term uses this pattern: https://obophenotype.github.io/cell-ontology/patterns/cellPartOfAnatomicalEntity/

the other users the has-soma-location pattern

this is effectively creat

[2021-12-01 08:41] dosumis commented on #1337
Agreed.  We have some guidance here: https://github.com/obophenotype/cell-ontology/blob/master/docs/relations_guide.md#recording-location

@shawntanzk - I thought we'd updated all these.  Can you look into this & fix any that have been missed.

[2021-12-01 08:46] shawntanzk commented on #1337
I fixed it very specifically - making MTG part of cerebral cortex
Happy to look into this, will try to figure out what all the above means >.<

[2021-12-01 10:53] shawntanzk commented on #1337
@dosumis @cmungall just took a look at this, I can fix it for now by changing it to hippocampal neuron to to 'has soma location' some 'ammon's horn' and while I'm at it, change all the CNS neuron to use 'has soma location' instead of 'part of', but I do not know how to deal with the (sensu Vertebrata) over-specification issue

[2021-12-01 14:58] paola-scibite opened #1339 "Please revise labels of CL:0002570 and CL:2000080"
**CL term**
CL:0002570 'mesenchymal stem cell of adipose'
and
CL:2000080 'mesenchymal stem cell of abdominal adipose'

**Description of typo, bug or error**
Labels should be improved to 'mesenchymal stem cell of adipose _tissue_' and 'mesenchymal stem cell of abdominal adipose _tissue_', respectively. Current labels may be kept as exact or related synonym.
Also, the current definition of CL:200008

[2021-12-01 17:31] #370 closed

[2021-12-02 08:39] paolaroncaglia opened #1342 "Please import UBERON:0001639 'hepatic portal vein'"
Hi @shawntanzk ,
Could you please import UBERON:0001639 'hepatic portal vein' into CL? Or let me know if I should ask someone else.
Needed for https://github.com/obophenotype/cell-ontology/issues/932.
Thanks!
Paola

[2021-12-02 11:07] paola-scibite opened #1344 "[Class hierarchy] Missing parent for CL:0000241 'stratified cuboidal epithelial cell'"
**CL term**
CL:0000241 'stratified cuboidal epithelial cell'

**Suggested revision and reasons**
Currently a subclass of 'stratified epithelial cell' only.
Please consider making it also a subclass of CL:0000075 'columnar/cuboidal epithelial cell'. Thanks.

[2021-12-02 13:58] #1342 closed

[2021-12-02 19:19] lubianat commented on #1288
It doesn't seem to be fixed: https://obophenotype.github.io/cell-ontology/contributing.html is still not deployed. @anitacaron do you know what might have happened?

[2021-12-02 19:20] matentzn commented on #1288
Wrong URL: https://obophenotype.github.io/cell-ontology/contributing/

[2021-12-02 19:24] lubianat commented on #1288
oops, thanks!

The https://obophenotype.github.io/cell-ontology/cite/  and https://obophenotype.github.io/cell-ontology/history/ are empty still though, but I guess this is just in need of documentation.

[2021-12-02 19:24] #1288 closed

[2021-12-02 20:04] lubianat commented on #1058
@AnnekarinaPerl and @gpryhuber do you still want that term? I could try and work on it.

[2021-12-03 04:22] gpryhuber commented on #1058
Yes, I believe we would please. These references/reviews might help.

On Dec 2, 2021, at 3:04 PM, Tiago Lubiana ***@***.******@***.***>> wrote:

@AnnekarinaPerl<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_AnnekarinaPerl&d=DwMCaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=0UPFW52Ms9_0gvP82sLPFbgn-BOWk4r8o4aVJVkhA5oNBxx8jJUc9rUUtL18kOvY&m=pgIF_W9n2dgcyD7KNtQGEZ02g0vg5cFpnryO

[2021-12-03 13:57] AnnekarinaPerl commented on #1058
Yes please

Anne-Karina Perl, PhD
Associate Professor
Cincinnati Children's Hospital
Division of Pulmonary Biology
3333 Burnet Avenue, MLC 7029, Cincinnati, OH 45229
office: 513 636 6084
lab: 513 636 9799
fax: 513 803 4891
url: http://www.cincinnatichildrens.org/perl

Admin: Erika Smith
 ***@***.******@***.***>

[signature_1957741850]<https://www.cincinnatichildrens.org/>

From: gpryhuber ***@***.

[2021-12-06 14:22] paolaroncaglia commented on #1112
Hi @matentzn ,
Tagging you as you linked a pull request recently: I think that this issue could be closed as a duplicate and because you're already working on a solution, but please confirm in case any loose end needs to be documented somewhere. Thanks.

[2021-12-06 15:25] paolaroncaglia opened #1351 "Please import UBERON:0004021 spongiotrophoblast layer"
Please import UBERON:0004021 spongiotrophoblast layer (needed for #26 ).
Thanks!

[2021-12-06 15:38] matentzn commented on #1112
Thanks for pointing. @dosumis needs to decide what to do with #1311 - I think it should be merged.

[2021-12-06 15:51] anitacaron opened #1352 "Unify all attribution to ORCID REF: pato#278"
Duplicating issue for tracking purposes.

REF: https://github.com/pato-ontology/pato/issues/278

[2021-12-06 16:46] paolaroncaglia opened #1353 "[Typo/Bug] error in annotation of CL:1000398 'endothelial cell of hepatic sinusoid'"
**CL term**
CL:1000398 'endothelial cell of hepatic sinusoid'

**Description of typo, bug or error**
has exact synonym LSEC, with AP _has exact synonym_ PMID:x
Replace with dbxref.
(I'm happy to do the edit, but I'll leave it as is for now in case it can be used for automated checks, see below.)

@matentzn @dosumis
Are there checks in place to flag when a PMID is associated with anything other tha

[2021-12-06 19:18] matentzn commented on #1353
In such cases, always tag @shawntanzk and @anitacaron rather than me because they do the triaging of the tech call issues! :)  Thanks for the issue!

[2021-12-07 08:57] shawntanzk opened #1354 "Add check to flag when a PMID is associated with anything other than dbxref"
annotations starting with PMID: should only ever be dbxrefs
Related to #1353

[2021-12-07 08:57] shawntanzk commented on #1353
Created a ticket for this :) thanks

[2021-12-07 15:44] #1329 closed

[2021-12-08 15:20] dosumis commented on #876
Add to PCL for now.

[2021-12-08 15:20] dosumis commented on #884
PCL for now

[2021-12-09 14:28] paola-scibite opened #1359 "[Merge] CL:0002609 (neuron of cerebral cortex) into CL:0010012 (cerebral cortex neuron)"
@dosumis @shawntanzk

**CL term (ID and Label)**
CL:0002609 (neuron of cerebral cortex)

**Reason for deprecation**
The parent CL:0010012 (cerebral cortex neuron) is Equivalent to: neuron and has soma location some cerebral cortex
The child CL:0002609 (neuron of cerebral cortex)is Equivalent to: CNS neuron (sensu Vertebrata) and has soma location some cerebral cortex
but cerebral cortex is only fo

[2021-12-09 14:31] shawntanzk commented on #1359
I'll handle this - we actively use one of these terms so will be careful with my merge. Thanks for pointing this out @paola-scibite

[2021-12-09 14:36] JoshuaFortriede commented on #1055
For reference, the newly created term "Alveolar capillary type 1 endothelial cell" has ID CL:4028002.

[2021-12-09 14:36] #1055 closed

[2021-12-09 14:37] JoshuaFortriede commented on #1031
This term has been added as "alveolar capillary type 2 endothelial cell" and has an ID of CL:4028003

[2021-12-09 14:38] #1031 closed

[2021-12-09 16:11] #1344 closed

[2021-12-09 16:13] #1339 closed

[2021-12-09 16:21] paolaroncaglia commented on #1102
As far as I'm aware, the general revision of DC terms that @addiehl advised above hasn't been carried out yet, so this ticket shouldn't be closed. Also, it's linked to an obophenotype project board.

[2021-12-09 17:23] shawntanzk commented on #876
migrated issue to https://github.com/obophenotype/brain_data_standards_ontologies/issues/225

[2021-12-09 17:23] #876 closed

[2021-12-09 17:25] shawntanzk commented on #884
migrated to https://github.com/obophenotype/brain_data_standards_ontologies/issues/226

[2021-12-09 17:25] #884 closed

[2021-12-09 19:28] rays22 opened #1362 "[Typo/Bug] Add '-E' flag in document 'Fixing ^^xsd:string Diffs'"
**Description of typo, bug or error**
The command in the document `docs/Fixing_xsdstring_diffs.md`:

lacks the sed flag `-E` found in the `cl.Makefile` command:

For consistency, I would change the command in the document and add the `-E` flag as follows:

[code]

[2021-12-09 23:54] rays22 commented on #1362
The syntax is incorrect and the regular expression fails if you copy the command from the text:
[code]

* It works after removing the incorrectly escaped brackets `\(` and `\)`:

[code]

It is fixed in https://github.com/obophenotype/cell-ontology/pull/1363/commits/7844a16551739b107cf2efe185833d79b616e64b .

[2021-12-10 11:11] paola-scibite opened #1364 "[Merge] CL:0000717 'fusimotor neuron' into CL:0008037 'gamma motor neuron'"
@dosumis (cc @shawntanzk )

**CL term (ID and Label)**
CL:0000717 'fusimotor neuron'

**Reason for deprecation**
Currently, CL:0000717 'fusimotor neuron' and CL:0008037 'gamma motor neuron' are siblings.
The former is defined as "A subset of motor neurons that innervates intrafusal muscle fibers and has small diameter axons.".
The latter as "A lower motor neuron that innervates only intrafusal mus

[2021-12-10 11:54] paola-scibite opened #1365 "[Merge] CL:0000439 'prolactin secreting cell' and CL:0002311 'mammotroph'"
CL:0000439 'prolactin secreting cell':
A peptide hormone cell that secretes prolactin.
adenohypophysis has part some prolactin secreting cell

CL:0002311 'mammotroph' (child of CL:0000439 'prolactin secreting cell'):
An acidophilic cell of the anterior pituitary that produces prolactin.
Subclass of:
prolactin secreting cell
acidophil cell of pars distalis of adenohypophysis

Are there cells that s

[2021-12-10 12:53] shawntanzk commented on #1364
I'll handle this :) thanks for spotting this @paola-scibite and sorry for adding gamma motor neuron without checking properly first >.<

[2021-12-10 15:35] paolaroncaglia opened #1368 "Typo in def of CL:0000359 vascular associated smooth muscle cell"
**CL term**
CL:0000359 vascular associated smooth muscle cell

**Description of typo, bug or error**
"A smooth muscle cell _assocatiated_ with the vasculature."
=> please correct to associated.

[2021-12-10 16:51] #1354 closed

[2021-12-10 17:01] #1353 closed

[2021-12-10 17:13] #1364 closed

[2021-12-13 15:01] paolaroncaglia commented on #932
Hi @sfexova ,
I hope all's well. FYI, I finished adding CL terms for SCA to replace the previous EFO terms. The new CL IDs are in https://github.com/obophenotype/cell-ontology/issues/932#issue-803754398.

[2021-12-13 15:03] paolaroncaglia commented on #932
Note to self: I'm not closing this ticket yet, due to the last 3 checkpoints in https://github.com/obophenotype/cell-ontology/issues/932#issue-803754398.

[2021-12-13 16:10] JoshuaFortriede commented on #1030
This new term has been added as "alveolar type 1 fibroblast cell" and has an ID of CL:4028004. The term "alveolar fibroblast" has been added as a synonym.

[2021-12-13 16:11] JoshuaFortriede commented on #1280
This new term has been added as "alveolar type 1 fibroblast cell" and has an ID of CL:4028004. The requested term name has been added as a synonym, along with the synonym "lipid interstitial cell". PMIDs have been added as well.

[2021-12-13 16:11] #1280 closed

[2021-12-13 16:12] JoshuaFortriede commented on #1053
This new term has been added as "alveolar type 1 fibroblast cell" and has an ID of CL:4028004. The requested term name has been added as a synonym, along with the synonyms "Lipofibroblast" and "Matrix Fibroblast 1". PMIDs have been added as well. The marker genes were not added yet as the best method of this is still being determined.

[2021-12-13 16:12] #1053 closed

[2021-12-13 16:18] zimmwe commented on #1280
Thank you!

From: JoshuaFortriede ***@***.***>
Sent: Monday, December 13, 2021 11:12 AM
To: obophenotype/cell-ontology ***@***.***>
Cc: Zimmerman, Wendy ***@***.***>; Mention ***@***.***>
Subject: Re: [obophenotype/cell-ontology] [NTR] pulmonary lipofibroblast (#1280)

This Message is from an External Sender. Do not click links or open attachments unless you trust the sender.

This new term has be

[2021-12-14 11:04] paolaroncaglia opened #1373 "Restrict CL:0000034 'stem cell' to Metazoa"
Summarizing from https://github.com/obophenotype/cell-ontology/issues/524:
Edit CL:0000034 'stem cell' as follows:
- [ ] add object property 'in taxon' Metazoa
- [ ] add exact synonym “animal stem cell”
- [ ] add rdfs:comment “This term applies to metazoan. For plant stem cells, consider using PO:0004011 ‘initial cell’ or its parent PO:0004010 ‘meristematic cell’.”

[2021-12-14 11:05] #524 closed

[2021-12-16 10:17] bvarner-ebi commented on #1368
@paolaroncaglia , @dosumis, after opening cl-edit.owl and running the reasoner (before making any changes), I see the following disjoint appear on all the classes:

![Screenshot 2021-12-16 at 05 13 38](https://user-images.githubusercontent.com/95643797/146352817-029ae897-ef8b-4437-b5a5-a1df9447f977.png)

owl:Nothing is also red in the class hierarchy.

Is this expected?

[2021-12-16 10:28] dosumis commented on #1368
@shawntanzk  - is this the inconsistency coming in from GO which is only visible with ELK 0.5 ?  Should we be recommending that everyone switch back to [elk 0.43](https://github.com/liveontologies/elk-reasoner/releases) until this is fixed?

[2021-12-16 10:34] shawntanzk commented on #1368
Yeah it is
Leaving this link so that this ticket gets linked there to it https://github.com/geneontology/go-ontology/issues/16524

[2021-12-16 11:09] paolaroncaglia commented on #1368
As per discussion on cl-editors Slack:
Please could all editors make sure they have ELK 0.4.3 installed for Protege (https://github.com/liveontologies/elk-reasoner/releases), and use this for editing CL until further notice. Thanks!

[2021-12-16 11:28] dosumis commented on #1368
Sorry all - I got a slap on the wrist from @matentzn  for suggesting this.  He prefers fixes upstream that stop this and related issues from bleeding through.

[2021-12-16 11:54] shawntanzk opened #1376 "Reinstating range constraints on 'has characteristic' and 'regulates'"
Currently to fix import issues that create unsat classes, we need to remove range constraints on 'has characteristic' and 'regulates'
This ticket is a reminder to remove this hack when the issues in GO are resolved

related to https://github.com/geneontology/go-ontology/issues/16524

@rays22 (or @dosumis) not sure if the above is the only ticket for this? or if there are tickets in GO to fix “has

[2021-12-16 12:06] matentzn opened #1378 "Revert GO MIRROR in cl.Makefile"
[code]

Should be reverted when GO replaces `CL:0000243`.

@rays22 can you check if http://purl.obolibrary.org/obo/go/go-base.owl still uses CL:0000243? If so, make sure there is an issue on the GO repo and link it here.

[2021-12-16 12:08] matentzn opened #1379 "Reinstate normal CLO mirror"
CLO does not have a base, so we have to drop some classes from the mirror in CL. This will probably never fix, so I wont put it on the board. If someone is eager go make a https://github.com/CLO-ontology/CLO issue, but there are multiple problems, not just the use of an obsolete class.

[code]

[2021-12-16 12:09] dosumis commented on #1378
I thought the fix would be to RO ?

[2021-12-16 12:11] matentzn commented on #564
Is this still a problem?

[2021-12-16 12:12] matentzn opened #1380 "Simple and basic files are not generated according to ODK standards"
Currently using oort.

This may be historical. We could simply remove these goals from cl.Makefile and look at the resulting diff.

[code]

[2021-12-16 12:14] dosumis commented on #1378
OK. I can see this is a separate issue. Please ignore my last comment.

[2021-12-16 12:47] bvarner-ebi commented on #1368
@dosumis, would it be prudent to pause future pull requests until this is resolved?

[2021-12-16 12:51] matentzn commented on #1368
Its resolved #1377

dont stop yourself @bvarner-ebi

[2021-12-16 12:53] rays22 commented on #1376
I did a quick search, but I could not find any other related issue in GO.

[2021-12-16 13:20] rays22 commented on #1378
I can confirm that CL:0000243 is not used by [go-basic.obo.](http://purl.obolibrary.org/obo/go/go-basic.obo )

[2021-12-16 13:44] matentzn commented on #1378
Ok thanks @rays22 , @shawntanzk whenever you have time (after RO PR is merged), you can deal with this, but no rush at all.

[2021-12-16 14:18] shawntanzk commented on #1368
#1377 has been merged to master - once you update it, it should not show any unsats anymore :)

[2021-12-16 15:25] shawntanzk commented on #1376
for the GO terms - next release should fix it (see https://github.com/geneontology/go-ontology/issues/22587)

[2021-12-17 21:57] #1112 closed

[2021-12-20 08:28] #1100 closed

[2021-12-20 09:32] shawntanzk commented on #1378
I assume the RO PR mentioned is this: https://github.com/oborel/obo-relations/pull/543

[2021-12-20 10:19] matentzn commented on #1378
For this issue here, its only about the obsolete class. If the class is no longer obsolete, you can jus remove the above from cl.Makefile and regenerate the import

[2021-12-20 11:39] paola-scibite commented on #589
Hi, could this ticket be reopened please. I suggest that these two terms are disambiguated, as they're hard to distinguish at first sight unless focusing on the xref and (GO) annotations:

CL:0002174 follicular cell of ovary
"A cell within the follicle of an ovary."
Has xrefs to FMA and EMAPA, and a link ovarian follicle has part follicular cell of ovary

CL:0000477 ovarian follicle cell
"A somati

[2021-12-20 13:32] bvarner-ebi commented on #1066
Hi @paolaroncaglia, I noticed the definition for CL:0007021 'alarm substance cell' has the title of the reference in brackets at the end even though the ISBN is included in the annotation.
Is the title in the definition redundant and should it be removed from the definition string?

[2021-12-20 17:48] gouttegd commented on #589
In obophenotype/uberon#1524, @dosumis suggested that the two terms (`follicular cell of ovary` and `ovarian follicle cell`) could be merged as they appeared to be duplicates. It is true that, strictly within CL, the two terms are redundant.

However, I do note that we have in Uberon two distinct terms to refer to the mammalian follicle (`ovarian follicle`, UBERON:0001305) and the insect follicle a

[2021-12-20 18:31] emquardokus commented on #589
https://rep.bioscientifica.com/view/journals/rep/159/2/REP-18-0593.xml
<img width="787" alt="Screen Shot 2021-12-20 at 1 30 09 PM" src="https://user-images.githubusercontent.com/47257000/146815546-60aa35fe-40db-4037-af7a-0dad620e71da.png">

[2021-12-20 18:54] shawntanzk commented on #1337
The PR merged above will fix this issue, but wider question on querying is still there. @cmungall mentioned he will write up another ticket for this.

[2021-12-20 18:54] #1337 closed

[2021-12-20 19:11] cmungall opened #1389 "Create a DP for has-soma-location pattern"
So far we have a DP documented for cells part of anatomy:

https://obophenotype.github.io/cell-ontology/patterns/cellPartOfAnatomicalEntity/

But none for has-soma-location(HSL)

We need to add these, and make the ontology consistent (which @shawntanzk has been doing -see #1337)

We need to document whether

 1. We *only* use HSL for neurons->uberon
 2. We use a mixture of part-of and HSL as appro

[2021-12-20 19:53] shawntanzk commented on #1389
tagging @dosumis here

[2021-12-21 08:31] paola-scibite opened #1390 "[Typo/Bug] Duplicated exact synonym in CL:0002430 and CL:0002431"
**CL term**
CL:0002430 CD4-intermediate, CD8-positive double-positive thymocyte
CL:0002431 CD4-positive, CD8-intermediate double-positive thymocyte

**Description of typo, bug or error**
Both terms have the same exact synonym except for an uppercase/lowercase letter. Not sure if CL has checks for duplicated exact synonyms - if it does, that may be why this case wasn't picked up. The synonym is T.4

[2021-12-21 08:58] paola-scibite opened #1391 "[Typo/Bug] Minor typo in def of CL:0000190 'fast muscle cell'"
**CL term**
CL:0000190 'fast muscle cell'

**Description of typo, bug or error**
There's an extra space at the end of the def: "A muscle cell that can develop high tension rapidly. It is usually innervated by a single alpha neuron .". We could keep it for Joanna for training purposes.

[2021-12-21 10:20] paola-scibite opened #1392 "[Class hierarchy] CL:1000433 and CL:1000435 epithelial cell of lacrimal canaliculus/duct"
**CL term**
CL:1000433 and CL:1000435 epithelial cell of lacrimal canaliculus/duct

**Suggested revision and reasons**

CL:1000433 epithelial cell of lacrimal canaliculus
Equivalent to
epithelial cell and part of some lacrimal canaliculus;

CL:1000435 epithelial cell of lacrimal duct
Equivalent to
non-branched duct epithelial cell and part of some lacrimal drainage system;

UBERON:0001850 lacrimal

[2021-12-21 15:34] paolaroncaglia commented on #1390
@matentzn please (no rush): does CL have automated checks in place to detect if an exact synonym is duplicated on more than one term? I expect it has, just checking. Thanks.

[2021-12-21 15:45] bvarner-ebi opened #1393 "Should anucleate and nucleated be disjoint?"
Could someone comment on whether the classes indicated below should be made disjoint?
If not, could you explain the reasoning?

PATO_0001405 anucleate disjoint with PATO_0002505 nucleated
PATO_0001407 mononuclate disjoint with PATO_0001908 | multinucleate

Additionally, should 'nucleated' be renamed to 'nucleate' to be in line with the other labels (e.g., anucleate, mononucleate, multinucleate, bi

[2021-12-21 16:10] paolaroncaglia commented on #1393
Hi @bvarner-ebi ,
Some quick thoughts:
The topic was discussed previously, please check out related issues (pro tip: in the [main issue page](https://github.com/obophenotype/cell-ontology/issues), add "anucleate" in the filter textbox, and inspect open and closed issues; works with CL IDs too, though IDs make for stricter search parameters);
The same cell type may be nucleated and then become anuc

[2021-12-21 16:16] paolaroncaglia commented on #1393
(@bvarner-ebi to clarify - I'm assigning the ticket to you so you can "own" the discussion. Edits to such high-level terms should be discussed with other editors, so please don't feel like you have to solve the puzzle all by yourself :-) but it's good practice to "lead" or at least follow up on tickets we editors open ourselves, otherwise they tend to fall through the cracks. Additional or alterna

[2021-12-21 16:30] paolaroncaglia commented on #1392
Dear CL and Uberon editors,
No rush, but it'd be great if someone other than me could address this issue please, along with the related Uberon one. (This ticket was assigned to Nicole via the automated template; I'll leave it like that for now, but please feel free to contribute!)
Note that UBERON:0001850 'lacrimal drainage system' is applicable (restricted) to Tetrapoda, so the related anatomical

[2021-12-21 16:46] bvarner-ebi commented on #1393
Thank you, @paolaroncaglia. Your advice and direction make sense to me.

I had not thought about the temporal aspect. However, at any specific moment in time, I don't think a cell can be nucleate and anucleate at the same time. I'll have a look at the previous threads.

For the RBC example, I do see there are separate classes for enucleate erythrocyte (should this should be **a**nucleate erythrocy

[2021-12-21 17:37] addiehl commented on #1393
Well you can always add it in a branch and see if the reasoning breaks. It is good to be be careful and conservative when adding such a strong axiom.

[2021-12-21 17:51] addiehl commented on #1390
These synonyms came from the [ImmGen](https://www.immgen.org) project. Unfortunately, ImmGen does not provide a straightforward way to search their cell types. They do show "T_4int8+_Th" and "T_4+8int_Th" on this [page](http://rstats.immgen.org/MyGeneSet_New/index.html), under "ab T Cells" in the "Microarray V1" tab. I suspect CL:0002430 corresponds to "T_4int8+_Th", and CL:0002431 corresponds to

[2021-12-22 12:46] dosumis commented on #1393
PATO should have

[code]

That should be sufficient for the check that you want. We should check whether these axioms makes it through the (recently revised) import process

It would be good to add these details into the [relations guide](https://github.com/obophenotype/cell-ontology/blob/master/docs/relations_guide.md)

We deal with cells that transition between nucleated and anucleate by making

[2021-12-22 12:57] dosumis commented on #1393
I've just checked.  The disjointness axioms are not in PATO, but ~equivalent axioms are already in CL:

![image](https://user-images.githubusercontent.com/112839/147096078-4ddfa0c0-ec53-4f75-9383-c85f7308f117.png)

(I may have misremembered how this is recorded.)

@bvarner-ebi  - The pattern here is like the one we used for making red and white wine disjoint in the tutorial exercises vs making the

[2021-12-22 13:15] bvarner-ebi commented on #1393
Thanks for reviewing, @dosumis!

When it comes to imported terms in CL, do we have the latitude to make those changes in CL or do we need additional communication and sign-off?

I did go ahead and make the disjoints to the PATO classes and changed 'nucleated' to 'nucleate' in a branch (issue#1393-nucleateDisjoint). I did not find any errors after running the reasoner, but did notice many changes t

[2021-12-22 14:57] #1066 closed

[2021-12-22 14:58] #1373 closed

[2021-12-22 15:55] bvarner-ebi commented on #1393
Spoke with @dosumis. He explained that edits to terms in CL that come from PATO would be overwritten with the next import, so the changes, if any, should happen in PATO. If we'd like to pursue the changes mentioned in this ticket, it was suggested to add it to one of the meeting agendas to get more feedback. I deleted my branch ((issue#1393-nucleateDisjoint).
We also discussed developing a CL styl

[2021-12-22 15:55] #1393 closed

[2021-12-24 12:05] #1368 closed

[2022-01-01 12:35] matentzn commented on #1390
@paolaroncaglia Make sure we have such QC issues separately from from the concrete synonym clashes, and add them to our board: https://github.com/orgs/obophenotype/projects/5

This makes sure that they will be dealt with soon :)

[2022-01-04 12:22] bvarner-ebi commented on #1390
Created https://github.com/obophenotype/cell-ontology/pull/1394

[2022-01-05 08:15] #1320 closed

[2022-01-05 13:56] shawntanzk opened #1396 "[Class hierarchy] CL:4023025 should be under SST Chodl"
CL:4023025 - is a mouse specific term for long-range interneuron, this corresponds to SST Chodl and should hence be a subclass of SST Chodl GABAergic interneuron (CL:4023121)

[2022-01-07 11:51] dosumis opened #1399 "glomerular visceral epithelial cell should be part of glomerular visceral epithelium"
it is currently

subClassOf part of some visceral layer of glomerular capsule

This should be changed to

EquivalentTo 'epithelial cell'  and 'part of' some 'glomerular visceral epithelium'

Closely related ticket: https://github.com/obophenotype/uberon/issues/2230

[2022-01-07 13:23] bvarner-ebi commented on #1399
@dosumis, I'd like to help with this, but I could not find 'glomerular visceral epithelium' in cell-ontology.

I also tried to find the uberon-edit.owl file that is mentioned in the [Uberon readme for editors](https://github.com/obophenotype/uberon/blob/master/src/ontology/README-editors.md), but I get a 404 error after clicking the 'uberon-edit.owl' hyperlink in the readme. The closest I found in

[2022-01-07 13:26] dosumis opened #1400 "renal beta-intercalated cell should be part of collecting duct of renal tubule"
Poss supporting refs (from ASCT+B table version 1.1)
PMID: 31249312. PMCID: PMC6597610	DOI: 10.1038/s41467-019-10861-2		PMID: 31689386	DOI: 10.1016/j.devcel.2019.10.005

[2022-01-07 14:01] #1391 closed

[2022-01-10 14:20] shawntanzk commented on #1380
Closed for now, if we need to revert or anything, please open a new ticket

[2022-01-10 14:22] shawntanzk commented on #1306
@shawntanzk to recheck if this is still a problem with basefile

[2022-01-10 14:42] shawntanzk commented on #1306
Currently the following are dangling:

![Screenshot 2022-01-10 at 14 40 36](https://user-images.githubusercontent.com/76212760/148784103-01a3c75d-2115-4773-ad38-361a6f4d05e6.png)

Not 100% sure how to handle these with base file merge imports, until then, can't see if CARO imports will cause issues

[2022-01-13 08:50] #1396 closed

[2022-01-13 12:55] dosumis commented on #1306
Is CARO import still inconsistent?

[2022-01-13 12:57] shawntanzk commented on #1306
Not too sure, actually now that you mention, CARO is not importing cause it isn't declared, let me try fixing and see if there is still issues

[2022-01-13 15:04] dosumis commented on #1306
THese look like genuine errors that should be easy to fix

1. A cell is not an epithelium:

microfold cell of epithelium proper of appendix SubClassOf epithelium of appendix

subClassOf -> part_of (some)

2. vomeronasal sensory neuron EquivalentTo sensory neuron and (part_of some vomeronasal organ) and (innervates some epithelium of vomeronasal organ)

innervates -> 'has sensory dendrite in'  http

[2022-01-13 16:28] shawntanzk commented on #1306
Looks like it fixed it :) will make a PR. Thanks!

[2022-01-13 16:40] shawntanzk commented on #1306
Currently blocked by obophenotype/caro#23

[2022-01-13 17:31] shawntanzk opened #1403 "Axiomization of histological quality after they have been added to PATO"
See this PR:
https://github.com/pato-ontology/pato/pull/452

Will need next release to do this.

[2022-01-13 18:06] bvarner-ebi opened #1404 "Documentation on importing classes to CL"
Hi @shawntanzk, as discussed offline, kindly review, edit where necessary, and add the following to central docs...

# How to add (import) a class to the Cell Ontology (CL) from another ontology

## 1. Follow steps 1 - 5 under the heading [Protege-based declaration.](https://obophenotype.github.io/cell-ontology/odk-workflows/UpdateImports/#protege-based-declaration)

_NB: Even though the instructi

[2022-01-13 19:50] shawntanzk commented on #1404
yes! found it! it's here https://github.com/INCATools/ontology-development-kit/edit/master/template/_dynamic_files.jinja2 - let me go through the above, edit it, and see if you can give a go on editing that file -> that should distribute it to all ontologies

[2022-01-13 19:54] shawntanzk commented on #1404
actually I'm looking at it now, and it might take a bit of reworking to get it in the main docs. For now, if you want, you can add it to CL internal docs: https://github.com/obophenotype/cell-ontology/tree/master/docs

[2022-01-13 20:05] shawntanzk commented on #1404
Comments on docs:

The above section is not really needed imo

This is dangerous as unsatisfiable axioms might happen and break if merge is done before imports - I would remove this as an option in docs

I think it should be just try to run imports, if you run into error (write something about requiring quite a bit of memory on your local machine), create a ticket that requests for a certain term

[2022-01-14 14:01] #1404 closed

[2022-01-16 02:17] alanruttenberg opened #1406 "[Typo/Bug] on foundry description page"
https://obofoundry.org/ontology/cl.html

"This ontology is not organism specific it covers cell types from prokaryotes to mammals."

There should be a period and new sentence start between "specific" and "it"

"This ontology is not organism specific. It covers cell types from prokaryotes to mammals."

[2022-01-17 18:42] #1390 closed

[2022-01-18 14:23] dosumis commented on #1155
@JoshuaFortriede  - could you have a go at making some more specific term requests based on Chris' analysis?  Please let me know if you need to chat about it - or add it to the CL editor's meeting agenda.

[2022-01-18 15:40] matentzn commented on #564
Thank you @althonos for checking, will close then and we can open new issues for other problems :)

[2022-01-18 15:40] #564 closed

[2022-01-18 16:24] #3 closed

[2022-01-18 16:33] bvarner-ebi commented on #1400
@dosumis, would you want to also include 'part of' connecting tubule? I think type B = beta.

PMID: 29285423:
"Type B and non-A, non-B intercalated cells are found within the **connecting tubule** and the cortical collecting duct."

Not sure if the following text  only refers to beta-intercalated, but to consider:
PMID: 25632105:
"[Intercalated] cells appear in the **late distal convoluted tubule

[2022-01-19 02:05] cmungall commented on #1150
I think if we keep terms in CL we need to do a good job of ensuring **reasonable completeness**. If we can't commit to doing this for somatic cell let's get rid of it, it's confusing as it is now as it is so incomplete

[2022-01-19 10:31] #1406 closed

[2022-01-19 16:21] dosumis commented on #1150
Notes from CL call:
  - No one gave an especially strong argument for keeping the term so we suggest obsoletion.  However, before obsoletion we should check completely for any usage in other ontologies (follow links to usage context here: http://www.ontobee.org/ontology/CL?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0002371 )  and provide a community announcement.

[2022-01-20 07:32] paulacalipho opened #1409 "[NTR]Choroidal melanocyte"
**Preferred term label:** Choroidal melanocyte

**Synonyms**: -

**Definition**
Choroidal melanocytes are melanin-producing cells in the uvea of the human eye. Their cellular functions and extracellular interactions are distinct to skin melanocytes. They are involved in photoprotection, regulation of oxidative damage and immune responses. Choroidal melanocytes might have both neuroectodermal as we

[2022-01-20 07:41] paulacalipho opened #1410 "[NTR] Endothelial colony forming cell"
**Preferred term label:** Endothelial colony forming cell

**Synonyms**: -

**Definition**: Endothelial colony forming cells are adult endothelial progenitor cells capable of differentiating to regenerate endothelial cell populations. They are residents of adult vasculature and are also thought to migrate to areas of injury as one form of circulating endothelial cell. They are thought to play a cr

[2022-01-20 07:52] paulacalipho opened #1411 "[NTR] Fibroblast-like synoviocyte"
**Preferred term label:** Fibroblast-like synoviocyte

**Synonyms**: Synovial fibroblasts

**Definition**: Fibroblast-like synoviocytes are the resident stromal cells of the joints responsible for the production of immune-related cytokines and chemokines. These cells play a key role in the pathogenesis of rheumatoid arthritis and are essential for the maintenance of normal joint functions. Fibrobl

[2022-01-20 08:00] paulacalipho opened #1412 "[NTR] Kisspeptin neuron"
**Preferred term label:** Kisspeptin neuron

**Synonyms**: -

**Definition**: Kisspeptin is a neuropeptide with a critical role in the function of the hypothalamic–pituitary–gonadal axis. Kisspeptin is produced by two major populations of neurons located in the hypothalamus, the rostral periventricular region of the third ventricle (RP3V) and the arcuate nucleus (ARC). These neurons project to and

[2022-01-20 08:06] paulacalipho opened #1413 "[NTR] KNDy neuron"
**Preferred term label:** KNDy neuron

**Synonyms**: -

**Definition**: KNDy neurons in the hypothalamus coexpress kisspeptin, neurokinin B and dynorphin. They are involved in the negative feedback of gonadotropin-releasing hormone release in the hypothalamic–pituitary–gonadal axis. Sex steroids released from the gonads act on KNDy neurons as inhibitors of kisspeptin release. This inhibition provi

[2022-01-20 08:14] paulacalipho opened #1414 "[NTR] Leydig stem cell"
**Preferred term label:** Leydig stem cell

**Synonyms**: stem Leydig cells

**Definition**: The adult Leydig cell population develops from undifferentiated mesenchymal-like stem cells present in the interstitial compartment of the neonatal testis. Distinct stages of development have been identified: Leydig stem cells, progenitor Leydig cells, immature Leydig cells, and adult Leydig cell. The Leyd

[2022-01-20 08:52] paulacalipho opened #1415 "[NTR] Podocyte-like epithelial cell"
**Preferred term label:** Podocyte-like epithelial cell

**Synonyms**: -

**Definition**: Podocyte-like epithelial cells have mRNA expression for the podocyte markers synaptopodin, nestin, and CD2AP and are found in the urine of patients with focal segmental glomerulosclerosis and healthy individuals [PMID: 19955187]

**Parent cell type term:** epithelial cell of glomerular capsule (CL:1000450)

*

[2022-01-20 09:01] paulacalipho opened #1416 "[NTR] Retinoblast"
**Preferred term label:** Retinoblast

**Synonyms**: -

**Definition**: An immature retinal cell.

**Parent cell type term:** retinal cell (CL:0009004)

**What is the anatomical structure that the cell is a part of?**: retina (UBERON:0000966)

**Your nano-attribution (ORCID)**: 0000-0002-0819-0473

**Any additional notes or concerns**: is it possible to cite wiktionary as reference? [https://en.wi

[2022-01-20 09:07] paulacalipho opened #1417 "[Synonym] add synonyms to "light melanocyte""
**CL term**: light melanocyte CL:0002567

**Synonym to be added**:
"amelanotic melanocyte"
"amelanotic melanophore"

**broad/exact/narrow/related ?** exact [PMID: 10985850]

[2022-01-20 09:10] shawntanzk commented on #1413
Notes to self:

expresses some PR:000009344 (kisspeptin)

Neurokinin b (NKB), is encoded by the TAC3 gene in humans and Tac2 in rodent species. -> PR:000016004

Dynorphin -> NCBIgene:5173 -> PDNY -> PR:000012526

yes - will cite it accordingly :)

"rostral periventricular region of the third ventricle" - In rats and mice, the anteroventral periventricular nucleus (UBERON:0002690) plus the perivent

[2022-01-20 09:10] paulacalipho opened #1418 "[Synonym] add synonyms to "dark melanocyte""
**CL term**: dark melanocyte (CL:0002566)

**Synonym to be added**:
"melanotic melanocyte"
"melanotic melanophore"

**broad/exact/narrow/related ?** exact

[2022-01-20 09:12] paulacalipho opened #1419 "[Synonym] add synonym to "epithelial fate stem cell""
**CL term**: epithelial fate stem cell (CL:0000036)

**Synonym to be added**:
"epithelial stem cell"

**broad/exact/narrow/related ?** exact

[2022-01-20 09:14] shawntanzk commented on #1413
Ok just saw the other request and saw the PMID and understand why there is a need for this.

[2022-01-20 09:14] paulacalipho opened #1420 "[Synonym] add synonyms to "mammary alveolar cell""
**CL term**: mammary alveolar cell (CL:0002325)

**Synonym to be added**:
"mammary alveolar epithelial cell"
"mammary gland alveolar epithelial cell"

**broad/exact/narrow/related ?** exact

[2022-01-20 09:18] shawntanzk commented on #1412
Notes:

Kisspeptin is most notably expressed in the hypothalamus, but is also found in other areas of the brain including the hippocampal dentate gyrus. (https://en.wikipedia.org/wiki/Kisspeptin) -> therefore Kisspeptin neuron should not be constrained to hypothalamus if the definition for it is a neuron that expresses Kisspeptin

[2022-01-20 11:17] shawntanzk commented on #1413
just realised that this means the soma has to be in both >.< might need a new term for this in uberon

[2022-01-20 11:34] shawntanzk opened #1421 "Can't seem to get PR import to work"
I'm trying to import these PR terms:
PR:000009344
PR:000016004
PR:000012526
But I've tried adding them to pr_terms.txt -> refreshing imports/pr_import.owl -> refreshing merged, tried declaring them in -edit then refreshing merged, tried with mirror on, but it does seem to get imported in.
Tried the same thing on UBERON and it seems to work properly. (unless those terms were already in CL and I got

[2022-01-20 12:01] matentzn commented on #1421
Are you sure merged refreshed? That's all that matters.. we don't care about pr_import anymore.

Note: remember we have a PRO slim now. You need to be sure the new PRO terms are in there.

[2022-01-20 12:23] shawntanzk commented on #1421
yes, refreshed the merged and all. Ah will check PRO slim, might be that. I've only checked them on OLS atm

[2022-01-20 12:49] shawntanzk commented on #1421
@matentzn lol ok yeah, its not in the PRo slim >.< is there a way to get it in?

[2022-01-20 12:52] matentzn commented on #1421
Sure! Clone the PRO slim, add the PRO terms to the seed.txt and run the Makefile.. Make a PR and its done. Should be less then 10 minutes if you do it for the first time!

[2022-01-20 13:02] shawntanzk commented on #1421
@matentzn stupid question, but how do i run the makefile lol

[2022-01-20 13:04] matentzn commented on #1421
Actually use this opportunity to add a README.md and some instructions how to add new terms to the slim..

[2022-01-20 13:04] shawntanzk commented on #1421
oh right, lol i was trying to do `run.sh` >.<

Will do

[2022-01-20 13:05] matentzn commented on #1421
There is also this:
https://github.com/obophenotype/pro_obo_slim/blob/master/.github/workflows/build.yaml

Not sure if it works though.. You could try that as well (in Actions tab, run workflow)

[2022-01-20 13:28] shawntanzk commented on #1421
@matentzn - i dont have write request on PR slim unfortunately, could you give that me please? thanks :)

[2022-01-20 13:31] matentzn commented on #1421
Done https://github.com/orgs/obophenotype/teams/uberon-cl-curators/repositories

[2022-01-20 13:48] #1421 closed

[2022-01-21 06:26] paulacalipho commented on #1412
Thanks Shawn for your suggestions. We should modify the definition for “Kisspeptin neuron” as follows?

Definition: Kisspeptin is a neuropeptide mostly expressed in the hypothalamus, but also found in other areas of the brain including the hippocampal dentate gyrus. In particular, it has a critical role in the function of the hypothalamic–pituitary–gonadal axis. In the hypothalamus, kisspeptin is

[2022-01-21 07:28] shawntanzk commented on #1412
Hi @paulacalipho I've made a pull request with the textual definition I wrote based on what you provided (there are some conventions in ontological definitions that we should follow). You can view it here https://github.com/obophenotype/cell-ontology/pull/1424/files - any feedback would be amazing. I've also made a hierarchical structure based on what I read and would like feedback on that too. Fo

[2022-01-21 07:31] paulacalipho commented on #1412
@shawntanzk: many thanks!!

[2022-01-21 11:16] bvarner-ebi commented on #1409
@paulacalipho, thank you for the information on this new term.

I am planning to enter the definition for choroidal melanocyte as:
**A melanocyte located in the vascular uvea and involved in photoprotection, regulation of oxidative damage and immune responses.**
(PMID:31819095)

I removed the reference to "human" since I found papers referring to these cells in mice, dogs and cats as well. If huma

[2022-01-21 11:47] paulacalipho commented on #1409
@bvarner-ebii, I agree with your definition and proposal of anatomical location to uvea (UBERON:0001768) as the anatomical structure.
If you think the comment has no added value, you can delete it.
Thank you very much for your input and for integrating this term in CL.

[2022-01-21 12:27] bvarner-ebi commented on #1409
Thank you for the quick reply, @paulacalipho.
I updated the definition and anatomical structure accordingly. I think the comments are useful for context in case we refine the term or related terms in the future.

[2022-01-21 14:34] #1409 closed

[2022-01-21 15:31] #1417 closed

[2022-01-21 15:32] bvarner-ebi commented on #1417
Thank you for the request, @paulacalipho. The synonyms were added (PR #1426).

[2022-01-23 17:53] dosumis commented on #1415
As this is found in the urine of healthy individuals, I think it is in scope, but I would like further discussion.   Based on the reference, maybe this should be 'shed podocyte'; 'develops from' (?) podocyte (glomerular visceral epithelial cell);  'part of' or 'located in' urine.

[2022-01-23 19:08] dosumis opened #1428 "Update CL FAIRsharing page"
https://fairsharing.org/FAIRsharing.j9y503

It would be good to add scRNAseq resources to list of databases using CL:

* EBI scAtlas (https://www.ebi.ac.uk/gxa/sc/home)
* HCA/DCP data portal (https://data.humancellatlas.org/)
* HubMap Common Co-ordinate Framework (https://hubmapconsortium.github.io/ccf-asct-reporter/)
* Azimuth (https://azimuth.hubmapconsortium.org/)
* CellXGene (CZI) (https://cel

[2022-01-24 07:05] paulacalipho commented on #1415
@dosumis : thank you for your pertinent suggestions. Does "originates from" exist?

[2022-01-24 17:33] #1418 closed

[2022-01-24 17:35] bvarner-ebi commented on #1418
Thank you for the request, @paulacalipho. The synonyms were added (PR #1430).

[2022-01-25 10:34] paolaroncaglia opened #1431 "[Logical def] Link CL:0002652 'endothelial cell of high endothelial venule' to UBERON:8410037 'high endothelial venule'"
Stemming from https://github.com/obophenotype/uberon/issues/1754#issuecomment-853658757:

**CL term**
CL:0002652 'endothelial cell of high endothelial venule'

**Suggested revision of logical definition**
- [x] Add equivalence axiom pointing to UBERON:8410037 'high endothelial venule'
- [ ] Change synonym scope from exact to broad for "endothelial cell of postcapillary venule of lymph node"

[2022-01-25 15:52] paola-scibite opened #1435 "[NTR] TEMRA: terminally differentiated effector memory cells re-expressing CD45RA"
@addiehl please
Currently in CL "TEMRA" is a broad synonym for both
CL:0001062 effector memory CD8-positive, alpha-beta T cell, terminally differentiated
and
CL:0001087 effector memory CD4-positive, alpha-beta T cell, terminally differentiated
As far as I can see, there isn't a broader term in CL to represent TEMRA cells.
Based on usage in literature, would you consider adding one please?
If the s

[2022-01-25 19:39] #1431 closed

[2022-01-25 20:28] addiehl commented on #1435
I don't mind if you add this term.  Is there a specific request for it?

We haven't provided general classes such as 'alpha-beta memory T cell, CD45RO-positive', 'central memory alpha-beta T cell', 'effector memory alpha-beta T cell', either, in case you want to fill out the full lattice of possibilities.

[2022-01-26 13:48] matentzn commented on #709
What are the concrete remaining action items here?

[2022-01-26 17:25] paolaroncaglia commented on #1435
@addiehl

It's found in text mining, and TEMRA is in CL as a synonym for 2 sibling classes, which suggests that a parent may be useful.

Thanks, I might request/add those on an ad-hoc basis.
Paola

[2022-01-27 14:21] bvarner-ebi commented on #1415
Based on a cursory review of the paper [PMID: 19955187], it seems like this new term request is referring to a shed podocyte that has been potentially altered by experimentation:

_"These results indicate that SV40 T antigen transformation and single-cell cloning did indeed affect podocyte marker expression..."_

_"The effects of this SV40 T antigen on podocyte marker expression were inconsistent

[2022-01-28 11:32] paulacalipho commented on #1415
@bvarner-ebi: thanks for your input. I understand that the term is not appropriate for CL. We retract the term request. How to proceed for this?

[2022-01-28 11:42] paolaroncaglia commented on #1415
@paulacalipho @bvarner-ebi to do that, Bradley should close the ticket and add the label "invalid". Thank you.

[2022-01-28 12:41] bvarner-ebi commented on #1415
Thank you for the updates, @paulacalipho and @paolaroncaglia.

[2022-01-28 12:41] #1415 closed

[2022-01-28 17:58] #1420 closed

[2022-01-28 17:59] bvarner-ebi commented on #1420
Hi, @paulacalipho. These synonyms were added in PR #1436.

[2022-01-31 16:11] #1419 closed

[2022-01-31 16:12] bvarner-ebi commented on #1419
Hi, @paulacalipho. This synonym was added in PR #1437.

[2022-02-01 06:42] paulacalipho commented on #1419
Many thanks

From: bvarner-ebi ***@***.***>
Sent: Monday, January 31, 2022 5:13 PM
To: obophenotype/cell-ontology ***@***.***>
Cc: Paula Duek ***@***.***>; Mention ***@***.***>
Subject: Re: [obophenotype/cell-ontology] [Synonym] add synonym to "epithelial fate stem cell" (Issue #1419)

Hi, @paulacalipho<https://github.com/paulacalipho>. This synonym was added in PR #1437<https://github.com/obophen

[2022-02-01 06:43] paulacalipho commented on #1420
Many thanks

From: bvarner-ebi ***@***.***>
Sent: Friday, January 28, 2022 7:00 PM
To: obophenotype/cell-ontology ***@***.***>
Cc: Paula Duek ***@***.***>; Mention ***@***.***>
Subject: Re: [obophenotype/cell-ontology] [Synonym] add synonyms to "mammary alveolar cell" (Issue #1420)

Hi, @paulacalipho<https://github.com/paulacalipho>. These synonyms were added in PR #1436<https://github.com/obophen

[2022-02-01 09:02] paulacalipho opened #1438 "[NTR] Oligodendrocyte/type-2 astrocyte progenitor cell"
**Preferred term label:** Oligodendrocyte/type-2 astrocyte progenitor cell

**Synonyms**
 O-2A/OPCs
oligodendrocyte type 2 astrocyte (O-2A) progenitor cells
oligodendrocyte-type-2 astrocyte progenitor cells

**Definition**: Oligodendrocyte/type-2 astrocyte progenitor cells can generate oligodendrocytes and type-2 astrocytes [PMID: 24133281, PMID: 2182078, PMID: 11756508, PMID: 9826671]

**Parent c

[2022-02-01 09:07] paulacalipho opened #1439 "[NTR] Thymic nurse cell"
**Preferred term label:** Thymic nurse cell

**Synonyms**: -

**Definition**: "Thymic nurse cells are large epithelial cells found in the cortex of the thymus and also in cortico-medullary junction. They internalize thymocytes through extensions of plasma membrane. The cell surfaces of thymic nurse cells and their cytoplasmic vacuoles express MHC Class I and MHC Class II antigens. The interaction

[2022-02-01 16:28] bvarner-ebi commented on #1439
Given the different expression profiles and locations, it may make sense to create separate classes for cortical TNC and cortico-medullary TNC.
PMID:20035931 also makes the connection specifically between the cortico-medullary TNCs and thymic epithelial progenitors:

"...  All TNCs, whether in culture or in vivo, were found to express the pH91-specific antigen (Figure 3) [13]. A subset of these pH

[2022-02-02 12:07] bvarner-ebi commented on #1438
Hi, @paulacalipho,

Thank you for the request.

Would the following definition be acceptable?
A progenitor cell of the central nervous system that can generate oligodendrocytes and type-2 astrocytes.

I also found this synonym:
O2A/OPC (PMID:11756508)

^ I could add this as a comment. Is this statement supported by PMID: 2182078? I am only able to access the abstract for that paper.

^ I could als

[2022-02-02 12:49] bvarner-ebi opened #1441 "Create synonym_type_property 'abbreviation' for CL"
UBERON has the Annotation property 'abbreviation' (Superproperty 'synonym_type_property'). http://purl.obolibrary.org/obo/uberon/core#ABBREVIATION

So editors can also leverage this property in CL, I request for Annotation property 'abbreviation' to be imported from UBERON into CL.

PR that inspired this request: PR #1440

[2022-02-02 13:53] #1435 closed

[2022-02-03 08:05] paulacalipho commented on #1438
Hi   @bvarner-ebi, thanks for taking care of this request.

I agree with the definition and additional synonym you suggest

OK to add the comments:

a- "These cells can be purified from optic nerves and other regions of the embryonic, postnatal, and adult rat CNS and can be differentiated in vitro to oligodendrocytes and type-2 astrocytes".
This statement is supported by PMID: 2182078 (if you do n

[2022-02-03 15:57] bvarner-ebi commented on #1438
Hi @paulacalipho,

2 follow-up questions, please:

1- Is there evidence that the 'oligodendrocyte/type-2 astrocyte progenitor cell' is indeed a different cell type from 'oligodendrocyte precursor cell'?

2- Do you know if this cell type 'is a' or 'develops from a' glioblast?

[2022-02-04 11:26] #1411 closed

[2022-02-04 11:32] bvarner-ebi commented on #1411
Hi, @paulacalipho, upon investigation we found that 'fibroblast-like synoviocyte' is a synonym for CL:0002301 'type B synovial cell'. We updated that term and some related terms accordingly as detailed in PR #1427.

[2022-02-04 15:35] #1416 closed

[2022-02-04 16:21] bvarner-ebi commented on #1438
Hi @paulacalipho,

Some additional findings that seem to suggest these cell types ('oligodendrocyte/type-2 astrocyte progenitor cell' and 'oligodendrocyte precursor cell') may be referring to the same thing.
From PMID:10704434:

"Oligodendrocytes arise from a well-defined precursor cell that also can give rise to a specific astrocyte population (the type-2 astrocyte) in vitro ([Raff et al. 1983](h

[2022-02-04 20:59] #153 closed

[2022-02-05 09:00] paulacalipho commented on #1438
Hi @bvarner-ebi Thanks for reviewing this term. I agree with you that 'oligodendrocyte/type-2 astrocyte progenitor cell' and 'oligodendrocyte precursor cell' seem to refer to the same entity.

Do you think that the following terms should be added to oligodendrocyte precursor cell" (CL:0002453) as synonyms?
Oligodendrocyte/type-2 astrocyte progenitor cell
O2A/OPC
O-2A/OPCs
oligodendrocyte type 2 as

[2022-02-05 09:05] paulacalipho commented on #1411
@bvarner-ebi OK, many thanks

[2022-02-05 09:30] paulacalipho commented on #1439
Hi, @bvarner-ebi

You would create "Thymic nurse cell" and the two cell types "TNC cortico-medullary junction K5/K8" and "TNC cortex K8" as child of "Thymic nurse cell" or only the two child terms?

According to PMID:20035931 "TNC cortico-medullary junction K5/K8" are "thymic epithelial progenitor cells"? May be this cell type is related to corticomedullary thymic epithelial cell (CL:0009070) ?

[2022-02-08 16:55] JoshuaFortriede opened #1443 "[Merge] Merging two bronchioalveolar stem cell terms"
**CL term (ID and Label)**
CL:1001566
bronchioalveolar stem cells

**Reason for deprecation**
Duplicate

**Term to be merged with (ID and Label)**
CL:0002638
bronchioalveolar stem cell

[2022-02-08 17:21] paolaroncaglia commented on #1443
@JoshuaFortriede good catch. FYI, it looks like CL:0002638 was added by Terry upon [Chris' request](https://github.com/obophenotype/cell-ontology/issues/308), but CL:1001566 may also have been added by Chris via automatic generation as per https://github.com/obophenotype/cell-ontology/blob/master/src/ontology/cl-idranges.owl.
I'm sure there's a check in CL to prevent identical primary labels, but

[2022-02-08 17:22] #1438 closed

[2022-02-08 17:30] bvarner-ebi commented on #1438
Thank you for all the feedback, @paulacalipho!

Based on your feedback and literature reviews, we added comments and broad synonyms to CL:0002453 'oligodendrocyte precursor cell'.

These updates reflect the idea that 'oligodendrocyte/type-2 astrocyte progenitor cell' and related terms may be referring to the same entity or possibly to a precursor to oligodendrocyte- and type-2 astrocyte precursor

[2022-02-08 20:46] shawntanzk commented on #1441
would be a bit weird to add a uberon specific AP to CL. I've previously used exact synonym in CL but do understand that there might be use cases for that - thoughts on this @dosumis?

[2022-02-08 20:47] shawntanzk commented on #1403
New PATO release just out

[2022-02-09 10:56] #572 closed

[2022-02-09 10:56] #1403 closed

[2022-02-09 12:58] bvarner-ebi commented on #1439
Hi @paolaroncaglia, since you have been involved in creating new terms related to thymus cells, do you have any comments on this request? Particularly, do you have a comment on whether a 'thymic nurse cell' should be one new class or broken into separate classes for cortical and corticomedullary types? I think a case could be made for either option, but would one approach be preferred?

[2022-02-09 13:43] paulacalipho commented on #1438
@bvarner-ebi  Many thanks to you!

[2022-02-09 14:48] paolaroncaglia commented on #1439
Hi @addiehl ,
Would you be able to provide feedback on this please? We can take care of the edits. Thanks in advance!

[2022-02-09 18:03] gouttegd commented on #1229
Keeping this open. Many of these issues are actually already solved on the FBbt side, and will be automatically fixed here once CL starts using the SSSOM file provided by FBbt (which we will only do when the ODK provides support for a SSSOM-derived “mapping” component, see INCATools/ontology-development-kit#500).

[2022-02-09 18:16] #1400 closed

[2022-02-10 12:05] paolaroncaglia commented on #932
Note to self: the CL side of the work is complete; the EFO side is reported [elsewhere](https://github.com/EBISPOT/efo/issues/880#issuecomment-795737707). So I'll close.

[2022-02-10 12:05] #932 closed

[2022-02-11 10:35] paolaroncaglia commented on #1359
@shawntanzk from an editing POV, I'm not sure of the full ideal strategy to avoid breaking anything, other than triple-checking that any occurrence of the relevant IDs is addressed/accounted for.

[2022-02-11 10:47] shawntanzk commented on #1359
I think that "breaking" something is inevitable with obsoleting things like that, some dependencies will be affected no matter what. But I guess in our ontologies, replacing terms are pretty easy (eg BDS can change to using whichever term quite easily, and I assume GO is the same). I'm just unsure about the etiquette on this - is un-deprecating a term ok?

@hdrabkin does MGI use the term itself fo

[2022-02-11 16:03] addiehl commented on #1359
Undeprecating a term is rare, but has happened on occasion.

I assume Harold would not have brought up this concern if it were an easy fix on MGI's side.  In any case, we (the CL community) need to have better protocols for announcing term obsoletion events to the community, and as GO is a major user of CL, we might include the GO-annotation mailing list as one target for emails announcing future

[2022-02-11 16:18] hdrabkin commented on #1359
I see now that apparently, we have used both ids in extensions for GO annotation. we've used CL:0010012 much less (8 genes) vs CL:0002609 (87).  I could easily fix changing the CL:0010012 to CL:0002609 if the latter became the winning term, but the other way around is a problem.  If it were annotations coming only from our in house interface, we might be able to have an SE do a quick replace where

[2022-02-11 16:22] shawntanzk commented on #1359
Are we happy to undeprecate CL:0002609 and merge CL:0010012 into it instead then? (or like basically literally do a switch in ID in the file lol) - if so, let me know and I can do it and make a release :)

[2022-02-11 16:25] dosumis commented on #1359
Few quick points:

* If this has been released, I would avoid reverting.
* We should have an SOP for checking GO usage and taking that into account for winning term in future.
* GO has never pre-announced trivial merges like his (presumably MGI copes with these just fine?), so I 'd be reluctant to follow that route as it could slow things down considerably.  We should be announcing any obsoletion

[2022-02-11 16:41] hdrabkin commented on #1359
Just got off the phone with a GXD curator about the version of CL loaded into our backend.
Apparently, GO:0002609 is not al alt id for CL:0010012 and neuron of cerebral cortex is not a synonym for cerebral cortex neuron. They loaded from an obo file and I'm not sure where they get it.
Since the use of CL for GXD is very recent (this week), they haven't any backlog of terms used.
When we load the G

[2022-02-11 16:51] shawntanzk commented on #1359
PS please give me a thumbs up and a go ahead or whatever if we are all agreeable to the above

[2022-02-11 16:56] hdrabkin commented on #1359
And for what it's worth
Noctua has CL:0002609 obsolete neuron of cerebral cortext  (at least I can add it to a model as an individual), and CL:0010012 as cerebral cortex neuron so at least the old term can't be used any further. I can find annotations using CL:0010012; MGI has two models using the term. However, I can't do a search for use of the obsoleted term in the search dropdown.

[2022-02-11 17:08] hdrabkin commented on #1359
@shawntanzk, I wonder if the lack of alt_id and the synonym is why it can't be searched on in Noctua
In GO when we do a merge using protege,  we have to make the losing term an alt id and the old term name a synonym. If we forget we can't push the change.

[2022-02-11 17:15] shawntanzk commented on #1359
synonym is totally my fault - sorry about that, totally missed it. I've not really done alt_id though, always thought we just added item_replaced_by. But if its important to have alt_id we should have it in our docs.

[2022-02-11 17:27] hdrabkin commented on #1359
We do add the replaced by when we obsolete a term if there is a clear id to use instead.

[2022-02-11 18:51] hdrabkin commented on #1359
To answer @shawntanzk ' MGI use the term itself for annotation or is it through GO? cause if it is through GO, a solution might be to get GO to replace CL:0002609 with CL:0010012, which would be a trivial thing for them to do. Though not sure what GO release cycle is like, whereas in CL (assuming nothing is broken >.<) I can probably do a release immediately after the change.'
At the moment MGI is

[2022-02-12 11:56] dosumis commented on #1359
@hdrabkin we'll add the alt_id in this case

[2022-02-15 09:56] paolaroncaglia commented on #1441
@shawntanzk (cc @bvarner-ebi )

While OBO members may not all agree on how strict we should be with the "exact" synonym scope, I do think that in CL there are plenty of use cases for the "abbreviation" annotation property. E.g. ESC, Treg, TAC... Abbreviations and acronyms are also discussed in the OBOOK [here](https://oboacademy.github.io/obook/reference/synonyms-obo/#synonym-types), so we wouldn'

[2022-02-15 10:06] shawntanzk commented on #1441
100% agree that abbreivation AP would be useful in CL, but I guess my question then is should we be adding a specific AP to CL? should this live in a more general location given its usefulness? If so where? This seems to vary and was wondering what the best way to handle this would be.

Some notes on this:
MONDO seems to have their own [AP for abbreviation](https://www.ebi.ac.uk/ols/ontologies/mon

[2022-02-15 10:27] paolaroncaglia commented on #1439
@bvarner-ebi and @paulacalipho one thing I recall from working on thymus cell types for the ASCT+B tables is that e.g. for subtypes of double-negative thymocytes there were significant differences in markers between human and mouse. The parent cell type for this request ('epithelial cell of thymus') is, rightfully, species-agnostic. The [Wikipedia entry that Paula referenced](https://en.wikipedia.

[2022-02-15 10:34] paolaroncaglia commented on #1441
Yes, it seems that synonym policy/SOP aren't applied homogeneously throughout OBO. Understandably, reaching a consensus may not be a high priority. Would be great to have feedback from others. Perhaps @nicolevasilevsky , who wrote the Mondo synonyms guide, might comment please. :-)

[2022-02-15 11:25] bvarner-ebi commented on #1439
Thanks for the insight, @paolaroncaglia! Based on your feedback, it seems like creating a single new class for TNC seems appropriate. We can get more granular in the future as needed and if more specific literature is found.

[2022-02-15 17:04] nicolevasilevsky commented on #1441
Yes, we have our own AP in Mondo. HPO uses a similar AP too, that is their own as well: http://purl.obolibrary.org/obo/hp#abbreviation

[2022-02-16 12:28] matentzn commented on #1378
@shawntanzk is this still an issue?

[2022-02-16 12:33] shawntanzk commented on #1378
looks like all PRs related are merged and i assume GO would have made a release by now, happy to give it a go and see if its all good

[2022-02-16 12:34] shawntanzk commented on #1378
actually let me check go-base first

[2022-02-16 12:43] shawntanzk commented on #1378
Merged master into #1388 and saw the change in import removing the obsolete CL term - will let checks run and if all good, ill merge it in

[2022-02-16 14:57] cmungall commented on #1306
I don't see a PR for the simple changes @dosumis requested in https://github.com/obophenotype/cell-ontology/issues/1306#issuecomment-1012220370

[2022-02-16 14:58] shawntanzk commented on #1306
@cmungall - I will check up on this

[2022-02-16 14:59] shawntanzk commented on #1351
will do

[2022-02-16 15:43] #1378 closed

[2022-02-16 16:39] shawntanzk opened #1451 "[NTR] test"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**

**Parent cell type term (check the hierarchy here https://www.ebi.ac.uk/ols/ontologies/cl):**

**What is the anatomical structure that the cell is a part of? Please check Uber

[2022-02-16 16:39] #1451 closed

[2022-02-16 16:41] dosumis opened #1452 "[NTR] test"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**

**Parent cell type term (check the hierarchy here https://www.ebi.ac.uk/ols/ontologies/cl):**

**What is the anatomical structure that the cell is a part of? Please check Uber

[2022-02-16 16:41] #1452 closed

[2022-02-16 17:47] paolaroncaglia commented on #1443
@JoshuaFortriede @shawntanzk

Sure, please go ahead and do a pull request, but first please check the merge procedure with @shawntanzk, as he's been working on an SOP with @dosumis . Thank you for handling this. You may want to remove Nicole's assignment in that case.

[2022-02-16 17:56] shawntanzk commented on #1443
@JoshuaFortriede that would be great! and I would be super grateful if you could test out the documents here https://github.com/obophenotype/cell-ontology/pull/1448 for it (sorry its still in a PR format, but should be easy enough to navigate) thanks!

[2022-02-16 19:24] #1351 closed

[2022-02-17 11:22] paolaroncaglia commented on #1262
Note to self: the OBO report (cl-edit.owl-obo-report.tsv) lives [here](https://github.com/obophenotype/cell-ontology/tree/master/src/ontology/reports) and is updated at each release. Still 372 warnings for CL missing definitions.

[2022-02-17 11:52] #26 closed

[2022-02-17 12:24] paolaroncaglia commented on #98
Following up on this, [a recent study on "Single-Cell Molecular and Cellular Architecture of the Mouse Neurohypophysis"](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6984808/) (PMID:31915267) supports "the notion that tanycytes and pituicytes are of a common astrocytic lineage" (and the frequent denomination of pituicyte as the main astroglia in the neurohypophysis).
This suggests that the current

[2022-02-17 15:27] shawntanzk commented on #1359
@hdrabkin - I've made a new release for CL, hopefully that helps solve your problem, if not do feel free to open a ticket again. Thanks :)

[2022-02-17 17:18] cmungall commented on #450
I regenerated:

https://github.com/cmungall/owl_patternizer/tree/master/examples/cl

This fixes the bug where uberon/go etc terms were included in the generalization

see above for caveats. These are autogenerated and to be used as seeds. Use judgment

[2022-02-18 09:32] paolaroncaglia commented on #1410
Notes to self:
The suggested parent 'adult endothelial progenitor cell' (CL:0002619) was created in 2011 and has def "An adult angioblastic cell released from the bone marrow, capable of blood circulation and participation in angiogenesis by differentiating into blood vessel endothelial cells. _Their existence is controversial._". Also, the requested new term would be the only child of CL:0002619,

[2022-02-18 11:16] paolaroncaglia commented on #1410
@paulacalipho your new term is CL_0009090 (endothelial colony forming cell).
Best,
Paola

[2022-02-18 11:16] #1410 closed

[2022-02-18 14:05] paolaroncaglia commented on #1414
@paulacalipho

Yes, CL:0000178 (Leydig cell) represents the differentiated, adult, testosterone-secreting cell type.
- [ ] The appropriate link to add would be
CL:0000178 (Leydig cell) 'develops from' some CL:NEW (Leydig stem cell). I'll do that once the new term is created.

[2022-02-18 14:40] paolaroncaglia commented on #81
@bvarner-ebi this is an old ticket about renal cell types with references to non-human vertebrates (ZFA = zebrafish anatomy). As you're going to look into the kidney domain for ASCT+B, it'd be helpful if you could address this ticket too please, to ensure consistency/avoid duplication. If you're ok with that please unassigned me. Thank you!

[2022-02-18 15:07] #98 closed

[2022-02-18 15:54] #1439 closed

[2022-02-18 16:09] #112 closed

[2022-02-18 16:52] #840 closed

[2022-02-18 19:18] jychien opened #1460 "[Synonym] exchange the ontology term label for an existing synonym"
**CL term**
CL:0000653: https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0000653
There is an associated Term Not Found link: http://purl.obolibrary.org/obo/CL_0000653

**Issue**
Requesting that the ontology term label be "podocyte", as this is the term currently used by the community to name these cell types. "glomerular visceral epithelial cell" would

[2022-02-18 19:34] nicolevasilevsky commented on #1460
there is a comment on this class:
GO has podocyte as a related synonym due to concern this may refer to more than one cell type. However, this did not turn up in my search. If podocyte does refer to more than one cell type, then we should classify the synonym to 'related'[tfm].

Does anyone have any objections to renaming this?
@dosumis @addiehl @paolaroncaglia etc.

[2022-02-21 07:36] paulacalipho commented on #1439
Hi @paolaroncaglia , Hi @bvarner-ebi , many thanks for your input and creating this term, Paula

[2022-02-21 09:14] paulacalipho commented on #1410
@paolaroncaglia Many thanks

[2022-02-21 09:15] paulacalipho commented on #1414
@paolaroncaglia Many thanks

[2022-02-21 09:51] paolaroncaglia commented on #1460
Hi @jychien ,

That must have been due to a temporary glitch in Ontobee, the link is active right now.

[2022-02-21 09:57] dosumis commented on #1441
I'd favour adding abbreviation as a synonym type to CL ASAP.  Could re-use the Uberon one or add to CL following similar pattern.  However, I think this should move to OMO or IAO ASAP.   It will be a pain to query in integrated resources (e.g. Ubergraph) if every ontology has their own version.

Note - there may be some OBO format compatibility issues

[2022-02-21 10:02] paolaroncaglia commented on #1460
@dosumis @nicolevasilevsky and cc @bvarner-ebi as he's been looking at this kidney domain
I don't have any objection to renaming CL:0000653 'glomerular visceral epithelial cell' to 'podocyte' (currently an exact synonym).
Note that we also have CL:0000391 'podocyte (sensu Diptera)', but hopefully that term should not be an issue because it does not have "podocyte" as a synonym. However,
- [ ] Perh

[2022-02-21 10:35] bvarner-ebi commented on #1460
@paolaroncaglia, thanks for adding me to this ticket. FYI, there is a related open PR (#1401) that will be merged once the next Uberon release is published.

I'd be happy to make the changes you suggest. @jychien, @dosumis, @nicolevasilevsky, kindly add your comments if you have any concerns.

[2022-02-21 10:56] bvarner-ebi commented on #1441
@dosumis, regarding order of operations, do you recommend opening a ticket in OMO to incorporate Uberon's abbreviation AP and then pulling that into CL?

[2022-02-21 11:09] paolaroncaglia commented on #1262
Following up on the 372 CL terms that lack a textual definition:
I looked at the first 5 CL terms (sorted by ascending ID as per [cl-edit.owl-obo-report.tsv](https://github.com/obophenotype/cell-ontology/blob/master/src/ontology/reports/cl-edit.owl-obo-report.tsv)). 3/5 have an equivalence axiom, e.g.

'neuronal receptor cell' Equivalent To
'sensory receptor cell'
 and neuron
 and ('capable of' so

[2022-02-21 11:11] #348 closed

[2022-02-21 14:32] shawntanzk commented on #1441
See https://github.com/information-artifact-ontology/ontology-metadata/issues/70

[2022-02-21 14:53] paolaroncaglia opened #1463 "[NTR] Add esophagus nonkeratinized squamous epithelial cell"
I'll add 'esophagus nonkeratinized squamous epithelial cell' as per @mkeays 's pull request [here](https://github.com/obophenotype/cell-ontology/pull/978) (that old PR has a conflict and the term needs adding a taxon constraint anyway, so easier to re-do).
Note: for brevity, I haven't added synonyms with latin spelling (e.g. oesophagus instead of esophagus).

[2022-02-21 15:27] paolaroncaglia commented on #1463
The term is CL_0009096 (esophagus non-keratinized squamous epithelial cell).

[2022-02-21 15:27] #1463 closed

[2022-02-21 15:34] paolaroncaglia commented on #979
Note to self:
- [ ] I'll add the terms as per https://github.com/obophenotype/cell-ontology/pull/985 (that PR is old and has risky conflicts).

[2022-02-21 15:55] paolaroncaglia opened #1466 "Please import UBERON:0007221 neonate stage into CL"
Needed for https://github.com/obophenotype/cell-ontology/issues/979#issuecomment-1047003395. Thank you!

[2022-02-21 15:56] paolaroncaglia commented on #1466
@shawntanzk , may I assign this to you please? No rush. Thanks in advance.

[2022-02-21 15:59] shawntanzk commented on #1466
will do after uberon release and updating CL mirror

[2022-02-21 16:25] paolaroncaglia commented on #40
Un-assigning from this ticket for now as I'll probably focus on a separate ASCT+B table. But feel free to re-assign to me if/as needed.

[2022-02-21 16:36] paolaroncaglia commented on #141
In the absence of feedback, and considering that 'macrophage' has several siblings that are, like it, EquivalentTo myeloid leukocyte + some unique differentia, and that 'macrophage' has Alex's initials as dbxrefs, I'm inclined to think that all is well in this branch and I'll consider this ticket a non-issue. Closing now.

[2022-02-21 16:36] #141 closed

[2022-02-21 17:07] paolaroncaglia commented on #500
@Alessandro-Palma
The term you requested is CL_0009099 (fibro/adipogenic progenitor cell); it will be available at the next CL release. Thank you for your patience.

[2022-02-21 17:07] #500 closed

[2022-02-21 17:30] paolaroncaglia commented on #710
I edited CL_0009003 (larval midgut cell) to clarify that it's specific to insects, as per https://github.com/obophenotype/cell-ontology/issues/710#issuecomment-874721097. I'll remove my assignment now.

[2022-02-21 17:36] paolaroncaglia commented on #1263
This ticket might be better addressed by the Tech WG. It's not a priority, but it's quite consistent, and may have sub-tasks (see https://github.com/obophenotype/cell-ontology/issues/1263#issuecomment-922487106). I'll remove my assignment and add to the Tech board so that a strategy can be drafted. Feel free to assign any appropriate task to me once that's done. Thank you!

[2022-02-22 13:26] ANiknejad opened #1471 "[NTR] tumor-associated endothelial cell"
Hello Cell Ontology Team,

I had a discussion with Alex about the term-request 'tumor-associated endothelial cell' into Disease Ontology, please see here:
https://github.com/DiseaseOntology/HumanDiseaseOntology/issues/1016

**Preferred term label: tumor-associated endothelial cell**

**Synonyms:  tumor endothelial cell  /    TEC**

WP definition:
https://en.wikipedia.org/wiki/Tumor-associated_endo

[2022-02-22 13:53] paolaroncaglia commented on #1471
For quick reference, @addiehl 's favourable comment to having 'tumor-associated endothelial cell' in CL is [here](https://github.com/DiseaseOntology/HumanDiseaseOntology/issues/1016#issuecomment-1047071038)

[2022-02-22 15:00] #1399 closed

[2022-02-22 15:33] paolaroncaglia opened #1472 "[NTR] Add new lymph node CL terms for ASCT+B"
Based on https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=457494842.
Tagging @emquardokus FYI.
Note to self, the related Uberon ticket is https://github.com/obophenotype/uberon/issues/2320.

[2022-02-22 16:39] nicolevasilevsky commented on #1460
Please go ahead @bvarner-ebi, thank you!

[2022-02-22 16:41] cmungall opened #1473 "Random unresolvable CARO term in CL hierarchy"
http://www.ontobee.org/ontology/CL?iri=http://purl.obolibrary.org/obo/CARO_0000006

<img width="610" alt="image" src="https://user-images.githubusercontent.com/50745/155177870-5873b1cb-f51f-4c5d-8d9a-83d0a8391ec1.png">

http://purl.obolibrary.org/obo/CARO_0000006 is itself unresolvable

[2022-02-22 17:40] jychien commented on #1460
@nicolevasilevsky, @dosumis, @bvarner-ebi , @paolaroncaglia
Thank you, everyone, for the quick response and update of the term label.

[2022-02-22 18:10] bvarner-ebi commented on #1460
Thanks for the contribution, @jychien. A few additional notes at PR #1474.

[2022-02-23 10:17] #1460 closed

[2022-02-23 10:20] bvarner-ebi commented on #1460
CL:0000653 (now labeled podocyte) has been updated as detailed in PR #1474. Thanks for all the feedback and these updates should be reflected in the next CL release.

[2022-02-24 07:11] paulacalipho opened #1475 "[NTR] fallopian tube secretory epithelial cell"
**Preferred term label:**
fallopian tube secretory epithelial cell

**Synonyms**
oviduct secretory epithelial cell
uterine tube secretory epithelial cell

**Definition**
Fallopian tube secretory epithelial cell is one of the three cell types of the fallopian tube epithelium. The two other cell types of the fallopian tube epithelium are the ciliated cells and the intercalary cell, or peg cells. The

[2022-02-24 07:52] paulacalipho opened #1476 "[NTR] nonparenchymal liver cell"
**Preferred term label:**
nonparenchymal liver cell

**Synonyms**
nonparenchymal cell
non-parenchymal cell
non-parenchymal liver cell
hepatic non-parenchymal cell

**Definition**
Hepatocytes constitute about 80% of the mass of the liver. The remaining tissue is made up of nonparenchymal liver cells such as Kupffer cells, stellate cells and liver sinusoidal endothelial cells. These cells play an im

[2022-02-24 08:35] paolaroncaglia commented on #1133
Note to CL editors:
I removed the automated assignments as this ticket hasn't been actually picked up;
There are 4 NTRs by the same submitter, so it'd make sense to address them all at the same time: #1133 (urethra), #1134 (urethra), #1135 (prostate) and #1171 (bronchiole).

[2022-02-24 08:37] paolaroncaglia commented on #1134
Note to CL editors:
I removed the automated assignments as this ticket hasn't been actually picked up, though there have been comments by @lubianat and @emquardokus ;
There are 4 NTRs by the same submitter, so it'd make sense to address them all at the same time: https://github.com/obophenotype/cell-ontology/issues/1133 (urethra), https://github.com/obophenotype/cell-ontology/issues/1134 (urethra)

[2022-02-24 08:42] paolaroncaglia commented on #1134
@lubianat scratch that, I see you made a PR but it seems there was a conflict? The term isn't in CL yet. I'll assign to you. Thanks!

[2022-02-24 08:44] paolaroncaglia commented on #1135
@lubianat assigning to you as I see you made a PR. Thanks.
As a reminder, I removed the automated assignments;
There are 4 NTRs by the same submitter, so it'd make sense to address them all at the same time: https://github.com/obophenotype/cell-ontology/issues/1133 (urethra), https://github.com/obophenotype/cell-ontology/issues/1134 (urethra), https://github.com/obophenotype/cell-ontology/issues/1

[2022-02-24 08:45] paolaroncaglia commented on #1171
Note to CL editors:
I removed the automated assignments as this ticket hasn't been actually picked up (though @emquardokus commented);
There are 4 NTRs by the same submitter: https://github.com/obophenotype/cell-ontology/issues/1133 (urethra), https://github.com/obophenotype/cell-ontology/issues/1134 (urethra), https://github.com/obophenotype/cell-ontology/issues/1135 (prostate) and https://github

[2022-02-28 09:07] shawntanzk commented on #1473
related to https://github.com/obophenotype/cell-ontology/issues/1306

[2022-02-28 09:08] shawntanzk commented on #1473
will try to import in CARO after https://github.com/obophenotype/cell-ontology/pull/1461 and see if there are any clashes

[2022-02-28 14:33] shawntanzk commented on #1262
for definitions: if we implement patterns for #450 - a good portion of defs can be autogenerated using DOSDP
for RO terms: @shawn to check terms in http://dashboard.obofoundry.org/dashboard/cl/fp7.html and see how they are used. They should either be in RO or removed. @shawntanzk to make a proposal and bring it up again in a call or ticket

[2022-02-28 14:52] matentzn commented on #1379
We do not need CLO import:

CLO terms are only used in replaced_by as replacements for three terms:
<obo:IAO_0100001 rdf:resource="http://purl.obolibrary.org/obo/CLO_0000019"/>
<obo:IAO_0100001 rdf:resource="http://purl.obolibrary.org/obo/CLO_0000001"/>
<obo:IAO_0100001 rdf:resource="http://purl.obolibrary.org/obo/CLO_0000018"/>

[2022-02-28 14:53] matentzn commented on #1379
- [ ] @shawntanzk will drop the dependency as part of the ODK 1.3.0 migration

[2022-02-28 17:47] shawntanzk commented on #1376
checked with refreshed GO, issue still there

[2022-03-01 12:37] shawntanzk commented on #1379
removed CLO import

[2022-03-01 12:37] #1379 closed

[2022-03-01 16:00] cmungall opened #1479 "Add mesenchymal cell parent to migratory neural crest cell"
Migrating this issue from GO:

* https://github.com/geneontology/go-ontology/issues/22934

As a first step we need CL to classify migratory NC cells as mesenchymal. I believe that in order to migrate it by definition has undergone EMT? Experts please weigh in.

Note the text of the cell types even mentions mesenchymal
https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.o

[2022-03-01 17:41] bvarner-ebi commented on #1471
Hello, @ANiknejad, thank you for the new term request and accompanying information.

I propose the following **definition**:
An endothelial cell that lines a tumor blood vessel and is part of the tumor microenvironment that plays a central role in cancer development and progression.

and setting the following as a **comment**:
While tumor blood vessels show clear morphological and functional abnor

[2022-03-02 09:21] shawntanzk commented on #1245
actions for docs implemented: https://github.com/obophenotype/cell-ontology/actions/workflows/docs.yml

[2022-03-03 12:05] bvarner-ebi commented on #1475
Hi @paulacalipho, thank you for the new term request.
The other two cell types of the fallopian tube epithelium mentioned in your definition currently do not appear in CL (references to these other cell types also appear in the parent cell type definition). Would you like to provide details on those two other cell types in order to add them? This is not necessary, and I will defer to your preferen

[2022-03-03 15:18] shawntanzk opened #1481 "Fixing non-RO relation"
Related to https://github.com/obophenotype/cell-ontology/issues/1262

Currently there are cl specific relations which should be either 1) removed, or 2) moved to RO

Level | Number of errors
-- | --
http://purl.obolibrary.org/obo/cl#has_completed | 1
http://purl.obolibrary.org/obo/cl#has_high_plasma_membrane_amount | 1
http://purl.obolibrary.org/obo/cl#has_low_plasma_membrane_amount | 1
http://pur

[2022-03-03 16:29] bvarner-ebi opened #1482 "[NTR] Add CL terms for kidney ASCT+B table"
cc @dosumis and @emquardokus

Per our ASCT+B harmonisation meetings, I’ll be adding CL terms needed for the kidney [ASCT+B table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910).

I have entered preliminary information for @emquardokus and her SMEs to review, add to, and approve [on the kidney table](https://docs.google.com/spreadsheets/d/1B

[2022-03-04 07:13] paulacalipho commented on #1475
Hi @bvarner-ebi I can work on definitions for these two cell types and come back to you asap

[2022-03-04 10:14] #1475 closed

[2022-03-04 10:18] bvarner-ebi commented on #1475
Thank you, @paulacalipho.
In the meantime, I have added CL:4030006 fallopian tube secretory epithelial cell to the Cell Ontology.

The definition:
An epithelial cell that is part of the fallopian tube epithelium that secretes mucous fluid and oviduct-specific products through the stimulation of estrogen and luteinizing hormone. The fallopian tube secretory cell has approximately the same height as

[2022-03-04 10:47] bvarner-ebi commented on #1471
Hi, @ANiknejad, checking in to see if you had thoughts on the comment above.

[2022-03-04 10:53] paulacalipho commented on #1475
@bvarner-ebi Perfect, many thanks

[2022-03-04 11:46] shawntanzk commented on #1481
http://purl.obolibrary.org/obo/cl#lacks_plasma_membrane_part seems to be a shorthand, should this moved to RO?
![Screenshot 2022-03-04 at 11 46 16](https://user-images.githubusercontent.com/76212760/156757876-0bd9c32c-5e00-41ba-a4f4-352ec6d8e343.png)

[2022-03-04 11:47] shawntanzk commented on #1481
http://semanticscience.org/resource/SIO_000658 - not used directly in CL, should be removed

[2022-03-04 15:21] paolaroncaglia commented on #1028
Note to self: 'lysosome-rich enterocyte' = "...In mammals they are found in the ileum pre-weaning and later are replaced by mature enterocytes." => check if 'lysosome-rich enterocyte' is the same thing that the requested "immature enterocyte" refers to.

[2022-03-04 16:01] paolaroncaglia commented on #1029
Notes to self: the reference provided PMID:33290721 mentions mature/differentiated enterocytes. In the absence of feedback from the submitter,
- [ ] I'll add "mature enterocyte" and differentiated enterocyte" as narrow synonyms of CL:0000584 'enterocyte', with AP dbxref PMID:33290721.

[2022-03-04 16:33] #1028 closed

[2022-03-04 16:33] #1029 closed

[2022-03-07 10:52] gouttegd commented on #1199
In effect, mappings are now entirely managed on the FBbt side. What needs to be done on the CL side is to 1) drop its own cross-references; 2) use the FBbt-provided SSSOM file instead (as has already been done in Uberon).

[2022-03-07 14:37] shawntanzk commented on #450
given discussions here: https://docs.google.com/document/d/1XvMbNvr0FEsdqGhg79BYCYEHSqUxRHMcvhbGizEAht8/edit#bookmark=id.699u5qrobewr
tech group will put this on the backburner

[2022-03-07 15:56] bvarner-ebi commented on #1258
@paolaroncaglia, thank you for the advising me of this ticket. If you and @dosumis have recommendations on how to proceed with this work, I would like to hear your ideas so I can get a better sense of the current goal.

For the pancreas set, for example, is the goal to enhance the current entries in CL with, perhaps, refined definitions, additional synonyms and axioms if they can be derived from t

[2022-03-07 15:56] matentzn commented on #1263
Good ticket for @ubyndr to start working on whenever there is nothing else urgent to do!

[2022-03-07 16:16] paolaroncaglia commented on #1258
Hi @bvarner-ebi , if I remember correctly, @dosumis suggested that, before starting, it may be good to check if the data/mappings linked above are the most up-to-date. You may want to add this topic to the agenda for our monthly curators call on Wednesday, please, so we can check who the best contacts are (in case they've changed). We can then discuss priorities and strategies. If we can't discuss

[2022-03-07 18:05] bvarner-ebi commented on #1476
Thank you for the new term request, @paulacalipho.

I propose we make the parent cell type **CL:0002371 'somatic cell'**.

For synonyms, do you agree with the following types?
nonparenchymal cell **(broad)**
non-parenchymal cell **(broad)**
non-parenchymal liver cell **(exact)**
hepatic non-parenchymal cell **(exact)**

[2022-03-07 19:42] shawntanzk commented on #1481
- [ ] RO release
- [ ] change 'has high plasma membrane amount' to  RO_0015015
- [ ] change 'has low plasma membrane amount' to RO_0015016

[2022-03-08 06:26] paulacalipho commented on #1476
@bvarner-ebi Yes, many thanks

[2022-03-08 07:16] paulacalipho opened #1486 "[NTR] Fallopian tube ciliated cell"
**Preferred term label:**
Fallopian tube ciliated cell

**Synonyms**
oviduct ciliated cell
uterine tube ciliated epithelial cell

**Definition**
An epithelial ciliated cell that is part of the fallopian tube epithelium. Fallopian tube ciliated cells are found mainly on the apex of the mucosal folds and contribute together with the peristaltic contraction to the self propulsion of spermatozoa, the

[2022-03-08 07:23] paulacalipho commented on #1475
@bvarner-ebi Sorry for the late notice, but instead of part of UBERON:0003889 (fallopian tube), should be better consider part of ciliated columnar oviduct epithelium  UBERON:0007589, as just requested for "fallopian tube ciliated cell"?

[2022-03-08 11:11] bvarner-ebi commented on #1475
Hi @paulacalipho, thank you for the question.
Do you have a source to support that the 'fallopian tube secretory epithelial cell' is part of the 'ciliated columnar oviduct epithelium'? Otherwise, we could make it part of the less specific UBERON:0004804 'oviduct epithelium'.

[2022-03-08 11:38] paulacalipho commented on #1475
@bvarner-ebi As "fallopian tube secretory epithelial cell'' is part of the "fallopian tube epithelium" that have also ciliated cells, I assumed that is a ciliated epithelium. But I may be wrong and would be better to make part of UBERON:0004804 'oviduct epithelium'.

[2022-03-08 12:10] bvarner-ebi commented on #1475
@paulacalipho, my hesitation is not knowing if this cell type is always found in what would be classified as ciliated columnar oviduct epithelium since there is variation in the epithelium of the oviduct both spatially and temporally.

Per PMID:[25117646](https://www.ncbi.nlm.nih.gov/pubmed/25117646):

The ciliated cells are mainly found on the apex of the mucosal folds [7], mostly in the fimbria

[2022-03-08 12:22] paulacalipho commented on #1475
@bvarner-ebi OK, in that case is better relate it to UBERON:0004804 'oviduct epithelium'. In addition the creation of the peg cells may not be recommended

[2022-03-08 12:38] bvarner-ebi commented on #1475
Thanks for the feedback, @paulacalipho.

Since this term is a subclass of 'oviduct glandular cell', it being part of the 'oviduct epithelium' is already inferred, so I don't think any change is needed:

![Screenshot 2022-03-08 at 07 37 09](https://user-images.githubusercontent.com/95643797/157239550-da77c58c-e290-4df9-8c79-e80dbad1c4da.png)

[2022-03-08 12:59] dosumis commented on #1476
Couple of potential issues here:

1. We also don't typically make terms with negative definitions.  I think in this case we may be able to as may be able to list all subclasses cleanly.  However, I'd like to discuss further on the upcoming CL call.

2. Parenchyma is a rather broad/vague term.  As a result, the parenchyma terms in Uberon are poorly populated with tissues and so classification in CL

[2022-03-08 18:54] emquardokus commented on #1258
@paolaroncaglia @bvarner-ebi
Here's the pancreas Azimuth link for pancreas : https://azimuth.hubmapconsortium.org/references/#Human%20-%20Pancreas
Here's what you should look for in the Azimuth annotations that I know exist since our group has had many discussions with Rahul Satija's group---he is the other mapping component of HuBMAP.

All of the Azimuth datasets were annotated with existing CL t

[2022-03-08 19:13] dosumis commented on #1258
That's pretty standard use of ontologies. The two subtypes are potentially new CL terms, but we'd need more info before adding.  Adding on markers alone from scRNAseq is not impossible, but has the problem that markers tend to be study & analysis technique specific.

My preferred solution would be to have a standard way for annotators to post-compose these by combining with appropriate GO terms e.

[2022-03-08 19:13] dosumis commented on #1258
That's pretty standard use of ontologies. The two subtypes are potentially new CL terms, but we'd need more info before adding.  Adding on markers alone from scRNAseq is not impossible, but has the problem that markers tend to be study & analysis technique specific.

My preferred solution would be to have a standard way for annotators to post-compose these by combining with appropriate GO terms e.

[2022-03-09 11:03] paola-scibite opened #1489 "[Typo/Bug] Typo in synonym of CL:0002169"
**CL term**
CL:0002169 basal cell of olfactory epithelium

**Description of typo, bug or error**
has broad synonym "horizontal basal _call_", please correct to "...cell". Thanks.

[2022-03-09 11:04] paola-scibite commented on #1489
Note, [Typo/Bug] template issues are automatically assigned to David, Nicole and Alex, we should change this (I can't from this account)

[2022-03-09 11:25] shawntanzk opened #1490 "has_(not)_completed axioms on immune cells might not be accurate"
See https://github.com/oborel/obo-relations/issues/574
I can't remember why this was the case exactly, but @bpeters42 brought this up - perhaps he can explain a bit?

The logical axioms I gave as examples are:
memory T cell has_completed some 'memory T cell differentiation'
immature T cell has_not_completed some 'T cell selection'

[2022-03-09 15:21] paolaroncaglia commented on #1067
@cmungall (@uberon ) please

CL:1000606 'kidney nerve cell' isn't used in GO. It has no informative annotation, other than the KUPO dbxref.
Based on the ID range, it was created by @cmungall . Chris, can we safely assume that this grouping term is ok to keep? Thank you!

[2022-03-09 16:39] dosumis commented on #1258
From discussion on CL for scRNAseq call - we decided terms like this are better in PCL.  @bvarner-ebi  to talk to @shawntanzk about how to go about adding new terms to PCL.

[2022-03-09 16:50] dosumis opened #1492 "Should endothelial cell be a type of epithelial cell? (ditto for tissues in Uberon)"
@dosumis  = I think no - most biologists would not group in this way - perhaps apart from some evo-devo folks studying the ancient evolutionary transitions (diploblast to triploblast?).  Practically - this causes problems for classification.  Epithelial cells types end up encompassing endothelial cell types due to automated classification, even though no-one making these terms for vertebrates woul

[2022-03-09 16:59] dosumis commented on #1471
@dosumis - I'm uncomfortable about this because:

    1.  Potentially out of scope
    2. Classification - right now under abnormal cell.   But potentially wrong to classify pathological/disease associated cells under normal CL branches.
    3. Need to automated classification but patterns we should use are unclear.

From slack:
@matentzn  Basic approach should be as usual - new involved parties s

[2022-03-10 06:13] addiehl commented on #1490
See my comment about this at https://github.com/oborel/obo-relations/issues/574

[2022-03-10 06:20] addiehl commented on #1490
memory T cell has_completed some 'memory T cell differentiation' does seem circular, but we went to that formulation because the CD45RO isoform that was at one point considered a reliable marker for memory T cells in human and primates, does not appear on so-called TEMRA cells (T effector memory CD45RA-positive T cells), and does not work as a marker for memory T cells in mice either.

'memory T c

[2022-03-10 12:08] paolaroncaglia commented on #1489
@bvarner-ebi before you close this, could you please address https://github.com/obophenotype/cell-ontology/issues/1489#issuecomment-1062805344? If you don't have privileges to edit the issue templates, let us know. Thanks!

[2022-03-10 12:11] paolaroncaglia commented on #1489
P.S. That's why I use "addresses" or similar in PRs instead of "fixes/closes" - I know the latter is ok most of the time, but going back to the originating issue before closing it ensures that all tasks are looked into. :-) Thank you for taking care of this!

[2022-03-10 12:23] dosumis commented on #1489
Taking a look now.

[2022-03-10 12:24] paolaroncaglia commented on #1489
I'm on it https://github.com/obophenotype/cell-ontology/pull/1494

[2022-03-10 12:27] paolaroncaglia commented on #1489
@dosumis shall I remove automated assignments from all issue templates while I'm there?
I think we reached that consensus on a recent call.

[2022-03-10 12:27] paolaroncaglia commented on #1489
(I won't ask you to review them all :-D )

[2022-03-10 12:31] bvarner-ebi commented on #1489
Thank you, @paolaroncaglia! I now see this was described in the latter of the instructions page.

[2022-03-10 12:32] bvarner-ebi commented on #1489
I could also do this now that you showed me how :)

[2022-03-10 17:44] #1486 closed

[2022-03-10 17:55] bvarner-ebi commented on #81
Hi, @cerivs, checking in to see if you find the plan above acceptable. Upon approval, I will proceed.

cc @paolaroncaglia, in case you are OK with approving

[2022-03-10 18:09] bvarner-ebi commented on #1489
Note: issues generated from templates are no longer automatically assigned to users (resolved via PR #1495).

[2022-03-10 18:09] #1489 closed

[2022-03-11 06:41] paulacalipho commented on #1486
thanks @bvarner-ebi

[2022-03-11 10:07] paolaroncaglia commented on #81
@bvarner-ebi your proposal sounds good to me. Thank you.

[2022-03-11 11:38] bvarner-ebi commented on #81
@paolaroncaglia, I also see several GO terms that use the original nomenclature, e.g., GO:0061257 'mesonephric glomerular visceral epithelial cell development'.

Should these terms be updated as well? E.g., the above term label would be updated to 'mesonephric podocyte development' and the original label would be added as an exact synonym. Once edited in GO, would those term label changes be refle

[2022-03-11 11:45] dosumis commented on #81
I think worth submitting a GO ticket to see if they want to update their term names.

[2022-03-11 12:21] bvarner-ebi commented on #81
https://github.com/geneontology/go-ontology/issues/23000

[2022-03-11 15:22] #1260 closed

[2022-03-11 18:03] bvarner-ebi commented on #1479
@cmungall, can you clarify: are you requesting for CL:0008019 'mesenchymal cell' to be added as a superclass to the five terms you listed above?

[2022-03-11 19:49] raymond91125 commented on #81
Shouldn't CL:0002525 metanephric glomerular visceral epithelial cell -> metanephric podocyte?

[2022-03-11 19:55] bvarner-ebi commented on #81
Thanks for catching that, @raymond91125. I will update the commit.

[2022-03-14 15:53] #81 closed, assigned to nobody

[2022-03-15 10:13] #979 closed

[2022-03-15 11:24] paolaroncaglia commented on #1472
@emquardokus
The [lymph node spreadsheet](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=457494842) requests, among other things,
'Fibroblastic Reticular Cell' (FRC for brevity)
("Specialized cells of mesenchymal origin that express several markers common to myofibroblasts (desmin, vimentin, CD73, CD90, α-smooth muscle actin (αSMA) and can be different

[2022-03-15 13:24] emquardokus commented on #1472
@paolaroncaglia I'm running this by the experts right now to make sure there is nothing we've missed.  Yes, I had looked into this as well and had pointed out "reticular cell" to the experts and investigated that as a possible term to use, but was not. I should hear back a bit later today. Thank-you!

[2022-03-15 13:59] paolaroncaglia commented on #1472
@emquardokus thank you, I'll wait to hear from you then.

[2022-03-16 02:02] emquardokus commented on #1472
@paolaroncaglia here's the reply below from Andrea Radtke our Lymph node expert in **bold.**

From: "Radtke, Andrea (NIH/NIAID) [E]" <andrea.radtke@nih.gov>
Subject: RE: Please review: [obophenotype/cell-ontology] [NTR] Add new lymph node CL terms for ASCT+B (Issue #1472)
Date: March 15, 2022 at 9:46:50 PM EDT
To: "Quardokus, Ellen M" <ellenmq@iu.edu>

Hi Ellen,

This is all great! I was “LN” focu

[2022-03-16 08:54] emquardokus commented on #1282
@paolaroncaglia yes please can you add this term as suggested? Thank-you

[2022-03-16 16:22] bvarner-ebi commented on #1476
This term was discussed in today's CL meeting.

@addiehl and @paolaroncaglia shared thoughts. There is concern that this term is problematic due to it being too general and based on a negative ('everything else') definition, which is not good practice for ontologies. There are also many cell types outside the scope of the term that are involved in liver regeneration.

@paulacalipho, consensus is t

[2022-03-17 08:19] paulacalipho commented on #1476
@bvarner-ebi, thanks for reviewing this term. I understand your concern.
It is to map the cell line NPC2-hTERT (synonym: NPC-hTERT) described in PubMed=20456367. Derived from sampling site: Fetal liver. Cell type=Non-parenchymal cell. This cell line will be release today in Cellosaurus. The paper is not really helpful, it only states "NPC2, non-parenchymal cells"

[2022-03-17 11:33] paolaroncaglia commented on #1165
Note to self: the plan above can be implemented now, I'll do it.

[2022-03-17 12:16] paolaroncaglia commented on #1476
@paulacalipho cc @bvarner-ebi

The abstract of the paper you cite says "Here, we established two new cell lines, telomerase immortalized human fetal hepatocytes, Hc3716-hTERT, and telomerase immortalized hepatic stellate cells, NPC-hTERT." so why not use CL:0000632 'hepatic stellate cell'?
Note (for Bradley), the "mapping" here really means "derived from".

[2022-03-17 12:19] paolaroncaglia commented on #1282
@emquardokus the new term is CL_0009100 (hepatic portal fibroblast).

[2022-03-17 12:19] #1282 closed

[2022-03-17 14:17] bvarner-ebi commented on #1258
Spreadsheet consolidating Azimuth terms in progress:
https://docs.google.com/spreadsheets/d/1-ovkQX93B9KVPYJqTuPN9NvPv3pfordMTsRnE9swIY4/edit#gid=1044169210

[2022-03-17 16:34] #1412 closed

[2022-03-17 16:34] #1413 closed

[2022-03-18 11:53] paulacalipho commented on #1476
Thanks @paolaroncaglia for your input. Indeed in the abstract is indicated this cell type. Material and methods indicate non-parenchymal cells and further analysis indicates has stellate cell markers. We will analyze to what this term will be mapped. Many thanks again, Paula

[2022-03-18 14:23] paolaroncaglia commented on #1165
Note to self: I'm _not_ adding the rdfs:comment ("This is a general grouping term created for use in the EMBL-EBI Single Cell Expression Atlas anatomograms. Please use a more specific cell type term for annotation if possible, given the information available to you.") if

- there aren't currently any more specific terms to use for annotation (i.e. the parent term doesn't have any existing child wi

[2022-03-18 14:44] paolaroncaglia opened #1503 "Strip labels of 'pericyte cell' and 'perirenal adipocyte cell' of the redundant "cell""
The suffix -cyte means cell, so 'pericyte cell' and 'perirenal adipocyte cell' should be labeled 'pericyte' and 'perirenal adipocyte' for logic and consistency with all other -cyte terms in CL (e.g. leukocyte, lymphocyte). The current labels should be kept as exact synonyms.
(Note, 'pericyte cell' has an exact synonym of pericyte, which should be removed. At a quick glance, 'pericyte' is what lite

[2022-03-18 14:46] paolaroncaglia commented on #1503
If no objections are voiced, I will assume that you all agree to these changes. Thanks.

[2022-03-18 16:36] lubianat opened #1504 "Update documentation on the CL page (Citation, History and Contact Us)"
Currently, both the "History" and "How to cite CL" pages are blank at https://obophenotype.github.io/cell-ontology/

+ It would be interesting to have a "contact us" page with options like "github, individual email, mail list, phone, fax..." (as per @cmungall  elsewhere).

We can discuss also which paper should be cited. Some databases default to the last update paper; would that be reasonable?

[2022-03-18 17:11] #1165 closed

[2022-03-21 07:27] #1476 closed

[2022-03-21 11:52] bvarner-ebi commented on #1258
Hi, @shawntanzk, is there a different process in place to add terms to PCL than CL? Are the edits made in pcl-edit.owl?

[2022-03-21 11:58] shawntanzk commented on #1258
@bvarner-ebi basically yes, though we currently don't really use our edit file. I guess it depends on how you want to handle this. If it is just a couple of terms, then maybe adding it to -edit might be sensible (if this is the case, give me a bit, we made some changes to PCL ID which I've not updated in range). If you are doing a template/a lot of terms, it might be wise to follow what BDSO does

[2022-03-21 12:54] shawntanzk commented on #1258
@bvarner-ebi ive adjusted teh id range accordingly already, happy to assign you range

[2022-03-21 13:14] dosumis commented on #1258
I think we probably need to decided on a case-by-case basis (or at least by sets of terms and how they are defined).  So - good to have a range in place ASAP.

[2022-03-21 13:29] shawntanzk opened #1506 "oxytocin receptor sst GABAergic cortical interneuron should not have capable of some oxytocin receptor activity"
This capable_of axiom is not good as the term is in the Molecular Function branch of GO and so applies to gene products and complexes, not to cells. It's probably sufficient to have the expresses axiom.

[2022-03-21 15:31] shawntanzk opened #1507 "Cortical interneuron equivalent axiom uses cortex instead of cerebral cortex"
equiv axiom for CL:0008031 is:
[code]
Cortex here refers to "Outermost layer of an organ"
Instead cortical interneurons are understood to mean cerebral cortex.
This has implications on classification.

[2022-03-21 15:35] lubianat opened #1508 "Discussion: granularity of hepatocyte-zonation-based subclasses."
Hello all,

I am in a talk with Prof. Shalev Itzkovitz (https://shalevlab.weizmann.ac.il/) who works with liver spatial transcriptomics.

I've asked the following question:

Given the gradients in the liver, if you really had to split the hepatocytes into zone-based different subtypes, how many would you choose?
Cell Ontology currently lists only three: “centrilobular”, “midzonal” and “periportal”

[2022-03-21 15:54] paolaroncaglia commented on #1472
@emquardokus FYI I did the edits listed in https://github.com/obophenotype/cell-ontology/issues/1472#issuecomment-1067876254.
The new terms are
CL_0009101 (fibroblastic reticular cell)
and
CL_0009102 (lymph node fibroblastic reticular cell)
I'll add the ID of the latter in the [lymph node spreadsheet](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=4574

[2022-03-21 16:04] dosumis commented on #1507
Oops!

[2022-03-21 16:26] #1507 closed

[2022-03-21 17:00] paolaroncaglia opened #1513 "Please import UBERON:8410053 lymph node germinal center dark zone"
@shawntanzk may I assign this to you please?
Needed for #1472 . Many thanks in advance.

[2022-03-21 17:02] paolaroncaglia commented on #1472
Note to self: addition of B Cell Zone Reticular Cell depends on https://github.com/obophenotype/cell-ontology/issues/1513

[2022-03-21 17:22] shawntanzk commented on #1513
Will let it run tonight, hope thats ok - have another term i want it but that needs updating from PR slim which im doing atm

[2022-03-22 09:03] #1513 closed

[2022-03-22 10:17] paolaroncaglia commented on #1504
Dear all, please note, this request stems from the MIRACL paper. Ideally it'd be great if CL had a "Contact us" page before we submitted the MIRACL draft. Please speak now or forever hold your peace if you have any objection to having a contact page in principle ;-) (without visible/direct email links of course).

Also could someone please point me to the SOP for editing https://obophenotype.githu

[2022-03-22 11:17] #1506 closed

[2022-03-23 15:45] paolaroncaglia commented on #1048
@lubianat commenting to prevent closure - there's a PR for this term but it's stalled.

[2022-03-23 16:36] paolaroncaglia commented on #1472
Note to self: the [latest PR](https://github.com/obophenotype/cell-ontology/pull/1519) is blocked bcs "GitHub Actions is experiencing degraded performance", so I'll check back tomorrow.

[2022-03-23 16:59] paolaroncaglia commented on #1504
Context: creating a CL "Contact us" page

+1 to citing only the latest update paper. That one contains citations to the previous papers on CL anyway.

[2022-03-23 19:08] lubianat commented on #1504
@shawntanzk good points.

I like the idea of providing non-github contacts, although a mailing list is not something we currently use.

@addiehl is currently listed as CL's point of contact in https://obofoundry.org/ontology/cl.html, but I agree that puts all the burden into an individual, which is not optimal.

Would something like this be OK, at least in a provisory fashion?:
Do let me know if I

[2022-03-23 19:13] nicolevasilevsky commented on #1504
@paolaroncaglia you should be able to edit the docs here:
https://github.com/obophenotype/cell-ontology/tree/master/docs

[2022-03-23 19:15] nicolevasilevsky commented on #1504
@lubianat your draft 'contact us' page looks good to me.

+1 to citing the latest update paper.

[2022-03-23 19:16] nicolevasilevsky commented on #1504
We do have the cl-edit google group, but we don't currently have a CL users group (we do have one for Mondo, maybe we should create one for CL too?)

[2022-03-23 20:07] shawntanzk commented on #1504
@lubianat the contact us page looks great :)

Also here's the docs for editing docs: https://obophenotype.github.io/cell-ontology/odk-workflows/ManageDocumentation/

There is an automated github actions (docs) for the last step (deploying), so you can just go to actions and run it instead of following those instructions if you want :)

[2022-03-24 08:35] paolaroncaglia commented on #1504
@shawntanzk @nicolevasilevsky thank you both for your feedback!
@shawntanzk , I fully agree on GitHub ideally being the only point of contact, but in our experience, some subject experts (clinicians etc.) are reluctant to engage with GitHub, and their input is precious, so we'd like to provide users with alternatives. A group email would be best.
- [ ] How about we simply rename the existing cl-ed

[2022-03-24 10:30] paolaroncaglia opened #1523 "Please import 3 lymph node Uberon terms"
@shawntanzk could you please import the following Uberon classes in CL?
Last ones needed to complete #1472.
Overnight is fine, thank you very much in advance!

UBERON:8410052 lymph node germinal center light zone (already released)
UBERON:8410071 subcapsular sinus ceiling (committed but not yet released as of today 24/3/22)
UBERON:8410072 subcapsular sinus floor (committed but not yet released as

[2022-03-24 10:37] shawntanzk commented on #1523
@paolaroncaglia this might have to wait for new uberon release for me to pull them into CL. I can do the first one first, but if they are all needed I'd rather wait for a release and do them altogether. I can run an uberon release if needed, fingers crossed nothing breaks this time lol. Let me know :)

[2022-03-24 10:46] paolaroncaglia commented on #1523
@shawntanzk I agree it'd be optimal to import all 3 at once. They're all needed to complete the lymph node ASCT+B work, and the last release of Uberon was done on Feb 21, so hopefully there are no objections to running a new release? But I know it's a bit of a pain, so I'm ok with waiting if you prefer, and/or if others have Uberon PRs that they'd like to go in. Thank you.

[2022-03-24 10:52] shawntanzk commented on #1523
@paolaroncaglia I think the only worry would be space - uberon is pretty big an ontology and all. I will make a call out in uberon slack, if all good, ill run a release and once that is pulled, will make the imports altogether

[2022-03-26 19:32] dosumis opened #1524 "corneal epithelial cell should be part_of the corneal epithelium"

[2022-03-28 12:12] #1524 closed

[2022-03-28 14:09] shawntanzk commented on #1504
The default ODK contact section in the front page readme does direct to issue tracker, hence me thinking contact should be issue tracker. I took the single point of contact for OBO Foundry to be more for OBO Foundry <-> ontology communication, but I guess the guidelines do say "between the community and the ontology developers" too.

[2022-03-28 17:16] cmungall commented on #1504
yes that is really only the contact for OBO operations purposes, I think we should make it clearer in OBO that people should use recommended methods for contacting people which is rarely a single POC

[2022-03-29 07:51] paolaroncaglia commented on #1503
@lubianat

I labeled this ticket as "Good first task", and I agree that it would be a good one to address for training purposes, but as far as I know, there aren't any plans to hire new CL editors soon... that's why I assigned it to me (as I opened it), but it's not a priority.

[2022-03-29 13:39] bvarner-ebi commented on #1492
Additional comments from the CL/Uberon meeting on 28/3/2022:

Both Uberon and CL have this, so change needs to be coordinated.

We also have classification by germ layer, endo, ecto and meso-epithelium, with the latter being the parent class for endothelium (mirrored in CL).
In CL at least, these are maintained by hand.  It seems likely that very many ecto-epithelial are directly under 'epithelial

[2022-03-29 16:14] #1441 closed

[2022-03-30 10:32] bvarner-ebi commented on #1508
Hi @lubianat, thank you for your thoughtful contribution.
So this ticket does not get lost over time, would you like to assign it to yourself until there is a plan of action? When editing is required, we could continue the discussion and tasks on this ticket, and it can then be reassigned to an editor.

Perhaps we could also start using a new label like "future consideration", "discussion' and/or

[2022-03-30 12:15] lubianat commented on #1508
Sure! Also support the new label idea

[2022-03-30 16:53] bvarner-ebi commented on #1492
Thoughts: would it be appropriate to simply remove superclass 'meso-epithelial cell' from 'endothelial cell'?
Is there a reference that supports this relationship?

[2022-03-31 16:23] dosumis opened #1528 "renal interstitial pericyte - add textual definition and revise logical definition"
* Currently has very broad logical definition: pericyte and part_of some kidney.  Should have some restriction to kidney interstitium
* Needs textual definition - potential references @emquardokus to add
* Relationship to mesangial cells is confusing
   * Only some mesangial cells defined as pericytes in textual definitions.
<img width="353" alt="image" src="https://user-images.githubusercontent.c

[2022-04-03 20:01] paolaroncaglia commented on #1074
Note to self, this is in progress.

[2022-04-03 20:02] paolaroncaglia commented on #1038
Note to self, this is still to do.

[2022-04-04 11:03] paolaroncaglia commented on #1113
Note to self: this is still in progress and depends on the corresponding Uberon task and, more broadly, on simplifying the Uberon release process. At my last meeting with David, he outlined a strategy, but it will take time and resources.
Re. HCA need for this slim, consider that the HCA ontology currently imports all of CL, and that works well and doesn't create any issue.
I'll leave this ticket

[2022-04-04 13:44] anitacaron opened #1531 "Remove `replaced_by` property from inside `rdfs:comment`"
One example:
![Screenshot 2022-04-04 at 11 38 06](https://user-images.githubusercontent.com/2208124/161556804-bf4d2f28-02ac-4ce5-b929-548715e3d6d4.png)

[2022-04-04 14:00] shawntanzk opened #1532 "CL had SuperProperty Of (Chain) on develops from that is now removed"
CL used to have these axioms that were imported into uberon that did some heavy lifting
In the new test release (https://github.com/obophenotype/uberon/pull/2376), when we updated CL, these were missing causing a massive loss of inferred axioms.
Are these correct and should be added back? If so should we add them back in RO instead of CL?
![Screenshot 2022-04-04 at 14 56 46](https://user-images.gi

[2022-04-04 14:52] balhoff commented on #1532
They should not be added back: https://github.com/obophenotype/uberon/pull/1808

[2022-04-04 14:55] #1532 closed

[2022-04-05 09:12] #800 closed

[2022-04-05 09:53] bvarner-ebi commented on #1528
For reference:

The renal interstitium is defined as the intertubular, extraglomerular, extravascular space of the kidney. It is bounded on all sides by tubular and vascular basement membranes and is filled with cells, extracellular matrix, and interstitial fluid ([1](https://cjasn.asnjournals.org/content/10/10/1831#ref-1)). Its distribution varies within the kidney; it accounts for approximately

[2022-04-05 10:59] bvarner-ebi commented on #1528
Proposed solution:

[ ] Change EA from:

'pericyte cell'
 and ('part of' some kidney)

to

'pericyte cell'
 and ('part of' some 'kidney interstitium')

Note that there seems to be debate whether this should invoke a 'part of' or 'located in' relationship as suggested in the reference above ("It is debated whether microvessels and capillaries ... are actually part of the renal interstitium or just

[2022-04-05 14:48] paolaroncaglia commented on #1022
Note to self: at this time, I won't look at adding TCs to sensu terms, as there's an [(ancient) open discussion](https://github.com/obophenotype/cell-ontology/issues/190) on those still, plus [several other related tickets](https://github.com/obophenotype/cell-ontology/issues?q=is%3Aissue+is%3Aopen+sensu).

[2022-04-05 15:08] #1022 closed

[2022-04-06 13:40] paolaroncaglia commented on #1472
@emquardokus
I have a question about 'medullary reticular cell' please.
For ease of reference, here's the info that was provided in the [lymph node spreadsheet](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=457494842):

Medullary Reticular Cell
Stromal cell present in the lymph node medulla.
[superclass] Fibroblast (CL:0000057)
Homo sapiens
[part of]

[2022-04-06 14:04] paolaroncaglia commented on #1038
Looking at this again, 'appendix glandular cell' and 'enterocyte of appendix' are currently siblings (both are subclasses of ''epithelial cell of appendix'). By definition, glandular cells are secretory, enterocytes are absorptive. Some enterocytes secrete too ([Wikipedia](https://en.wikipedia.org/w/index.php?title=Enterocyte&oldid=1042282117) says that "Enterocytes also have an endocrine role, se

[2022-04-06 14:04] #1038 closed

[2022-04-06 14:29] paolaroncaglia commented on #1067
I will close this ticket and won't obsolete CL:1000606 'kidney nerve cell' because

- it was created by Chris with a KUPO dbxref, so there might have been specific reasons to create it
- I've looked into an in-depth [paper](https://cjasn.asnjournals.org/content/10/10/1831) on the anatomical entity that CL:1000606 is said to be located in (a paper brought to attention as part of another [ticket](ht

[2022-04-06 14:36] paolaroncaglia commented on #1069
@shawntanzk
Hi. Not urgent (Uberon release first! ;-) ), but when you have a chance, could you please comment on whether
CL:0000111 'peripheral neuron'
and
CL:2000032 'peripheral nervous system neuron'
look the same to you too?
Thanks.

[2022-04-06 15:00] paolaroncaglia commented on #1074
@shawntanzk
Again, not urgent (it's my CL tickets week, so I'm following up on pending ones). I will remove my assignment from this one and add you instead, because once David approves https://github.com/obophenotype/cell-ontology/pull/1501, this ticket is good to close. Thank you for your work on this.

[2022-04-06 15:15] shawntanzk commented on #1069
they look the same to me - will merge them

[2022-04-06 15:16] shawntanzk commented on #1069
I'm not too sure about this - this should be inferred somehow and asserting it as a child seems to be bad modelling imo

[2022-04-06 15:27] shawntanzk opened #1536 "Shorten Labels for BDS related terms where possible"
Current names can be a bit lengthy and doesn't look good on ols
Need to go through and make the labels shorter and put the “full names” as synonyms
 - get rid of words like “expressing” and “morphology”

[2022-04-06 16:08] shawntanzk opened #1537 "PNS neuron doest automatically classify stuff"
Example:
sensory neuron of spinal nerve - equiv: 'sensory neuron' and ('part of' some 'spinal nerve')
spinal nerve - subclass: 'part of' some 'peripheral nervous system'

PNS neuron - equiv: neuron and ('has soma location' some 'peripheral nervous system')

but sensory neuron of spinal nerve is not inferred as a PNS neuron

Is this due to the use of has soma location instead of part of (we 100% ca

[2022-04-07 09:33] paolaroncaglia commented on #1069
@shawntanzk

Yes, that's what I meant, I was unclear. Thank you for taking this ticket!

[2022-04-07 09:40] shawntanzk commented on #1069
@paolaroncaglia - brought up a bigger problem (https://github.com/obophenotype/cell-ontology/issues/1537) have assigned it to you too in case you want to be involved in the discussion of that :)

[2022-04-07 09:41] paolaroncaglia commented on #1537
I agree with @shawntanzk that we'd want to be able to query PNS neuron types somehow. I know that having to assert manually is not ideal and prone to forgetfulness, so ideally a more sustainable solution should be found. Otherwise, hopefully it's not too many children that need asserting.

[2022-04-07 09:43] paolaroncaglia commented on #1069
@shawntanzk

Telepathy, I was just commenting on that ;-) Thanks!

[2022-04-07 10:47] #1069 closed

[2022-04-07 11:37] dosumis commented on #1537
I suggest using 'has soma location' in all cases.  What's the argument against this?

[2022-04-07 12:00] shawntanzk commented on #1537
Somehow didn't think of that >.< will make the changes to all using 'has soma location'
I'm guessing there's no way to easily cover all cases out of the CNS as PNS -> we can't say that if the cell isn't in Brain or Spinal cord, it is PNS, as this would make terms that do not have location details PNS which would be problematic. What I can do instead is go through manually to classify things like C

[2022-04-07 12:03] shawntanzk commented on #1537
@dosumis  - just tried to make the change - does this mean we change UBERON term
spinal nerve - subclass: 'part of' some 'peripheral nervous system' -> change 'part of' to 'has soma location' too? This is required to get the classification there right

[2022-04-07 13:56] dosumis commented on #1537
No.  Domain of 'has soma location' is neuron.   https://en.wikipedia.org/wiki/Soma_(biology)

Shouldn't be.  We have this property chain:

`'has soma location' o 'part of' SubPropertyOf: 'has soma location'`

[2022-04-07 14:22] shawntanzk opened #1540 "Excitatory neuron currently only has retinal bipolar neuron under it"
![Screenshot 2022-04-07 at 15 19 58](https://user-images.githubusercontent.com/76212760/162221037-2ac0652e-7b1d-41a9-a872-1ecbf8885f88.png)

This is definitely not right as most glutamatergic neurons are excitatory - problem being not ALL glutamatergic neurons are excitatory, and not all excitatory neurons are glutamatergic neurons (I can't give an example off my head, but im 100% sure I've learnt

[2022-04-07 14:51] matentzn commented on #1523
No, forgot to reroute the non-standard releases in the PURL config. 10 min.

[2022-04-07 15:04] matentzn commented on #1523
Ok all good now.

[2022-04-07 15:05] shawntanzk commented on #1523
thanks @matentzn :)

[2022-04-08 09:35] #1074 closed

[2022-04-08 09:50] #1536 closed

[2022-04-08 10:32] #1523 closed

[2022-04-11 16:24] dosumis opened #1545 "[Typo/Bug] Incomplete classification under animal cell"
**CL term**

Incomplete classification under animal cell.  Terms should be moved manually:
![image](https://user-images.githubusercontent.com/112839/162786285-b7e55d1c-9ab9-4a2e-bfaf-b2116aa0f534.png)

[2022-04-13 15:26] dosumis commented on #1492
Suggestion:
 - Most epithelial cells are almost certainly ecto-epithelial, but are not classified as such.  We could fix this problem by correcting this - take everything classified as meso- or endo-eptihelial cell and subtract this from all epithelial cells.  Change remaining to ecto-epithelial. Ditto epithelia terms in Uberon.

[2022-04-14 16:20] dosumis commented on #1528
Do this first & commit:

[2022-04-14 16:44] emquardokus commented on #1528
@bvarner-ebi  citation
STOCKAND, JAMES D., and STEVEN C. SANSOM. 1998. “Glomerular Mesangial Cells: Electrophysiology and Regulation of Contraction.” Physiological Reviews 78 (3): 723–44. https://doi.org/10.1152/physrev.1998.78.3.723.

[2022-04-14 16:50] dosumis opened #1548 "corneal epithelium cell should be part of corneal epithelium"
![image](https://user-images.githubusercontent.com/112839/163436056-4acad4db-ad30-432f-a897-53fdaea092ba.png)

[2022-04-19 12:34] shawntanzk commented on #1376
Ok, issue is still there, not sure why it didnt get picked up when i tried last, but basically still a problem

[2022-04-19 18:43] #1376 closed

[2022-04-20 11:07] #1548 closed

[2022-04-21 09:00] #1528 closed

[2022-04-21 09:52] paolaroncaglia commented on #1027
@addiehl could you comment, please?
Note, this is 1 of 4 immune-related queries that were just tagged as stale. Thank you.

[2022-04-21 09:53] paolaroncaglia commented on #1026
@addiehl could you comment, please?
This is the second of 4 immune-related queries that were just tagged as stale. Thank you.

[2022-04-21 09:54] paolaroncaglia commented on #1025
@addiehl could you comment, please?
This is the third of 4 immune-related queries that were just tagged as stale. Thank you.

[2022-04-21 09:55] paolaroncaglia commented on #1024
@addiehl could you comment, please?
This is the last immune-related query for today. Thank you.

[2022-04-22 12:45] #589 closed

[2022-04-22 13:03] paolaroncaglia commented on #1503
@bvarner-ebi
Tagging you as you've worked on pericyte terms recently. Not urgent, but I'd appreciate your feedback on renaming 'pericyte cell' as 'pericyte', to resolve the implicit redundancy ("cyte" means "cell") and to make labels more consistent across the whole branch, see below. Thanks.

![Screenshot 2022-04-22 at 15 00 19](https://user-images.githubusercontent.com/4982516/164719645-dda00d96

[2022-04-22 13:11] bvarner-ebi commented on #1503
@paolaroncaglia, thank you for reminding me of this ticket. I agree with your comments and will make these edits.

[2022-04-22 13:29] paolaroncaglia commented on #1504
Following up on/wrapping up this ticket, remaining action items are to fill in the two sections that are still empty in https://obophenotype.github.io/cell-ontology/:

- Cite
- History

Re. Cite, we agreed to quote the [latest update paper](https://pubmed.ncbi.nlm.nih.gov/27377652/).
Re. History, we could use a revised version of the text that @shawntanzk and others have drafted for the CL NAR upd

[2022-04-22 13:37] #1503 closed

[2022-04-22 16:29] paolaroncaglia commented on #525
@ANiknejad (cc @gouttegd and @dosumis )
Is this term still needed, please? If so, perhaps one of my colleagues who are more experts on insects than me could add it, with a taxon constraint I guess. Thanks.

[2022-04-22 16:49] paolaroncaglia commented on #529
@shawntanzk @dosumis would you have any objection to 'oligodendrocyte precursor cell' ("A progenitor cell of the central nervous system that can differentiate into oligodendrocytes or type-2 astrocytes...") being a subclass of 'precursor cell', as suggested above, or possibly even a subclass of 'progenitor cell' ("A precursor cell that has a tendency to differentiate into a specific type of cell.

[2022-04-22 16:55] paolaroncaglia commented on #530
I will close this ticket as a duplicate because 'somatic cell' and its incomplete classification are under discussion in [this other ticket](https://github.com/obophenotype/cell-ontology/issues/1150). Thanks.

[2022-04-22 16:55] #530 closed

[2022-04-22 16:55] paolaroncaglia commented on #1150
Also see https://github.com/obophenotype/cell-ontology/issues/530

[2022-04-22 16:57] shawntanzk commented on #529
I would rather we add 'capable of' some 'cell differentiation' on OPC -> that way it will automatically classify as a precursor cell.
I think we might also have to relook into EA of progenitor cell, currently it is `'precursor cell' and ('develops from' some 'stem cell')` which feels too broad, but im not 100% sure on that one.

[2022-04-22 17:01] paolaroncaglia commented on #531
The issue reported above (cell concepts missing namespace definition, eg CL:0011114; namespace: cell) is still present. I don't know how widespread it is. As far as I know, the AP has_obo_namespace is not a mandatory one, hence I presume that there are no checks in place to flag terms missing a namespace. Should we have such a check?

[2022-04-22 17:06] paolaroncaglia commented on #534
@dosumis is this still needed please?

[2022-04-22 17:07] paolaroncaglia commented on #533
@matentzn tagging you due to your previous comment, please.

[2022-04-22 17:09] matentzn commented on #533
Hu, this has been done more than a year ago; am I missing something? I think this can be closed.

[2022-04-22 17:09] paolaroncaglia commented on #549
@matentzn should this be closed please?

[2022-04-22 17:10] matentzn commented on #549
Yes.

[2022-04-22 17:10] #549 closed

[2022-04-22 17:14] paolaroncaglia commented on #522
@dosumis tagging you due to your previous comment. I can't see those bladder cell terms in CL. Let me know if they're still needed, happy to help.

[2022-04-22 17:17] paolaroncaglia commented on #563
The submitter hasn't replied in nearly 3 years, so I'll assume that the issue is no longer an issue and I'll close. If not, please feel free to open a new ticket with updated details. Thanks.

[2022-04-22 17:18] paolaroncaglia commented on #533
Thought so. Thanks. I'll close.

[2022-04-22 17:18] #533 closed

[2022-04-22 17:34] matentzn commented on #563
Definitely not a problem for the standard parsers!

[2022-04-22 17:34] #563 closed

[2022-04-24 18:17] bgyori opened #1557 "Fix MeSH cross-references"
Similar to UBERON (see https://github.com/obophenotype/uberon/issues/698), CL contains a number of cross-references to MESH that are represented as tree numbers rather than IDs. These should ideally be replaced where possible and I will open a PR to do so.

However, as also pointed out in https://github.com/obophenotype/cell-ontology/issues/146, many CL terms do not actually refer to a correspondi

[2022-04-25 09:02] cthoyt commented on #1557
It might be more specifically denoting that the text was borrowed from the MeSH record, but I agree, in this case it would be nice to have the xref also on the node level since these two places for xrefs can be interpreted differently.

[2022-04-25 12:40] dosumis commented on #1557
Correct.

+1.

Maybe it would be useful to have some script in place to auto-propagate these from  Def xref to xref on the term?

[2022-04-25 16:35] anitacaron opened #1607 "Fix nifext_55 prefix"
NIFEXT:55 expands to http://uri.neuinfo.org/nif/nifstd/nifext_55 and resolves to http://uri.interlex.org/base/ilx_0107375. The prefix rule is `@prefix NIFEXT: <http://uri.neuinfo.org/nif/nifstd/nifext_> .`.

_Originally posted by @tgbugs in https://github.com/obophenotype/uberon/issues/2354#issuecomment-1097164518_

[2022-04-25 16:39] anitacaron opened #1608 "Fix TH xref prefix"

[2022-04-25 17:58] lubianat opened #1562 "[Merge] foreskin melanocyte and melanocyte of foreskin"
**CL term (ID and Label)**
CL_2000045 foreskin melanocyte

**Reason for deprecation**
Both terms are fairly similar; I don't know if there are non-skin foreskin melanocytes. In any case, at least the labels should be changed for clarity.

**Term to be merged with (ID and Label)**
https://www.ontobee.org/ontology/CL?iri=http://purl.obolibrary.org/obo/CL_2000045 foreskin melanocyte
https://www.ontob

[2022-04-26 07:51] emquardokus commented on #1472
@paolaroncaglia
Spoke with Andrea Radtke 4-21-2022 about her definition for Medullary Reticular Cell of lymph node and lineage of cell type.
Pointed out description as "stromal cell present in the lymph node medulla" vs where stromal cell vs reticular cell and fibroblast relationships in CL. Worth pointing out that updates to stromal cell may need revision to catch up with current knowledge.
Obtai

[2022-04-26 09:49] paolaroncaglia commented on #1472
@emquardokus Will do! Thank you for following up.

[2022-04-26 10:47] paolaroncaglia commented on #1472
- [ ] To do: "stromal cell may need revision to catch up with current knowledge" as per ASCT+B's suggestion

[2022-04-26 11:08] paolaroncaglia commented on #1472
@emquardokus

as per your latest comment - if you have specific suggestions, including references, could you please open a new ticket?
Thank you.

[2022-04-26 14:22] paolaroncaglia commented on #1472
@dosumis @emquardokus
All cell type requests in this ticket have been addressed, terms created and information incorporated based on the [lymph node spreadsheet](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=457494842). IDs and labels of new terms are in the right-most column in the spreadsheet. If you'd like, you could load the latest version of cl-e

[2022-04-26 15:47] paolaroncaglia commented on #561
The issue of capturing nuclear number (or not) was raised in 2 other tickets, so I'll link this one there for recording purposes, and close it as duplicate. Please feel free to comment on the more recent tickets if desired. Thanks.

[2022-04-26 15:47] #561 closed

[2022-04-26 15:47] paolaroncaglia commented on #1266
Also see https://github.com/obophenotype/cell-ontology/issues/561.

[2022-04-26 15:47] paolaroncaglia commented on #94
Also see https://github.com/obophenotype/cell-ontology/issues/561.

[2022-04-26 15:50] paolaroncaglia commented on #566
All looks done, so I'll close.

[2022-04-26 15:50] #566 closed

[2022-04-26 15:52] paolaroncaglia commented on #568
I'll assume that there are no pending issues by now, so I'll close.

[2022-04-26 15:52] #568 closed

[2022-04-26 16:14] paolaroncaglia commented on #574
@dosumis @shawntanzk could you please confirm the correct object property to use for this case? Both these guidelines say "capable of some":
https://obophenotype.github.io/cell-ontology/patterns/cellCapableOfBiologicalProcess/
https://github.com/obophenotype/cell-ontology/blob/draft_relations_doc/documentation/relations_guide.md