[2022-04-26 16:16] paolaroncaglia commented on #577
@addiehl is it ok to close this ticket please? Or delete the above? Thanks.

[2022-04-26 16:21] paolaroncaglia commented on #575
The issues above haven't been addressed yet, but I'm not sure who we could assign this ticket to at present.

[2022-04-26 16:23] paolaroncaglia commented on #584
This seems done, so I'll close.

[2022-04-26 16:23] #584 closed

[2022-04-26 16:34] paolaroncaglia commented on #175
@addiehl tagging you please because of your latest comment. Can this ticket be closed, or do we need to add new terms? Thank you.

[2022-04-26 16:50] paolaroncaglia commented on #574
@shawntanzk yeah, that's partly why I'm confused. The broad parent term could be capable of the whole process because the _sum_ of its children would be?
Let's tag @ukemi who raised the ticket (hi David!).

[2022-04-26 17:10] ukemi commented on #574
Hi Paola!

Old ticket. I think the reason I raised the issue was two-fold. First, does it really mean the sum of all of the subclasses or does it mean any instance of the class is capable of the whole process? If it is the latter, then no one individual of the subtype can carry out the process by itself.  This assumes that as we go through successive stages of spermatogenesis cells divide and chan

[2022-04-26 18:27] shawntanzk commented on #574
Oh sorry, should have probably checked CL before responding >.< didn't realise spermatogonium was a subclass of male germ cell. From the definition of `spermatid`,`spermatocyte`, and `spermatogonium`, I think the problem is that they are wrongly placed as a subclass of male germ cell - those cells are not male germ cells but rather develops from male germ cells. I think we should instead categoris

[2022-04-26 18:37] nicolevasilevsky commented on #247
@paolaroncaglia that sounds good to me! Let's close.

[2022-04-26 18:37] #247 closed

[2022-04-26 18:37] shawntanzk commented on #574
Thanks @ukemi, sorry for confusion, been a long day and my brains not quite on it today >.<

I think because all subclasses inherit the axiom, it means means any instance of the class is capable of the whole process

If this is true and is in the GO process, then I think you are right that it should instead be `capable of part of`.

Overall I think you are right that it should be changed. I don't

[2022-04-26 18:38] cerivs commented on #247
We can just make them in the ZFA because we do still need the types.

[2022-04-26 18:46] ukemi commented on #574
Yeah, it gets to the murky subject of process boundaries, but I think that the things that the Sertoli cells do would be considered part of the process of spermatogenesis. PMID:29462262

[2022-04-27 13:32] paolaroncaglia commented on #574
@ukemi @shawntanzk @dosumis
Thank you for confirming. I edited 'male germ cell' as follows:

- added PMID:29462262
- changed def from "Male germ cell is a germ cell that supports male gamete production." to "A germ cell that supports male gamete production. In some species, non-germ cells known as Sertoli cells also play a role in spermatogenesis."
- replaced the equivalence with subclasses 'germ

[2022-04-27 13:49] paolaroncaglia commented on #529
@shawntanzk

But if we make 'oligodendrocyte precursor cell' equivalent to
'neuron associated cell (sensu Vertebrata)' and 'capable of' some 'cell differentiation'
wouldn't that translate into = all neuron associated cells give rise to oligodendrocytes (and not e.g. Merkel cells or perineuronal satellite cells)? Or did you mean subclass instead of equivalent?
I'm not 100% sure about the progenitor

[2022-04-27 14:06] paolaroncaglia commented on #529
(@shawntanzk adding you as co-assignee for your feedback, thanks.)

[2022-04-27 14:08] shawntanzk commented on #529
oh nice, because of the develops from axiom in OPC, yeah that works, progenitor is under precursor so that basically fixes everything :) Thanks. Think you can commit that and get it thorugh

[2022-04-27 15:20] #529 closed

[2022-04-27 15:26] #577 closed

[2022-04-27 15:27] addiehl commented on #1026
I will work on the dendritic cells after the semester ends in mid-May.

[2022-04-27 15:28] addiehl commented on #1027
I will work on the dendritic cells after the semester ends in mid-May.

[2022-04-27 15:34] addiehl commented on #175
We need to add new terms.

[2022-04-27 15:39] addiehl commented on #1025
I will work on this after the semester ends in mid-May.

[2022-04-27 15:40] addiehl commented on #1024
I will work on this after the semester ends in mid-May.

[2022-04-27 15:40] paolaroncaglia commented on #175
@addiehl

Thanks. I'll leave this ticket assigned to you.

[2022-04-27 16:00] paolaroncaglia commented on #270
@nicolevasilevsky following up on this ticket, OPL ( the Ontology for Parasite Lifecycle) has

- [OPL:0000057 trophozoite stage](https://www.ebi.ac.uk/ols/ontologies/opl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOPL_0000057) (you listed "trophozoite" as a synonym of tachyzoite)
- [OPL:0000152 sporozoite stage](https://www.ebi.ac.uk/ols/ontologies/opl/terms?iri=http%3A%2F%2Fpurl.obolibrary

[2022-04-27 16:05] paolaroncaglia commented on #521
@shawntanzk @matentzn I'll close this as a duplicate of #1481 , and because I assume that everything else has been fixed by now, but please comment otherwise.

[2022-04-27 16:14] paolaroncaglia commented on #598
@mah11 hi! CL:0000334 ! vegetative cell (sensu Fungi) is currently a subclass of 'fungal cell'. And the plan to cede fungal cell types to the FAO is still standing. Editorial resources in CL at the moment tend to focus on mammalian terms, but if you'd need any urgent edit on CL:0000334 in the interim, please list your suggested changes and I'll be happy to commit them. Thanks.

[2022-04-28 01:05] nicolevasilevsky commented on #270
that would be great, thanks @paolaroncaglia!
And thanks for clarifying about OPL, I didn't know what that is. :)

[2022-04-28 13:32] paolaroncaglia commented on #1504
To all CL editors, or at least @lubianat @addiehl @shawntanzk @nicolevasilevsky and @cmungall who were involved in this ticket:
I filled in the Cite and History pages of the CL documentation, details [here](https://github.com/obophenotype/cell-ontology/issues/1504#issuecomment-1106517826). The new text is committed but not deployed yet. Feel free to edit further. Thanks!

[2022-04-28 13:52] paolaroncaglia commented on #573
@shawntanzk @gouttegd  I'm reviewing a previous note by @matentzn investigating loss of axioms. The top one is about neurons:

Should 'cholinergic neuron' be a subclass of 'neurosecretory neuron'? The latter is asserted as being an efferent neuron: is that correct across taxa? ('neurosecretory neuron' has an FBbt xref.) Are all cholinergic neurons efferent? I'm not convinced that we should add tha

[2022-04-28 14:17] paolaroncaglia commented on #573
@dosumis
The original request in this ticket was a note from Nico to review loss of 3 axioms. The last one pertains to 2 terms that you created. The lost axiom is
'activated skeletal muscle satellite cell' develops from 'quiescent skeletal muscle satellite cell'
Their common parent 'skeletal muscle satellite cell' is textually defined as "...These cells are mostly quiescent, but upon activation th

[2022-04-28 14:32] paolaroncaglia commented on #270
Done: https://github.com/OPL-ontology/OPL/issues/19. Closing now.

[2022-04-28 14:32] #270 closed

[2022-04-28 14:42] shawntanzk commented on #573
I think this might come down to if acetylcholine is secreted as a hormone by cholinergic neurons. I had to google this cause I forgot my undergrad on which neurotransmitter is a hormone too >.< and like everything, the answer isn't super simple. I THINK that the removal of this axiom is right as ACh from the neuronal system doesn't pass the blood brain barrier (from wiki), and this paper where ACh

[2022-04-28 14:51] shawntanzk commented on #573
Isnt the definition of glioblast basically pre-glial?
Taking for fbbt: "Cell that divides to give rise to glial cells."
Don't see why it should be species specific.
The axiom in question is in CL atm and I think it should be there, no changes are needed I think.

[2022-04-28 15:12] emquardokus commented on #1472
@paolaroncaglia @dosumis
Looked at cl-edit.owl and based on literature, I'm wondering why medullary reticular cell is not in the under 'lymph node fibroblastic reticular cell?
All of these seem correct based on same literature to be under 'lymph node fibroblastic reticular cell:
CL_0009103 (lymph node marginal reticular cell)
CL_0009104 (B cell zone reticular cell)
CL_0009105 (T cell zone reticula

[2022-04-28 15:13] gouttegd commented on #573
I don‘t think we can positively affirm that. Microglia at least certainly don’t seem to derive from glioblasts (see [Ginoux & Prinz, 2015](https://cshperspectives.cshlp.org/content/7/8/a020537.full)).

[2022-04-28 19:35] shawntanzk commented on #573
Ah, I think microglial needs a relooking at then.

Currently microglial has the subclass axiom
`'develops from' some 'oligodendrocyte precursor cell'`
which seems wrong

glial cell therefore also cannot have the axiom `'develops from' some glioblast` - this needs to be pushed down to all child that actually do.

I'll make a ticket specifically for this. If you are experienced enough to do edits on

[2022-04-28 19:41] shawntanzk opened #1571 "Microglial does not derive from OPCs nor glioblast"
see https://cshperspectives.cshlp.org/content/7/8/a020537.full

Currently microglial has the subclass axiom
`'develops from' some 'oligodendrocyte precursor cell'`
which seems wrong

They arise from hematopoietic stem cells in the yolk sac during early embryogenesis that populate the central nervous system -> derived from embryonic mesoderm and are not from neuroectoderm where glioblast develops f

[2022-04-28 19:42] shawntanzk commented on #1571
Related to https://github.com/obophenotype/cell-ontology/issues/573#issuecomment-1112584551

[2022-04-28 20:02] gouttegd commented on #1571
I _think_ that in vertebrates all _macroglia_ do derive from glioblasts, though I would like to find confirmation of that.

For FBbt this is fine. In _Drosophila_ all glial cells do derive from glioblasts, and there is no microglia.

[2022-04-28 20:04] shawntanzk commented on #1571
The world of Drosophila is wild man :p

[2022-04-28 20:15] gouttegd commented on #1571
I’d like to argue that it’s the world outside of _Drosophila_ that is wild, but I’ll admit I could be _slightly_ biased. :D

[2022-04-29 09:19] paolaroncaglia commented on #1472
@emquardokus @dosumis

I made 'medullary reticular cell' a subclass of 'reticular cell' and 'part of' some 'medulla of lymph node', rather than equivalent to, because the information provided for 'medullary reticular cell' didn't give me the confidence to say that any and all reticular cells found in lymph node medulla are the same type of specialised fibroblast that the expert referred to, as per

[2022-04-29 11:20] paolaroncaglia commented on #523
@dosumis this is an old term request stemming from work on the Tabula Muris. The 2 terms aren't in CL yet. If you think they could still be useful for that or other projects, and in scope for my work, I'll be happy to add them.

[2022-04-29 12:13] #573 closed

[2022-04-29 12:17] paolaroncaglia commented on #649
Closing as a duplicate of https://github.com/obophenotype/cell-ontology/issues/1262.

[2022-04-29 12:17] #649 closed

[2022-04-29 12:18] paolaroncaglia commented on #632
Closing as a duplicate of https://github.com/obophenotype/cell-ontology/issues/1262.

[2022-04-29 12:31] paolaroncaglia commented on #743
'extrafusal muscle fiber' was added at the time as CL:0008046, so I'll close.

[2022-04-29 12:31] #743 closed

[2022-04-29 12:32] paolaroncaglia commented on #753
@matentzn please, can this be closed?

[2022-04-29 12:34] paolaroncaglia commented on #763
@matentzn I assume that this can be closed, too.

[2022-04-29 12:47] matentzn commented on #763
I wouldnt even know how to solve this.. Very difficult. For whoever in techland wants to pick this up, this is my idea:

Any class in the cl-base.owl file with a label must match the following pattern (roughly):

`http://purl.obolibrary.org/obo/CL_[0-9]{7}`

Add sparql query to that end. For when you are bored @anitacaron :)

[2022-04-29 14:55] paolaroncaglia commented on #753
I'll leave it open then.

[2022-05-01 09:41] shawntanzk commented on #828
Generally done, anything else should have its own ticket

[2022-05-01 09:41] #828 closed

[2022-05-01 09:50] shawntanzk commented on #930
Closing this ticket as I think everything that is working fine now. Please reopen or create new tickets if there is any issues with this still. Thanks

[2022-05-01 09:50] #930 closed

[2022-05-02 14:27] emquardokus commented on #1482
@bvarner-ebi @dosumis I met with Sanjay Jain (KPMP and HuBMAP) on Friday April 30; he reviewed and updated the new term request table on May 2, 2022.  He asked about adding 2 additional cell types Descending Thin Limb Cell Type 2 and Descending Thin Limb Cell Type 3 and I've added those to the table and asked if he could provide the rest of the information for those.
He has updated those 2 new cel

[2022-05-02 14:44] #1571 closed

[2022-05-03 20:39] #1128 closed

[2022-05-03 20:46] #161 closed

[2022-05-03 21:00] tgbugs commented on #1128
Sorry, just seeing this. The one area where the neocortex axioms would be problematic is that there are basket cells in hippocampus, so basket cell usually applies neocortex and hippocampus, whereas neocortex basket cell is the differentiated form for neocortex only. That said, all of these types are coming from neocortex only, and Rat area S1 specifically. So the change to include the part of neo

[2022-05-05 23:32] nicolevasilevsky commented on #1504
sounds good @paolaroncaglia, I don't have any feedback. :)

[2022-05-06 08:31] paolaroncaglia commented on #1504
Note to self/final action item:
- [ ] to deploy documentation, see instructions [here](https://github.com/obophenotype/cell-ontology/issues/1504#issuecomment-1076771721).

[2022-05-10 11:41] bvarner-ebi opened #1577 "[NTR] [ASCT+B table] proximal tubule epithelial cell (3 terms for segments 1 - 3)"
This is part of the ASCT+B harmonisation initiative. New terms are being spawned from [the kidney table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910).

Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
proximal tubule epithelial cell segment 1
proximal

[2022-05-10 12:59] dosumis commented on #1472
subClassOf makes sense.  Agree that Equivalence could be dangerous given current state of knowledge.

For 'lymph node lymphatic vessel endothelial cell' I think a general term could be useful.  Maybe try running the DL query first to see if you get everything you expect under it.

[2022-05-10 14:46] paolaroncaglia commented on #1113
@bvarner-ebi hi, as agreed with @dosumis , I'll hand this ticket over to you. David mentioned that there's a plan to push on this soon.
Thank you in advance.

[2022-05-10 15:43] bvarner-ebi commented on #1471
@dosumis, @ANiknejad, given the comments above, would closing this ticket for now be appropriate?

[2022-05-10 16:22] bvarner-ebi opened #1579 "[NTR] [ASCT+B table] descending thin limb epithelial cell (3 types)"
This is part of the ASCT+B harmonisation initiative. New terms are being spawned from [the kidney table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910).

Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
descending thin limb epithelial cell type 1
descend

[2022-05-11 08:29] bvarner-ebi opened #1581 "[NTR] [ASCT+B table] collecting duct intercalated cell type A"
This is part of the ASCT+B harmonisation initiative. New terms are being spawned from [the kidney table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910).

Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
collecting duct intercalated cell type A

**Synonym

[2022-05-11 09:30] bvarner-ebi opened #1582 "[NTR] [ASCT+B table] epithelial cell of distal convoluted tubule (2 terms for early and late segments)"
This is part of the ASCT+B harmonisation initiative. New terms are being spawned from [the kidney table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910).

Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
epithelial cell of early distal convoluted tubule
e

[2022-05-11 10:35] bvarner-ebi opened #1583 "[NTR] [ASCT+B table] connecting tubule principal cell"
This is part of the ASCT+B harmonisation initiative. New terms are being spawned from [the kidney table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910).

Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
kidney connecting tubule principal cell
(prepending

[2022-05-11 11:56] bvarner-ebi opened #1584 "[NTR] [ASCT+B table] connecting tubule intercalated cell (3 terms: parent + 2 types)"
This is part of the ASCT+B harmonisation initiative. New terms are being spawned from [the kidney table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910).

Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
kidney connecting tubule intercalated cell
kidney c

[2022-05-11 12:47] bvarner-ebi opened #1585 "[NTR] [ASCT+B table] renal medullary fibroblast"
This is part of the ASCT+B harmonisation initiative. New terms are being spawned from [the kidney table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910).

Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
renal medullary fibroblast

**Synonyms**
kidney med

[2022-05-13 09:21] bvarner-ebi commented on #1482
Per @emquardokus, these new kidney-related terms ideally will be added by end of May 2022.

[2022-05-13 09:48] #1577 closed

[2022-05-13 10:50] bvarner-ebi commented on #1579
Note: I don't see a justification to label these as cell type 1, cell type 2, etc.
Although long, these are the updated labels that I believe clearly convey the cell types:

epithelial cell of the short descending limb of the loop of Henle
epithelial cell of the outer medulla of the long descending limb of the loop of Henle
epithelial cell of the inner medulla of the long descending limb of the lo

[2022-05-13 11:18] bvarner-ebi commented on #1579
Removed "(inner stripe)" from definition for 'epithelial cell of the outer medulla of the long descending limb of the loop of Henle'... did not see this specification in reference. Will add back if reference found.

[2022-05-13 16:31] scheuerm opened #1587 "MIRACL preprint"
I just ran across the MIRACL preprint.  The approach is essentially the same as what we had proposed in a paper from 2017 - https://pubmed.ncbi.nlm.nih.gov/29322913/ , and have used to annotate >200 brain cell types in the Provisional Cell Ontology (PCL) and reported in two Nature papers - https://pubmed.ncbi.nlm.nih.gov/34616062/ and https://pubmed.ncbi.nlm.nih.gov/31435019/ .  Since several of t

[2022-05-13 17:11] addiehl commented on #1587
Hi Richard,
I agree that we should cite your 2017 paper as prior work in this area, and certainly we (@lubianat) can revise the preprint to do so.  The point of the current paper is to codify a minimal information standard for submitting novel cell types to CL, a standard that we will submit to FAIRsharing.org and other resources that collect minimal information standards and share with collaborat

[2022-05-13 17:34] lubianat commented on #1587
Hello, @scheuerm,

Thank you for the feedback. I also agree that citing the 2017 paper makes sense.
MIRACL is a contribution towards materializing  "data standard conventions" mentioned in 2017 paper, though the focus of MIRACL is not necessarily individual experiments, but research reports (which might include several lines of evidence).

If there are any other points that you believe could be ad

[2022-05-13 18:12] lubianat commented on #1587
@scheuerm both are really good points.

1) I agree that the location might not always be the sole base of a new identifier. Some authors might think so, and in some cases it might be good, especially when there are tissue-specific markers. I'd argue that it would be good for the authors to report such claims on MIRACL sheets, even if the CL community ends up not assigning a distinct cell type, and

[2022-05-14 03:54] #366 closed

[2022-05-16 04:58] emquardokus commented on #1579
@bvarner-ebi the descriptions that Sanjay Jain provided should be used as is.  PMID: 33769951 provides the differential gene expression evidence for the particular genes that are hallmarks for these regions and cell types.
The concise cell names are more succinct and it's hard to justify the multiple "of this of that" phrasing--is this necessary?
Inner and Outer stripe are well documented terms in

[2022-05-16 08:57] bvarner-ebi commented on #1579
Thank you for the review and feedback, @emquardokus!
My feedback is below, and I look forward to your replies.

Looking at PMID: 3376995, I see the following for segment-specific genes:

"DTL1 selectively expresses the serine protease Corin, the homeobox TF Uncx, and the urea channel Slc14a2. The long descending limb of the loop of Henle in the outer medulla selectively expresses the secreted acti

[2022-05-17 14:09] paolaroncaglia commented on #1587
@lubianat I'll assign this to you, thank you for it.

[2022-05-18 10:19] paola-scibite opened #1588 "[NTR] neuron types"
@shawntanzk @dosumis
Hi, would the following terms warrant new CL classes in the 'neuron' branch, please?
Or should they be synonyms of existing terms?
Thanks in advance.
Paola

octopus cell
https://pubmed.ncbi.nlm.nih.gov/11976365/

double bouquet cell
https://www.nature.com/articles/nrn1519?proof=t, https://pubmed.ncbi.nlm.nih.gov/15846784/

Cartwheel cell
https://en.wikipedia.org/wiki/Cartwheel

[2022-05-18 10:21] shawntanzk commented on #1588
leave this with me, let me do some research and add them either as synonyms or new classes

[2022-05-18 10:22] paola-scibite commented on #1588
@shawntanzk thank you!

[2022-05-18 10:35] paola-scibite opened #1589 "Should "lipophage" be a synonym of CL:0000891 'foam cell'?"
@addiehl please (or anyone who'd like to help):
Is "lipophage" the same as "foam cell"?
CL:0000891 'foam cell': "A type of cell containing lipids in small vacuoles and typically seen in atherolosclerotic lesions, as well as other conditions. [ GOC : add ]"
Wikipedia [says](https://en.wikipedia.org/wiki/Foam_cell) that foam cells are also called lipid-laden macrophages, and SNOMED [says](https://ww

[2022-05-18 15:37] paolaroncaglia opened #1590 "[Typo/Bug] Typo in def of CL:0000750 OFF-bipolar cell"
**CL term**
CL:0000750 OFF-bipolar cell

**Description of typo, bug or error**
Def has depolatize instead of depolarize

[2022-05-18 15:53] lubianat commented on #1589
This relatively recent: https://cap.objects.frb.io/documents/2018-hematology-clinical-microscopy-glossary.pdf

I'd vote for yes, it is used as a synonym (at least in some contexts)

[2022-05-18 15:53] lubianat commented on #1589
![image](https://user-images.githubusercontent.com/7917951/169087291-66626a6f-64dd-42b0-a8fb-42539c3943f3.png)

[2022-05-18 16:33] addiehl commented on #1589
We should add "lipophage" as a exact synonym for 'macrophage derived foam cell' CL:0000517, rather than its parent 'foam cell' because 'smooth muscle cell derived foam cell' CL:0000892 is also a child of 'foam cell' and does not develop a monocyte/macrophage ([PMID:6136115](https://pubmed.ncbi.nlm.nih.gov/6136115/)).

[2022-05-18 16:45] addiehl commented on #1589
Note that the Wikipedia article on "Foam Cell" does not discuss smooth muscle derived foam cells, and thus is an incomplete source of knowledge on foam cells.

[2022-05-18 17:20] lubianat commented on #1589
That is great, Alex. I'll try and update Wikipedia on foam cells. If there are any articles/resources that you think it should be included there too, just let me know.

[2022-05-18 18:20] shawntanzk commented on #1540
CL call decision:
obsolete excitatory and inhibitory, as these are too difficult to populate
HOWEVER - check if any downstream is affected first

[2022-05-18 18:38] addiehl commented on #1589
Hi Tiago.  The 2019 article above is a good start, but of course there are many more, such as this 2022 [review](https://www.frontiersin.org/articles/10.3389/fcvm.2022.845942/full).  [PMID:34345929](https://pubmed.ncbi.nlm.nih.gov/34345929/), 2021, and [PMID:33096029](https://pubmed.ncbi.nlm.nih.gov/33096029/) also look interesting from the abstracts, though my institution does not have these arti

[2022-05-19 09:20] paolaroncaglia commented on #1589
@lubianat @addiehl thank you both for your feedback!
I'll add "lipophage" as a exact synonym for 'macrophage derived foam cell' CL:0000517, and I'll leave it to Tiago to edit the Wikipedia entry on foam cells. I'm assigning this ticket to both of us accordingly.

[2022-05-19 10:42] shawntanzk opened #1591 "Update CL Foundry Page"
https://obofoundry.org/ontology/cl.html - this is outdated and needs to be fixed
This can be edited here: https://github.com/OBOFoundry/OBOFoundry.github.io/blob/master/ontology/cl.md

[2022-05-19 10:45] shawntanzk opened #1592 "Update CL readme"
CL readme is a bit bare and might be a bit outdated.
With new stuff written for CL update manuscript, we can look into making a better readme for people landing.

[2022-05-19 10:47] shawntanzk opened #1593 "Fix landing page for CL github io page"
https://obophenotype.github.io/cell-ontology/

The landing page is a bit bare and doesn't do much at the moment, we should look into populating this properly with appropriate links etc.

[2022-05-19 12:59] masciam opened #1594 "Hepatic progenitor cell"
Hi as finishing my work on the ASCT table for Liver I would like to request to add the hepatic progenitor cell as human adult counterpart of the oval cell that are bipotential progenitors capable of forming hepatocytes or cholangiocytes in rodent adult liver. The equivalent bipotential progenitors in adult human liver are called hepatic progenitor cells.
There is a difference between hepatic stem

[2022-05-20 08:03] bvarner-ebi commented on #1594
Hi @masciam, thank you for suggesting this new cell type.
Could you [create an "Add term" issue,](https://github.com/obophenotype/cell-ontology/issues/new/choose) and provide the requested information?
For examples of other "new term requests', you could view closed issues with the "new term request" tag or reach out to me for additional support.

[2022-05-20 12:05] lubianat commented on #1589
Thanks Alex! I just added a line there about the smooth-muscle derived foam cells (I do not know enough about them to make larger modifications). And agreed, it would be good to have a reference in the CL entry.

[2022-05-20 12:11] #1591 closed

[2022-05-20 13:16] paolaroncaglia commented on #1589
@addiehl @lubianat I will also add [PMID:30664015](https://pubmed.ncbi.nlm.nih.gov/30664015/) to 'smooth muscle cell derived foam cell'

[2022-05-20 13:51] #1504 closed

[2022-05-20 14:06] #1590 closed

[2022-05-20 15:10] #1472 closed

[2022-05-20 15:34] paolaroncaglia commented on #1589
@lubianat @addiehl I did my edits, and Tiago said he edited the Wikipedia entry, so I'll close.

[2022-05-20 15:34] #1589 closed

[2022-05-23 13:37] #1306 closed

[2022-05-23 13:37] #1473 closed

[2022-05-24 09:30] paolaroncaglia commented on #1314
I fixed the capitalisation, and made some exact synonyms broad instead. The taxon specificity is in rdfs:comments already, so I'll go ahead and close.

[2022-05-24 09:30] #1314 closed

[2022-05-24 11:08] bvarner-ebi commented on #1577
The following terms have been added:

CL:4030009 'epithelial cell of proximal tubule segment 1'
CL:4030010 'epithelial cell of proximal tubule segment 2'
CL:4030011 'epithelial cell of proximal tubule segment 3'

[2022-05-24 20:59] masciam opened #1604 "hepatic progenitor cell"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**
hepatic progenitor cell

**Synonyms**
adult hepatic progenitor cell

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**
It is a progenitor cell that is part of the adult human liver and is capable of differentiating only in hepatocyte or chol

[2022-05-26 12:16] lubianat commented on #1587
@scheuerm The preprint has been revised and an updated version is available at https://arxiv.org/abs/2204.09673

Thank you again for the comments!

[2022-05-26 14:01] bvarner-ebi commented on #1594
Closing this issue as it has been replaced by #1604.

[2022-05-26 14:01] #1594 closed

[2022-05-27 06:59] #818 closed

[2022-05-27 13:46] #1362 closed

[2022-05-27 19:39] bvarner-ebi opened #1605 "Import kidney Uberon terms to CL to support new HubMAP CL terms"
As discussed in PR #1586, please:

- [ ] import the following Uberon terms to  CL:
 - UBERON:0005099 'short descending thin limb'
 - UBERON:0005100 'long descending thin limb'

- [ ] add the following subclass axioms in CL:
 - CL:4030012 EA: 'epithelial cell' and 'part of' some 'short descending thin limb' - CL:4030013 part_of some UBERON:0005100
 - CL:4030014 part_of some UBERON:0005100

[2022-05-27 19:40] bvarner-ebi commented on #1605
@shawntanzk, could you help with the import part of this request?

[2022-05-27 19:50] shawntanzk commented on #1605
@bvarner-ebi you should be able to do it with your new machine now :) why don't you try doing it and if you run into any issues, let me know

[2022-05-30 08:33] Wkt8 opened #1606 "Retina paper as source for new CL terms"
This is a paper being wrangled from the HCA Data Portal to CellxGene. The paper consists of retina tissues. The paper and it's gene expression matrices contain a number of free-text matrices which have no specific mapping in CL.

Doi: [10.1016/j.cell.2020.08.013](https://doi.org/10.1016/j.cell.2020.08.013)
Spreadsheet containing mapping of free-text matrices to closest CL term: [Retina_cell_types.

[2022-05-30 12:38] bvarner-ebi commented on #1604
Thank you for this ticket, @masciam. Would you kindly add the reference (PMID, DOI, etc) to support adding this cell type?

[2022-05-30 12:56] kalpanaps opened #1610 "endoderm/hepatic progenitor"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**hepatic progenitor

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**:Hepatic progenitor cells serve as the major component of the hepatic parenchyma in early stages of liver organogenesis [[8]](https://www.ncbi.nlm.nih.gov/pmc/

[2022-05-30 13:00] kalpanaps opened #1611 "nurse cell"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**
Cells accessory to egg and/or sperm formation in a wide variety of organisms. Usually thought to synthesize special substances and to export these to the developing gamete (BTO

[2022-05-30 13:05] kalpanaps opened #1612 "coelomocyte"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**:coelomocyte

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**:1: Corpuscles (usually amoebocytes) in the coelomic or pseudocoelomic fluids of invertebrates. 2:(Annelida) amoebocytes and elaeocytes. 3: (Echinodermata) The spind

[2022-05-30 13:12] kalpanaps opened #1613 "synaptosome"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**:From cryopreserved human brain tissues, it is possible to isolate detached-and-resealed synaptic terminals termed synaptosomes, which remain metabolically and enzymatically act

[2022-05-30 13:34] kalpanaps opened #1614 "lipid-loaded macrophage"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**lipid-loaded macrophage

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**PMID: 16479605 - Enzymatically degraded low density lipoprotein (E-LDL) preferably binds to monocyte subsets, revealing a high expression of the LPS recep

[2022-05-30 13:38] kalpanaps opened #1615 "hemocyte"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:** hemocyte

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**:PMID:33995363 - The innate immune system of insects is divided into humoral defenses that include the production of soluble effector molecules (like antimicrobial pept

[2022-05-30 13:55] kalpanaps opened #1616 "arterial endothelial cell"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**arterial endothelial cell

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**:PMID:30412436 - Visit 2 occurred within 7 days of visit 1. A 20-gauge, 5-cm catheter (model RA-04020; Arrow, Reading, PA) was inserted into the radial

[2022-05-30 13:55] bvarner-ebi commented on #1610
@kalpanaps, thank you for the new term request.
Could you confirm that this is not a request for the same cell type as this:
https://github.com/obophenotype/cell-ontology/issues/1604

[2022-05-30 14:50] bvarner-ebi commented on #1606
@Wkt8, thank you for sharing your file on retina cell types.
I added it to the [New cell type triage workbook](https://docs.google.com/spreadsheets/d/1WTs7AFd4outzbr_w-ct6Us1F4owYUKzTG0C-nzh-0jQ/edit#gid=494641507). Please feel free to edit it.

If there are any particular high priority new cell types you would like to add to CL, please create new term requests.

[2022-05-30 14:51] kalpanaps opened #1617 "embryonic fibroblast"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**embryonic fibroblast

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**
Has a BTO X'ref - BTO:0004725

**Parent cell type term (check the hierarchy here https://www.ebi.ac.uk/ols/ontologies/cl):**

**What is the anatomical struc

[2022-05-30 15:02] kalpanaps opened #1618 "Fetal fibroblast"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label:**

**Synonyms**

**Definition (free text, please give PubMed ID in format PMID:XXXXXX)**PMID: 29736806

**Parent cell type term (check the hierarchy here https://www.ebi.ac.uk/ols/ontologies/cl):**

**What is the anatomical structure that the cell is a part of? Ple

[2022-05-30 15:31] bvarner-ebi commented on #1579
The following terms have been added:

CL:4030012 'kidney loop of Henle short descending thin limb epithelial cell'
CL:4030013 'kidney loop of Henle long descending thin limb outer medulla epithelial cell'
CL:4030014 'kidney loop of Henle long descending thin limb inner medulla epithelial cell'

[2022-05-30 15:31] #1579 closed

[2022-05-30 17:01] #1531 closed

[2022-05-31 06:00] matentzn opened #1619 "Make README.md in this repo nicer"
More like the new splash page, more info

[2022-05-31 14:54] lubianat opened #1621 "Merge renal intercalated cell and kidney collecting duct intercalated cell?"
**CL term**
https://www.ontobee.org/ontology/CL?iri=http://purl.obolibrary.org/obo/CL_0005010 and https://www.ontobee.org/ontology/CL?iri=http://purl.obolibrary.org/obo/CL_1001432

**Suggested revision and reasons**

[CL_1001432](http://purl.obolibrary.org/obo/CL_1001432) does not have a definition and is the single child of http://purl.obolibrary.org/obo/CL_0005010. Not sure what their difference

[2022-06-01 00:58] #1540 closed

[2022-06-01 13:50] #1607 closed

[2022-06-01 18:58] cakirb commented on #1171
Hello,

What is the current status of this term? Thanks!

[2022-06-04 04:25] emquardokus commented on #1604
@bvarner-ebi @masciam
Here are several DOI to support adding cell type; needed urgently for HuBMAP
https://doi.org/10.1038/s12276-020-0483-0
https://doi.org/10.7554/eLife.47313
https://doi.org/10.1016/B978-0-12-385233-5.00008-8
http://dx.doi.org/10.1136/gut.2007.143321
Thanks

[2022-06-04 05:27] emquardokus commented on #1616
@kalpanaps this is exact synonym for endothelial cell of artery http://purl.obolibrary.org/obo/CL_1000413

[2022-06-04 05:29] emquardokus commented on #1617
@kalpanaps term already exists: embryonic fibroblast http://purl.obolibrary.org/obo/CL_2000042

[2022-06-04 05:32] emquardokus commented on #1612
@kalpanaps exact match term already exists: [CL:0000421](http://purl.obolibrary.org/obo/CL_0000421)

[2022-06-04 05:43] emquardokus commented on #1613
@kalpanaps these are cells though... they are a cell fraction of isolated synapses.

[2022-06-05 12:20] dosumis commented on #1613
Agree is useful term, but out of scope for CL.  Maybe try OBI?

[2022-06-05 12:39] dosumis commented on #1171
@bvarner-ebi can we make this a high priority. Thanks!

[2022-06-05 12:46] dosumis commented on #1611
@gouttegd can you look into relationship to FBbt nurse cell.  I think the key question is whether these are always germ cells.

[2022-06-05 16:36] #1616 closed

[2022-06-05 16:38] dosumis commented on #1616
Please use term linked by @emquardokus

[2022-06-05 16:42] #1617 closed

[2022-06-06 10:09] bvarner-ebi commented on #1171
@GHAStVHenry, thank you for the new cell request.

For your requested synonym, do you have a reference to attach to that? After scanning your supplied references, it seems these cells are discussed in context of the trachea and airway epithelium. I haven't found a reference specifically to a 'hillock cell of bronchiole'.

Similarly, should the parent cell type be CL:0002368 'respiratory epithelial

[2022-06-06 11:28] bvarner-ebi commented on #1621
FYI @emquardokus, since we are working on adding related cell types

[2022-06-06 11:54] bvarner-ebi commented on #1604
This cell type appears to be the same as CL:0002196 'hepatic oval stem cell'.

In https://doi.org/10.1038/s12276-020-0483-0 it states: "... [biliary epithelial cells] are able to dedifferentiate into liver progenitor cells (LPCs), also known as oval cells.'

In [PMID:17901986](https://pubmed.ncbi.nlm.nih.gov/17901986) it states: "Hepatic stem/progenitor cells also known as “oval cells” in rodents

[2022-06-06 12:57] gouttegd commented on #1611
@dosumis In FBbt, `nurse cell` is a subClassOf `female germline cell` and is defined as “one of a group of 15 germ cells that lie anterior to the oocyte within the egg chamber.” These cells are, indeed, always germ cells.

Of note, in CL we already have `invertebrate nurse cell` (CL:0000026), which is also a subClassOf `germ line cell` and is defined as “a germline cell that contributes to the dev

[2022-06-06 13:31] anitacaron commented on #531
Two alternatives:
1. SPARQL CONSTRUCT to add missing oboInOwl:hasOBONamespace https://api.triplydb.com/s/VaQ-4yPBP. Downside: Require running an ODK command (reduce accessibility)
2. Delete the namespace annotations for this property

[2022-06-06 13:33] matentzn commented on #531
Rather than create another technical burden on curators and infrastructure, I vote to remove this tag.

[2022-06-06 13:39] masciam commented on #1604
I am fine with having the hepatic progenitor cell as synonym of the Oval cell. My only concern is that the hepatic progenitor cell are only present in adult human can only differentiate in 2 specific cell types and they are different from hepatic stem cell that derived from bone marrow.  I will not change '_hepatic oval cell_' with '_haptic oval stem cell_' this will create more confusion.  I have

[2022-06-06 13:59] GHAStVHenry commented on #1171
Lung isn't my expertise, but your suggestions make sense. I only put in this request because the lung hillock signature is how we identified the related cell in the urethra (#1134).

[2022-06-06 14:12] bvarner-ebi commented on #1604
Thanks for the feedback, @masciam.

These terms are not species restricted in the ontology, so I don't expect it should cause an issue. The few papers I scanned suggest only bipotency of hepatic progenitor cell, so that seems in line with oval cell. We won't call it 'hepatic stem cell', but I have seen 'hepatic stem/progenitor cell' used to seemingly refer to the progenitor cell.

I don't see the

[2022-06-06 14:36] dosumis commented on #531
Agree, we should remove. AFAIK, the only ontology where obo namespace is useful is GO. If anyone using CL still needs it they should have complained by now given how many terms lack it .

[2022-06-06 14:39] bvarner-ebi commented on #1171
@GHAStVHenry, thanks for the feedback.
There is a PR ready for review: https://github.com/obophenotype/cell-ontology/pull/1624.

[2022-06-06 15:45] matentzn commented on #531
@anitacaron You can do this with a quick regex hack I think, but don't do it this week (give other people a chance to comment)

[2022-06-06 16:32] dosumis commented on #1611
I think that would be reasonable.  Perhaps you want some wiggle room with defining the parent class.  I'm sure there are a very large number of cell types that provide some substances to oocytes (e.g. circulating metabolites).  Could we perhaps have some restriction on the mode or directness of transport, or on the amount or type of material provided?

[2022-06-06 16:37] masciam commented on #1604
e the issue here I am fine with having the synonym .

[2022-06-06 16:52] cmungall commented on #531
agreed

the original obo namespace conflated two useful things: (1) what ontology is this term in (2) what kind of thing is this

(1) is best served by the current proposal to ensure every term is tagged by rdfs:isDefinedBy
(2) is best served by having a category annotation on each term (ubergraph does this)

[2022-06-06 18:17] gouttegd commented on #1611
I think what would make the most sense is to include in the definition the notion of transfert of cytoplasmic material (including organelles) by direct cross-membrane channels. This seems to be the common point across insect-type nurse cells proper, pyriform cells in birds/reptiles/frogs, and “nurselike cells” in mouse.

This would exclude cells that provide substances by a paracrine-like mechanis

[2022-06-07 09:24] bvarner-ebi commented on #1604
@masciam, I think confusion may stem from (pun intended) how it has been referred to in papers, using both progenitor and stem in the terminology (see below).
In CL I see several classes with 'stem' in the label as sublclasses of 'progenitor cell', so we could consider moving 'hepatic oval stem cell' to a subclass under 'progenitor cell'. @dosumis, what do you think?

For reference, the text defin

[2022-06-07 10:00] emquardokus commented on #1604
1) The difference in terminology between adult hepatic progenitor cell and hepatic oval cell seems to be human vs rat.  From PMID: [28135758](https://pubmed.ncbi.nlm.nih.gov/28135758):
"In this scenario, adult hepatic stem/progenitor cells, termed hepatic progenitor cells (HPCs) in humans[4](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5534384/#R4) and oval cells in rodents,[5](https://www.ncbi.nl

[2022-06-07 13:15] #1581 closed

[2022-06-07 13:26] #1319 closed

[2022-06-07 14:27] masciam commented on #1604
-***_*_I agree on
- move the hepatic oval cell under progenitor cell
- make the hepatic progenitor cell a synonym of hepatic oval cell
- leave the hepatic stem cell under stem cell_**

[2022-06-07 17:47] bvarner-ebi commented on #1604
Proposal:

[ ] change the parent of CL:0002196 'hepatic oval stem cell' from 'hepatic stem cell' to 'progenitor cell'
[ ] add 'hepatic progenitor cell' as an exact synonym to 'hepatic oval stem cell'
[ ] do not edit 'hepatic stem cell'

[2022-06-08 14:27] emquardokus commented on #1171
@bvarner-ebi

[2022-06-08 14:49] emquardokus commented on #1171
@bvarner-ebi I commented on PR---I do not think based on literature hillock cell is restricted to respiratory system. See comment on PR.

[2022-06-08 14:52] bvarner-ebi commented on #1171
Agreed. Does it make sense to you to label this term as 'hillock cell of respiratory epithelium'?
We could make a separate parent term for 'hillock cell' and place this term and one requested in #1134 under it.

[2022-06-08 15:35] stranddw commented on #1171
This should be labeled as hillock cell of urethral epithelium.

From: bvarner-ebi ***@***.***>
Sent: Wednesday, June 8, 2022 9:53 AM
To: obophenotype/cell-ontology ***@***.***>
Cc: Douglas Strand ***@***.***>; Mention ***@***.***>
Subject: Re: [obophenotype/cell-ontology] [NTR] Hillock Cell (#1171)

EXTERNAL MAIL

Agreed. Does it make sense to you to label this term as 'hillock cell of respiratory

[2022-06-08 15:40] GHAStVHenry commented on #1171
@stranddw @emquardokus this is the submission for lung hillock, not urethra

[2022-06-09 09:00] paolaroncaglia commented on #1365
Hi CL editors, this ticket was automatically assigned to Nicole when I added the "merge" label, but it may be in scope for human-focused-funding projects. If so, it could also be used to further test @shawntanzk 's merge guidelines if that's still desired (I can't remember the link though!). Either way, thank you.

[2022-06-09 09:30] shawntanzk commented on #1365
@bvarner-ebi - would you mind taking a look at this and using https://github.com/OBOAcademy/obook/pull/145 to merge the terms? thanks :)

[2022-06-09 09:34] bvarner-ebi opened #1627 "Create new GitHub issue template for new term requests coming in via cellxgene"
As discussed in recent cellxgene meeting, a template for new CL term requests coming in via cellxgene will be created.

This template should contain the standard information for a CL new term request plus additional fields specific to cellxgene (@dosumis, can you confirm fields?) and a GitHub label for 'cellxgene'.

[2022-06-09 09:35] paolaroncaglia commented on #1365
@bvarner-ebi @shawntanzk thank you both.

[2022-06-09 12:29] dosumis commented on #1627
I think minimal would be to just add the cellXGene label - maybe should also assign to you by default.  We could also add a bit about suggesting markers that uniquely identify the cell type (noting species).

[2022-06-12 06:21] shawntanzk commented on #1619
related to https://github.com/obophenotype/cell-ontology/issues/1592 and attached PR

[2022-06-12 06:23] #1593 closed

[2022-06-13 12:02] shawntanzk commented on #1588
Label: octopus cell of the mammalian cochlear nucleus
Definition: a neuron in the posterior ventral cochlear nucleus that is distinguished by their long, thick and tentacle-shaped dendrites that typically emanate from one side of the cell body. [WikipediaVersioned:title=Cochlear_nucleus&oldid=1090176664]
Comment: Octopus cells respond only at the onset of a broad-band simple tonal stimulus and for

[2022-06-13 12:12] shawntanzk commented on #1588
Label: double bouquet cell
Equivalent class: interneuron and ('has characteristic' some 'double bouquet morphology') (needs double boquet morphology added into PATO)
Definition: An interneuron that has double bouquet morphology [PMID:15378039]
Parent: interneuron

[2022-06-14 08:13] shawntanzk commented on #1588
Label: cartwheel cell
Def: A neuron of the dorsal cochlear nucleus which spiny dendrites receive input from the axons of granule cells and their axons release GABA and glycine onto cartwheel, pyramidal and giant cell targets [WikipediaVersioned:Cartwheel_cell&oldid=1040398094, ILX:0102311]
Comment: Cartwheel cells share many of the features, molecular and electrophysiological, of cerebellar Purkin

[2022-06-14 09:25] shawntanzk commented on #1588
Label: Unipolar brush cells
Def: A excitatory glutamatergic interneuron found in the granular layer of the cerebellar cortex and also in the granule cell domain of the cochlear nucleus. Unipolar brush cells have a round or oval cell body with usually a single short dendrite that ends in a brush-like tuft of short dendrites unique to them known as dendrioles. [WikipediaVersioned:Unipolar_brush_cell

[2022-06-14 20:47] nlharris opened #1629 "Feedback on new CL home page"
As requested, here is my feedback on https://cell-ontology.github.io/. (I also emailed this to @dosumis on 2022-06-07.)

Overall, the page looks nice and clean. I like that it has minimal text. It could use more hyperlinks to make it easier to get to other information — see below for some specific suggestions.

The blue “Query” button goes to https://yasgui.triply.cc/#; I don’t understand what to

[2022-06-15 07:33] shawntanzk commented on #1588
Label: bushy cell
Def: A neuron found in the anterior part of the ventral cochlear nucleus that has the appearance of bushes, having short dendrites. Bushy cells give outputs to different parts of the superior olivary complex.[WikipediaVersioned:Bushy_cell&oldid=879061753]
Parent: neuron
logical axioms:
'has soma location' some 'anteroventral cochlear nucleus' UBERON:0002830
'synapsed to' some 'su

[2022-06-15 08:56] dosumis commented on #1588
Check range of synapsed_to.  may be cell

[2022-06-15 09:03] shawntanzk commented on #1588
yeah its neuron, cant use that.
Can't use innervates too, cause that has domain neuron projection bundle
Can use 'sends output to' which is the parent of synapsed,  but there is an editors note:
[code]
Alternatively just leave that axiom out and depend on textual

[2022-06-15 09:22] dosumis commented on #1588
@Clare72 should be able to give advice on alternatives.  (Wasn't aware of the FMA relation - probably some reconciliation/merging needed).

[2022-06-15 09:50] Clare72 commented on #1588
Are you talking about 'synapsed to' in RO? There is no range on that.

[2022-06-15 09:51] shawntanzk commented on #1588
Oh I was looking at domain, sorry >.< my bad. No issues then :) thanks @Clare72

[2022-06-15 10:15] dosumis commented on #1588
As this is a brain region, I think better to use one of these two:

![image](https://user-images.githubusercontent.com/112839/173803663-dfd09183-415b-4250-98a4-90c4e41fdf5c.png)
(more specific one if you are confident of direction)

https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0013003&lang=en&viewMode=All&siblings=false.

[2022-06-15 13:38] shawntanzk opened #1631 "change dce to dc"
Related to https://github.com/obophenotype/cell-ontology/pull/1630

In latest release pull, it seems that some dc were changed to dce - not entirely sure why.
However a general fix would be to:
1) implement a qc that will fail at dce
2) do a mass change of all dce to dc

[2022-06-15 13:47] #1631 closed, assigned to anitacaron, shawntanzk

[2022-06-15 15:09] paola-scibite commented on #1588
@shawntanzk thanks again, and a minor comment:

I'm wary of 3-letter acronyms entered as exact synonyms. In the biomedical domain, SBC also stands for Small Bowel Cancer or Subchondral Bone Cyst. Sure these are not cell types and I know there's discussion on how to best capture synonym context. But as 3-letter strings can be especially ambiguous, in this case I'd prefer SBC to be a broad synonym -

[2022-06-15 16:02] dosumis commented on #1588
I prefer this.

[2022-06-15 23:49] brianpenghe commented on #1030
Type 1 alveolar cell (AT1) is a totally different cell type. Is it possible to use "Alveolar fibroblast (type) 1" or something?

[2022-06-16 02:15] shawntanzk commented on #1629
moved to https://github.com/cell-ontology/cell-ontology.github.io/issues/12

[2022-06-16 02:15] #1629 closed

[2022-06-16 08:19] #1604 closed

[2022-06-16 08:22] bvarner-ebi commented on #1604
@masciam, the changes discussed above have been merged via PR #1625 and will be reflected in the next CL release.
Thank you for your contribution!

[2022-06-16 13:40] paola-scibite opened #1635 "Is CL:0002148 'dental pulp cell' a stem cell?"
Dear CL editors,
I was going to request a new subclass (or descendant) of CL:0000034 'stem cell', namely 'dental pulp stem cell', based on this biomedically-relevant fact and potential usefulness for human-focused studies: "Human dental pulp stem cells (hDPSCs) are some of the most promising stem cell types for regenerative therapies given their ability to grow in the absence of serum and their re

[2022-06-16 14:26] masciam commented on #1604
Thank you :)

[2022-06-16 21:39] balhoff opened #1636 "unsatisfiable class: lymph node marginal reticular cell is part_of an immaterial entity"
This came up in a GO issue (there is an explanation there): https://github.com/geneontology/go-ontology/issues/23510#issuecomment-1158056090

The Ubergraph pre-release coherency check missed this because it turns out there are a few CARO-to-BFO bridge axioms found only in an RO import. I've since added this import to the check: https://github.com/INCATools/ubergraph/runs/6926464224?check_suite_foc

[2022-06-17 04:35] shawntanzk commented on #1636
[lymph node marginal reticular cell](http://purl.obolibrary.org/obo/CL_0009103) SubClassOf [part of](http://purl.obolibrary.org/obo/BFO_0000050) some [subcapsular sinus of lymph node](http://purl.obolibrary.org/obo/UBERON_0005463)
[subcapsular sinus of lymph node](http://purl.obolibrary.org/obo/UBERON_0005463) EquivalentTo [anatomical space](http://purl.obolibrary.org/obo/UBERON_0000464) and ([par

[2022-06-17 06:01] matentzn commented on #1636
@shawntanzk can we hotfix this now in whatever way, I can run a new release and we make a new issue to figure out the correct modelling? All worries should be dwarfed by unsats.

Since you define the sinus of lymph node as immaterial, it does not make sense to say its part of something material. It could be contained in it, or adjacent to it, or located in probably?

[2022-06-17 06:04] shawntanzk commented on #1636
I'll change it to adjacent to for now -> located in wont work due to range that is imported into CL
[code]

[2022-06-17 06:35] #1636 closed

[2022-06-17 08:18] dosumis commented on #1636
The correct relation is located_in (we need to add this here https://github.com/obophenotype/cell-ontology/blob/master/docs/relations_guide.md#recording-location).  We use this in multiple places for cells --> spaces especially sinuses.   The range is a confusing legacy of obsolete BFO concepts and should be fixed in RO.   It has no logical consequences under ELK reasoning.

Please change from adj

[2022-06-19 09:38] shawntanzk commented on #1389
are there any further thoughts on this?

My big worry with ditching HSL for part_of is that there will probably be quite a bit of unsats generated by it, and im not sure how to handle those unsats.

[2022-06-20 02:52] #1592 closed

[2022-06-20 12:30] #1352 closed

[2022-06-20 12:33] anitacaron opened #1643 "Add QC for contributor and ORCID pattern"

[2022-06-20 14:00] shawntanzk opened #1656 "Replace alt_id annotation with owl:deprecated/replaced_by?"
@cmungall
fears of breaking GO pipeline?

[2022-06-21 17:03] #1627 closed

[2022-06-22 12:50] ghost opened #1645 "import early and late distal convoluted tubule Uberon terms to CL"
Related to #1582, #1644.

Import the following Uberon terms to CL to support the new term request ticket/PR noted above:

UBERON:0005101 'early distal convoluted tubule'
UBERON:0005102 'late distal convoluted tubule'

[2022-06-24 09:14] #1582 closed

[2022-06-24 09:21] bvarner-ebi commented on #1645
Completed in #1644.

[2022-06-24 09:21] #1645 closed, assigned to nobody

[2022-06-24 09:23] bvarner-ebi commented on #1582
FYI, @emquardokus,
The following terms have been added to CL:

CL:4030016 'epithelial cell of early distal convoluted tubule'
CL:4030017 'epithelial cell of late distal convoluted tubule'

[2022-06-27 07:25] #519 closed

[2022-06-27 07:26] shawntanzk commented on #519
https://github.com/obophenotype/provisional_cell_ontology/issues/36

[2022-06-27 15:09] bvarner-ebi commented on #1583
Revise definition to not include biomarkers:
A renal principal cell located in the connecting tubule.

[2022-06-30 10:05] #1171 closed

[2022-07-01 16:59] #1583 closed

[2022-07-01 18:54] krchristie opened #1649 "NTR - rln GABAergic cortical interneuron"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label**
rln GABAergic cortical interneuron

**Synonyms** (add reference(s), please)

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
A GABAergic neuron located in the cerebral cortex that expresses reelin (rln).
PMID:23803971

**Pare

[2022-07-04 09:49] #1611 closed

[2022-07-04 14:26] bvarner-ebi commented on #1583
The following class has been added to CL:

CL:4030018 'kidney connecting tubule principal cell'

[2022-07-05 09:24] #1584 closed

[2022-07-06 08:50] #1585 closed

[2022-07-06 09:19] bvarner-ebi commented on #1585
The following cell types have been added to CL:

CL_4030022 ‘renal medullary fibroblast’
CL_4030025 ‘renal cortical fibroblast’

[2022-07-06 09:21] bvarner-ebi commented on #1482
@emquardokus, now that all terms from [the kidney table](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=1063693910) have been added to CL, I will close this ticket. Future requests can be submitted via "New Term Request" tickets.
Thanks for your contributions!

[2022-07-06 09:21] #1482 closed

[2022-07-08 11:10] #1048 closed

[2022-07-08 13:23] bvarner-ebi opened #1651 "[NTR] stromal cell of thymus, interstitial cell of thymus [HCA]"
Original ticket: https://github.com/HumanCellAtlas/ontology/issues/114

**Preferred term label**
stromal cell of thymus

**Synonyms** (add reference(s), please)
thymic stromal cell (exact)
https://www.nature.com/articles/s41467-020-20082-7

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
A stomal cell of the thymus.
https://www.nature.com/articles/s41467-020-

[2022-07-11 10:15] bvarner-ebi opened #1654 "[NTR] interstitial cell"
See [this comment](https://github.com/obophenotype/cell-ontology/pull/1652#pullrequestreview-1034077798).

**Preferred term label**
interstitial cell

**Synonyms** (add reference(s), please)
n/a

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
Any cell that is located within the interstitium between the cells most prominent in defining a given tissue. "Inters

[2022-07-11 10:16] #1651 closed

[2022-07-11 10:21] bvarner-ebi commented on #1651
Added:

CL:4030001 ‘stromal cell of thymus’
CL:4030003 ‘interstitial cell of thymus’

[2022-07-11 12:58] kalpanaps opened #1655 "[NTR] peripheral blood lymphocyte"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label**: peripheral blood lymphocyte

**Synonyms** (add reference(s), please)

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX): Lymphocyte subsets including T cells (CD3+), (B) B cells (CD19+) and (C) NK cells (CD3− CD56+) PMID:31092

[2022-07-11 13:55] bvarner-ebi commented on #17
fyi @shawntanzk

[2022-07-11 14:08] shawntanzk commented on #17
I'll handle it, thanks

[2022-07-11 14:08] dosumis commented on #17
Wow - that's an old one!  Might be worth folding into discussion of import from existing resources (BAMS; NPO).  Should at least check whether they have these.

[2022-07-11 15:12] matentzn commented on #1656
Now the ticket is in CL we should not close it.

[2022-07-11 15:46] shawntanzk opened #1657 "BAMS to CL"
We should start importing terms from BAMS into CL
see https://bams1.org/cells/list.php
ROBOT template is probably a way to go
Need to create a cycle between @tgbugs and @shawntanzk to handle this

[2022-07-11 15:59] shawntanzk commented on #1657
Things to think about:
- What does the thing we want to import look like?
- Missing: annotations with citations of evidence
- properties to be mapped
- Relax equivalent classes? (NPO)
- BAMS -> table needs to be mapped to owl file ID? but we should use table

Will set up a new repo to do mapping
@tgbugs will make an owl file to start working with.

[2022-07-14 07:47] bvarner-ebi opened #1658 "[Typo/Bug] 'gall bladder' should be 'gallbladder'"
**CL term**
Several, see below.

**Description of typo, bug or error**
As noted [here](https://github.com/obophenotype/uberon/pull/2570#pullrequestreview-1037362968), 'gall bladder' (two words) appears in several ontology terms. It inconsistently appears in the ontologies as one and two words. For CL, examples are:

CL:1001592 'gall bladder glandular cell'
CL:200069 'gallbladder fibroblast'

There

[2022-07-14 23:40] raymond91125 commented on #1658
FMA http://purl.org/sig/ont/fma/fma7202 "Gall bladder" is a synonym.

[2022-07-15 00:13] raymond91125 commented on #1658
All mentioning of "gall bladder" has been changed to "gallbladder" in GO, except in logical def (UBERON term). Thanks for the heads up.

[2022-07-15 07:41] shawntanzk commented on #1658
@bvarner-ebi - if FMA uses it as a synonym, we should defs add/leave it in the ontology

[2022-07-15 07:56] bvarner-ebi commented on #1658
Thank you for pointing this out. Is FMA actively maintained?

[2022-07-15 12:22] bvarner-ebi commented on #1658
Note that the source of using 'gall bladder' is reportedly Stedman's Electronic Medical Dictionary v5.0 2000 (http://fma.si.washington.edu/browser/#/?iri=http%3A%2F%2Fpurl.org%2Fsig%2Font%2Ffma%2Ffma7202).
Trying to get access to this text to confirm.

[2022-07-19 07:43] shawntanzk commented on #17
Term not in BAMS
but here in NPO https://github.com/SciCrunch/NIF-Ontology/blob/fb72fda56484f1c9443416ee7da6477331b68145/ttl/NIF-Cell.ttl#L297
I will add the term and add a dbxref to NIFEXT:44

[2022-07-19 07:55] dosumis commented on #17
(Broader context - worth mentioning in discussion with @tgbugs about mapping from NPO.  Is this a CUT - & if not should we be mapping more broadly.  Also need a strategy for developing SSSOM mapping & some thought about how we might use these in construction of unified knowledge bases).

[2022-07-19 09:36] tgbugs commented on #17
Just an FYI. NIF-Cell only partially overlaps with NPO, it is couple if iterations older, but we do reuse the ids in a number of cases.

[2022-07-21 10:10] shawntanzk commented on #1657
Hi @tgbugs - shall we use this board to manage task and keep track of this project? https://github.com/orgs/obophenotype/projects/14/views/1
We can add tickets to this repo and use the board to manage this overall project :)

[2022-07-21 10:13] shawntanzk opened #1663 "(re)add the citations in prep for migration of NPO"
(re)add the citations that we have to https://github.com/SciCrunch/NIF-Ontology/blob/neurons/ttl/generated/neurons/common-usage-types.ttl
Related to https://github.com/obophenotype/cell-ontology/issues/1657

[2022-07-21 10:15] shawntanzk opened #1664 "Add properties to NPO"
I assume this is NPO and not both NPO and BAMS?
Think David mentioned that they need to be added before migrating over?
Related to https://github.com/obophenotype/cell-ontology/issues/1657

[2022-07-21 10:16] shawntanzk opened #1665 "Add definitions to NPO"
Related to https://github.com/obophenotype/cell-ontology/issues/1657

[2022-07-21 10:18] shawntanzk opened #1666 "mapping NPO to CL"
Not sure if mapping needs to be done in PATO?
Need to figure out how? SSSOM?
Related to https://github.com/obophenotype/cell-ontology/issues/1657

[2022-07-21 13:15] dosumis commented on #1666
NPO is basically cell type/classes (even if they get called cell phenotypes)

[2022-07-21 13:25] shawntanzk commented on #1666
I vaguely rmbr there being morphology and electrophys terms in there? or was that just cell types with those properties

[2022-07-22 07:50] dosumis commented on #1666
Both (but bulk of terms are cell types).  I think Tom said he was happy to give on on his morphology terms and use PATO.  Not sure he has though, so might be worth building mapping.

[2022-07-25 09:32] bvarner-ebi commented on #2
Hi, @shawntanzk, tagging you on this neuron-related. It seems it can be closed.

[2022-07-25 09:45] bvarner-ebi commented on #5
@dosumis, unless you have other feedback, I will proceed with Paola's suggestions above.

[2022-07-25 10:22] bvarner-ebi commented on #12
Related ticket: https://github.com/obophenotype/cell-ontology/issues/1615

Should CL:0000387 'hemocyte (sensu Arthropoda)' be relabelled to 'hemocyte' or should a new term for 'hemocyte' be created (#1615)?

[2022-07-25 10:23] bvarner-ebi commented on #1615
@kalpanaps, thank you for the new term request.
Would this be a new, unique cell type, different from CL:0000387 'hemocyte (sensu Arthropoda)?

[2022-07-25 12:05] bvarner-ebi commented on #114
Some comments:

The proposed text def is:
"Neurons that produce dopamine, norephinephrine or adrenaline.  CA
synthesis involves four enzymes: tyrosine hydroxylase (TH), aromatic amino acid
decarboxylase (AADC), dopamine b-hydroxylase (DbH), and
phenylethanolamine-N-methyl transferase (PNMT)"

- "Neurons" should be in singular form.

- The term epinephrine vs adrenaline should be used consistently:

[2022-07-25 12:24] kalpanaps commented on #1615
Yes, they are not different. My apologies for creating new request

[2022-07-25 14:57] bvarner-ebi commented on #1615
Thank you for confirming, @kalpanaps.
I will close this ticket.

[2022-07-25 14:57] #1615 closed

[2022-07-25 18:42] gouttegd commented on #12
`sensu Arthropoda` is a little bit more precise.

I am not sure about removing `sensu Arthropoda` from CL:0000387’s label. The problem is that, as far as I know, “hemoctes” do not exist only in arthropods. The term is also used to refer to similar cells in other, non-insect invertebrates (e.g. mollusks, [González et al., 2019](https://doi.org/10.1016/B978-0-12-809633-8.20896-0)). But our CL:000038

[2022-07-26 08:47] bvarner-ebi commented on #12
Thank you for the feedback, @gouttegd. My concern with this is that someone may already be using CL:0000387 with the restriction in mind, so I wouldn't want to change the meaning of the term. So perhaps we leave the label as it is. Do the axioms referring to sensu Nematoda and Protostomia pose a problem if we leave the label as it is?

[2022-07-26 10:02] gouttegd commented on #12
Agreed.

I don’t think so. `Arthropoda` is included in `Nematoda and Protostomia`, so those axioms are true even if we keep restricting `hemocyte` to arthropods.

For example, `'hemocyte (sensu Arthropoda)' develops_from some 'prohemocyte (sensu Nematoda and Protostoma)'`: it is true that an (insect) hemocyte develops from an (invertebrate) prohemocyte.

It _is_ somewhat confusing that `hemocyte`

[2022-07-26 10:22] bvarner-ebi commented on #12
Thank you for the insight, @gouttegd! I think it is appropriate to leave the term as it is right now and to close this ticket.

[2022-07-26 10:22] #12 closed

[2022-07-26 17:30] #1658 closed

[2022-07-29 07:44] bvarner-ebi commented on #271
Hi, @cmungall. Are you expecting any other work on this ticket? As noted in the comment above, this ticket may be out of date, and I plan to close it unless additional feedback is provided within the next week.

CC: @dosumis, @matentzn

[2022-07-29 07:46] bvarner-ebi commented on #99
@shawntanzk, do you have any feedback on this ticket? If no further works need to be done, can we close the ticket, please?

[2022-07-29 07:48] shawntanzk commented on #99
Thanks @bvarner-ebi leave this with me, I'll get to it when I'm back and close it if need be :)

[2022-07-29 09:56] matentzn commented on #271
100% close this.

[2022-07-29 09:59] #271 closed

[2022-07-29 10:04] bvarner-ebi commented on #109
Hi, @shawntanzk. Do you have any feedback for this ticket? Kindly assign to me, assign to yourself or close based on your discretion.

[2022-08-01 08:16] shawntanzk commented on #2
I think it shouldnt be disjoint given the above, closing issue, please reopen if anyone objects

[2022-08-01 08:16] #2 closed

[2022-08-01 08:18] shawntanzk commented on #114
Ideally having a new term 'catecholamine secretion, neurotransmission' that has all the catecholamine secretion under it would be ideal. I'll create a ticket there. However, if there is any issue, we can also manually assert given its only 3. Give this ticket is from 2015 I don't think there is any rush. Will wait to see what GO says about the new term

[2022-08-01 08:21] bvarner-ebi commented on #342
Hi, @gouttegd, checking in to see if this is still an active issue. If not, can we close the ticket? If more discussion is needed, can we add to CL meeting agenda and invite parties who can provide input?

[2022-08-01 08:27] bvarner-ebi commented on #350
Hi, @nicolevasilevsky, is this still an active issue? If not, can we close the ticket? If it requires more discussion, feel free to add to the next CL meeting agenda and invite parties who can provide input.

[2022-08-01 10:28] gouttegd commented on #342
Still active, yes. I’ll add the taxon restriction, but I think it should go to the parental term `epidermal cell (sensu arthropoda)` (CL:0000463) instead. This is consistent with the name of that cell type and will automatically cover both `tormogen cell` (CL:0000372) and `trichogen cell` (CL:0000374).

[2022-08-01 11:40] bvarner-ebi commented on #40
It appears two of the three mentioned cell types exist in CL (as normal variants):

CL:1001432 ‘kidney collecting duct intercalated cell’
CL:4030015’ kidney collecting duct alpha-intercalated cell’

Will assign to self to add new term: **kidney collecting duct beta-intercalated cell**

[2022-08-01 11:53] #342 closed

[2022-08-01 11:59] bvarner-ebi commented on #700
Hi @lubianat, is this ticket still active? If yes, can you assign it to yourself and comment if you need more input. Otherwise, can you close the ticket?

[2022-08-01 17:21] lubianat commented on #700
@bvarner-ebi  I did start the manual cross-references;

I do not know, however, if I could batch-create items on Wikidata for the missing CL cell types. I'll assign to myself and keep it open

[2022-08-01 22:02] nicolevasilevsky commented on #350
From a quick google search, it looks like 'migratory cardiac neural crest cell' is the same as cardiac neural crest cell:
https://journals.biologists.com/dev/article/147/20/dev188706/225875/The-heart-of-the-neural-crest-cardiac-neural-crest

I'll add a synonym.

@bvarner-ebi could I assign you as a reviewer?

[2022-08-02 08:19] bvarner-ebi commented on #714
@nicolevasilevsky, since there has been no comment on this issue for quite a while, are you comfortable moving forward with your plan outlined above? If not, feel free to add to CL agenda and invite parties who can offer input.

[2022-08-02 08:23] bvarner-ebi commented on #977
Hi @mkeays, it appears that the linked PR has been closed. Can we close this ticket?

[2022-08-02 16:14] bvarner-ebi commented on #516
Of note, here is the current modelling:

<img width="425" alt="Screenshot 2022-08-02 at 17 08 46" src="https://user-images.githubusercontent.com/95643797/182421641-b93a167d-d82a-4e0a-841c-f06a10172bea.png">

<img width="424" alt="Screenshot 2022-08-02 at 17 09 48" src="https://user-images.githubusercontent.com/95643797/182421858-0f50d143-2724-402f-ba50-1101f20ab871.png">

@cmungall, do you still s

[2022-08-02 17:14] #350 closed

[2022-08-02 18:58] govekk opened #1670 "[NTR] hypendymal cell"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label**
hypendymal cell

**Synonyms** (add reference(s), please)

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
secretory cells of the basal layer of the subcommissural organ, with similar characteristics to ependymal cells and cha

[2022-08-02 23:18] nicolevasilevsky commented on #714
sure, I'm fine with moving forward. I can make these changes.

[2022-08-03 11:47] vjcitn opened #1672 "[Typo/Bug] circularity in cl.obo data-version: releases/2022-06-18 CHEBI:36080 and PR:000000001"
**CL term**

CHEBI:36080, PR:000000001 are `is_a` to each other in cl.obo of 2022-06-18

**Description of typo, bug or error**

line 7408 of cl.obo
[code]

at line 156886 we have stanza for
[code]
that includes at line 156893
[code]
Observed by Daniel Greene author of the ontologyX packages on CRAN.  This circularity defeats `get_OBO` in ontologyIndex.  @stankiewicz565

[2022-08-03 16:42] #1656 closed

[2022-08-04 07:32] #99 closed

[2022-08-09 11:18] bvarner-ebi commented on #513
With HuBMAP, several location-specific cell types have been requested and created.

<img width="423" alt="Screenshot 2022-08-09 at 12 14 48" src="https://user-images.githubusercontent.com/95643797/183634642-eb6e96bf-c44d-4d4a-950f-b820ce3a98cd.png">

@emquardokus, as the main liaison, do you have any comments on this?
If there is no comment on this ticket within the next few days, I plan to close

[2022-08-09 11:27] bvarner-ebi commented on #1054
@JoshuaFortriede, checking in on the status of this ticket.
Is this the same term requested in this ticket:  ['alveolar type 2 fibroblast cell'](http://purl.obolibrary.org/obo/CL_4028006) ? If so, would you kindly close this ticket?

[2022-08-09 11:41] emquardokus commented on #513
@bvarner-ebi I was working directly with Sanjay Jain who is both HuBMAP and KPMP so I'm not sure where/who this newest comment came from? Sanjay added the cell types and KPMP usually rigorously discusses every new item.

[2022-08-09 14:49] bvarner-ebi commented on #1030
@JoshuaFortriede, checking in on this ticket.
Can this be closed or does it require additional work?
I see [the comment above](https://github.com/obophenotype/cell-ontology/issues/1030#issuecomment-1157081072), which may have triggered the ticket to be reopened, but it is unclear to me how it relates to this ticket.

[2022-08-09 15:11] gouttegd commented on #1199
CL is now using the SSSOM file from FBbt, so this can be closed.

[2022-08-09 15:11] #1199 closed

[2022-08-09 15:16] #1229 closed

[2022-08-10 00:45] #714 closed

[2022-08-10 15:31] bvarner-ebi commented on #513
Thank you for the feedback, @emquardokus. Given your comment and since this ticket was opened in 2018 with no other activity, I will close it.

[2022-08-10 15:31] #513 closed

[2022-08-10 21:56] cmungall commented on #1672
Hi Vince,

While this is indeed strange and unintuitive, it is valid. Equivalence is the same as mutual subsumption. Ideally CHEBI and PRO would come to some agreement about who owns the concept of protein but they have not done this in >10 years so this is where we are.

We have a profile of OBO Format intended for tools like ontologyX called obo-basic

Documentation:
https://owlcollab.github.io/

[2022-08-11 11:27] anitacaron opened #1674 "[Typo/Bug] Misuse of `present_in_taxon` annotation"
**CL term**

- CL_0009068
- CL_0009069
- CL_0009070
- CL_0009071
- CL_0009072
- CL_0009073
- CL_0009074
- CL_0009075
- CL_0009076
- CL_0009077
- CL_0009078
- CL_0009079
- CL_0009081
- CL_0009082
- CL_0009083

**Description of typo, bug or error**

After adding `robot expand` in the [UBERON pipeline](https://github.com/obophenotype/uberon/pull/2597), it detected the misuse of the `present_in_taxon`

[2022-08-11 15:45] shawntanzk commented on #1649
Suggests that perhaps http://purl.obolibrary.org/obo/PCL_0011054 might be promoted to CL cell type (related to discussions https://github.com/obophenotype/provisional_cell_ontology/issues/11)

[2022-08-11 16:40] #1674 closed

[2022-08-15 11:54] #1670 closed

[2022-08-15 17:33] #1135 closed

[2022-08-16 16:45] nicolevasilevsky commented on #1146
done
https://github.com/obophenotype/cell-ontology/issues/new?assignees=&labels=taxon+constraint&template=i-taxon-constraint.md&title=%5BTaxon+constraint%5D

[2022-08-16 16:45] #1146 closed

[2022-08-16 16:47] #1443 closed

[2022-08-16 16:48] nicolevasilevsky commented on #1392
I'll work on this @paola-scibite!

[2022-08-16 19:46] jenjou commented on #1540
Hello,

The "excitatory neuron" term was used to annotate some datasets submitted for the ENCODE project prior to the term's deprecation: https://www.encodeproject.org/search/?type=Experiment&biosample_ontology.term_name=excitatory+neuron

Does CL have any further information about the decision to remove this term? We spoke briefly with some of the labs involved and are concerned that the suggeste

[2022-08-16 20:11] shawntanzk commented on #1540
Hi @jenjou - our concern with excitatory neuron is that we need to manually populate these (for the same reason why glutamatergic neuron is overly specific for your use case. If we have excitatory neuron, we are not confident in properly populating it completely, which would be problematic for the ontology. I do however understand that it might be required for annotation, and I wonder if there is

[2022-08-16 20:57] jenjou commented on #1540
Thanks for the explanation! We'll need to reach out to the labs to get more detailed information about these samples -- I'm not sure we'll have a follow up by tomorrow, but I will reach out again if we have more specifics on the methods used.

[2022-08-17 12:35] bvarner-ebi commented on #1030
Closing this ticket as it appears done and there has been no recent follow up.

[2022-08-17 12:35] #1030 closed

[2022-08-17 12:37] bvarner-ebi commented on #1054
Closing this ticket as it appears done and there has been no recent follow up.

[2022-08-17 12:37] #1054 closed

[2022-08-17 13:39] lubianat commented on #1621
@bvarner-ebi @emquardokus let me know if you have thoughts on that

[2022-08-18 18:45] LiNiMGI opened #1680 "[Synonym] add M1, M2 macrophage as synonym"
**CL term**
 alternatively activated macrophage CL:0000890

**Synonym to be added**
  M2 macrophage

**broad/exact/narrow/related ?**
 exact

**CL term**
     inflammatory macrophage CL:0000863

**Synonym to be added**
  M1 macrophage

**broad/exact/narrow/related ?**
 exact

[2022-08-19 15:55] bvarner-ebi commented on #421
@addiehl, checking in on this ticket. I see it is from 2016, is unassigned, and there is a comment asking for your feedback.

[2022-08-19 15:59] bvarner-ebi commented on #892
Closing this issue as it is from Jan 2021, it is unassigned, and there has been no follow up.

[2022-08-19 15:59] #892 closed

[2022-08-19 16:14] #1133 closed

[2022-08-19 20:29] addiehl commented on #421
Looking in the literature, I don't see direct support for 'spleen B cell' with this marker combination. Splenic B-cell progenitor populations in the mouse are CD43-negative, but differentiated B-1 B cells in the spleen are CD43-positive and CD11b-positive ([PMID:21282663](https://pubmed.ncbi.nlm.nih.gov/21282663/)).

We already have 'marginal zone B cell of spleen' (CL:0000845), which would not be

[2022-08-19 20:29] #421 closed

[2022-08-22 09:01] shawntanzk opened #1683 "CL - PCL product"
CL + PCL combined product as been suggested by the community
Possible concerns: PCL is huge as is, hopefully CL + PCL is manageable.
Other than that it should be a simple custom make goal

[2022-08-22 09:42] bvarner-ebi commented on #1471
Closing this ticket due to comments above and no recent follow-up comments.

[2022-08-22 09:42] #1471 closed

[2022-08-22 12:15] bvarner-ebi commented on #369
There has been no activity on this ticket since Oct 2021.
@addiehl, is there something we can do to complete this ticket?

[2022-08-22 12:26] bvarner-ebi commented on #19
Not quite sure what the action item is here... Can someone clarify what is needed? If no reply, I plan to close this ticket.
For reference, here are the current synonyms for 'Claudius cell':

<img width="662" alt="Screenshot 2022-08-22 at 13 25 54" src="https://user-images.githubusercontent.com/95643797/185920667-6d4eb68e-d482-438f-b3ac-eba04d06b619.png">

[2022-08-22 14:18] addiehl commented on #19
The original comment from 2015 is still true:
Primary label 'external supporting cell of vestibular epithelium' <http://purl.obolibrary.org/obo/CL_0002314> re-used as EXACT synonym for IRIs: <http://purl.obolibrary.org/obo/CL_0000634> 'Claudius cell'

Based on wikipedia, I recommend removing the exact synonym "external supporting cell of vestibular epithelium" from 'Claudius cell', because of the

[2022-08-22 15:58] #19 closed

[2022-08-23 19:23] #17 closed

[2022-08-25 08:31] bvarner-ebi commented on #1680
@LiNiMGI, thank you the contribution to CL.

Could you kindly add references that support adding these terms as exact synonyms?

[2022-08-25 08:41] bvarner-ebi commented on #1672
Closing this ticket given @cmungall's comment above.
@vjcitn, feel free to add follow-up comments if needed.

[2022-08-25 08:41] #1672 closed

[2022-08-25 13:56] paola-scibite commented on #1392
@nicolevasilevsky thanks for looking into this. Unfortunately, my knowledge of the topic is limited, and at present I don't have the bandwidth to explore this issue further. Could we please ask @RDruzinsky if he has any suggestions to address the questions in the first and second comment in this ticket? Many thanks in advance.

Best,
Paola

[2022-08-25 14:01] #700 closed

[2022-08-25 14:02] lubianat commented on #1562
can someone else comment on this issue? maybe @bvarner-ebi ?

I am not really sure how merging works in CL

[2022-08-25 14:05] #1049 closed

[2022-08-25 14:06] lubianat commented on #764
@cakirb sorry for the delay; the issue was stale for a long while, getting it back on track now

[2022-08-25 14:25] lubianat commented on #1134
merged via #1624

[2022-08-25 14:26] lubianat commented on #1562
docs: https://oboacademy.github.io/obook/howto/merge-terms/

[2022-08-25 14:27] bvarner-ebi commented on #1562
Hi @lubianat, thanks for the updated comment.
This was not on my radar since I saw it was assigned to you.

@shawntanzk reported that he forwarded you the documentation on how to merge. If you like, can you give it a go and provide feedback on whether or not the documentation was easy to follow? Of course, reach out if you run into issues along the way.

[2022-08-25 14:28] lubianat commented on #1562
Sure, thanks @bvarner-ebi ! Won't be able to do it today, though; but it is on my to do list for the next CL slot on my agenda

[2022-08-25 14:55] bvarner-ebi commented on #5
After taking a closer look at this, it appears the inconsistency in the original definitions is causing confusion rather than this being a narrow vs broad issue.

A 'non-pigmented ciliary epithelial cell', as it is referenced in the dbxref annotation, is not a retinal cell. It is part of the [ciliary body](http://purl.obolibrary.org/obo/UBERON_0001775), which is part of the uvea. These cells do co

[2022-08-25 17:52] addiehl commented on #1680
You can use this review article as a reference:
"M1 Means Kill; M2 Means Heal"  J. Immunol. 2017 Oct 1;199(7):2191-2193.  doi:10.4049/jimmunol.1701135. [PMID:28923980](https://pubmed.ncbi.nlm.nih.gov/28923980/)

[2022-08-26 09:24] bvarner-ebi commented on #1680
Thank you, @addiehl.

Based on this line in the reference, should these be "related" synonyms, and not "exact" or new cell types altogether?

[PMID:28923980](https://pubmed.ncbi.nlm.nih.gov/28923980/):
"Today, M1 is often used for classically activated macrophages ([16](https://www.jimmunol.org/content/199/7/2191.long#ref-16)) and M2 for alternatively activated macrophages ([17](https://www.jimmun

[2022-08-26 10:18] bvarner-ebi opened #1688 "[NTR] kidney collecting duct intercalated cell type B"
Context: https://github.com/obophenotype/cell-ontology/issues/40

**Preferred term label**
kidney collecting duct beta-intercalated cell

**Synonyms** (add reference(s), please)
kidney collecting duct intercalated cell type B (exact)
PMID:31300091
B-IC (exact)
PMID:32016094

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
A renal beta-intercalated cell that i

[2022-08-26 11:59] bvarner-ebi commented on #40
Closing this ticket. Remaining task subsumed by https://github.com/obophenotype/cell-ontology/issues/1688.

[2022-08-26 11:59] #40 closed

[2022-08-26 12:32] #1688 closed

[2022-08-29 13:18] hdrabkin opened #1690 "vocload synonyms encased in apostrophes["
These synonyms have an extra apostrophe which are giving grief to our loader at MGI.

Can you please fix? Thanks

synonym: "Langerhans' cell" EXACT []
synonym: "Langhans' cell" EXACT []
synonym: "Bm2' B lymphocyte" EXACT []
synonym: "Bm2' B-cell" EXACT []
synonym: "Fr. C'" BROAD []
synonym: "'T-shaped' Martinotti neuron" EXACT []
synonym: "'fanning-out' Martinotti neuron" EXACT []
synonym: "'CAP1'

[2022-09-02 09:32] bvarner-ebi commented on #1690
Thank you for this ticket, @hdrabkin.
My proposed edits are below.

synonym: "Langerhans' cell" EXACT []
[ ] Remove apostrophe. Use of the apostrophe is not correct. I only have found it used here: https://www.gosh.nhs.uk/conditions-and-treatments/conditions-we-treat/langerhans-cell-histiocytosis/

synonym: "Langhans' cell" EXACT []
[ ] Remove synonym. Improper use of the apostrophe aside, I do no

[2022-09-02 09:50] shawntanzk commented on #1690
I'm ok with having my terms apostrophes removed - added them as it was probably how the paper used it, don't think removal would affect much on our side. Thanks

[2022-09-02 11:43] #1690 closed

[2022-09-02 12:15] dosumis commented on #1690
Commenting late, but looks good.  @hdrabkin  - we can't promise to always keep apostrophes out of synonyms where these are valid/important.  I think MGI needs to look at fixing their loader.

[2022-09-05 11:35] rays22 opened #1692 "[Typo/Bug] Unsatisfiable classes in `cl.obo`"
There seem to be unsatisfiable classes in `cl.obo`. I think this may cause problems for other ontologies that import CL, for example, [see OBA PR 130](https://github.com/obophenotype/bio-attribute-ontology/pull/130#issuecomment-1236864216)

- [x] Check in next release (after RO import update) if https://github.com/oborel/obo-relations/pull/624 fixed this isse.

### Description of typo, bug or erro

[2022-09-05 13:43] shawntanzk opened #1693 "find all "Not" in CL"
grep "ObjectComplementOf" in cl-edit and find what they are
Not should not be allowed in CL -> ELK doesn't deal with this

[2022-09-05 13:44] matentzn commented on #1693
[code]

Where prudent, replace with disjointness.

[2022-09-05 13:45] shawntanzk commented on #1693
Delete all and ask Chris and David what needs to be keep -> never_in_taxon for eg

[2022-09-05 17:04] rays22 commented on #1692
*  Deleting the relationship
    - [drains](http://purl.obolibrary.org/obo/RO_0002179) Domain [vein](http://purl.obolibrary.org/obo/UBERON_0001638)
in `cl.obo` using Protege resolves all the unsatisfiable class issues.

[2022-09-05 17:13] dosumis commented on #1692
I'd rather keep the domain if we can.

This looks to me like the culprit. It's clearly wrong:

[material anatomical entity](http://purl.obolibrary.org/obo/CARO_0000006) SubClassOf [drains](http://purl.obolibrary.org/obo/RO_0002179) some [connected anatomical structure](http://purl.obolibrary.org/obo/CARO_0000003)

[2022-09-05 18:08] rays22 commented on #1692
* If I delete the axiom

    - [material anatomical entity](http://purl.obolibrary.org/obo/CARO_0000006) SubClassOf [drains](http://purl.obolibrary.org/obo/RO_0002179) some [connected anatomical structure](http://purl.obolibrary.org/obo/CARO_0000003)

in `cl.obo`, then it also resolves all the unsats.

Should this be resolved in CARO?

[2022-09-05 18:52] dosumis commented on #1692
Do we know where this comes from?

[2022-09-05 19:23] rays22 commented on #1692
In `cl-edit.owl` it is actually:

[code]
However, in `cl.obo` the axiom is:

[code]
* @balhoff  noted on the obo-community-->oba slack channel that there are some obo format conversion issues:
[OBO format is converting an AllValuesFrom restriction to a SomeValuesFrom](https://obo-communitygroup.slack.com/archives/C02KBFC2M8C/p1662398855931589?thread_ts=1662381390.327309&cid=C02KBFC2M8C)

* All the

[2022-09-06 13:17] hdrabkin commented on #1690
@dosumis, I think it was the double quotes around the synonym that is the problem.

[2022-09-06 13:39] rays22 commented on #1692
@dosumis ,
My suspicion is that `drains only 'connected anatomical structure'` originates from RO. I can see an anonymous class `drains only 'connected anatomical structure'` in [ro-edit.owl](https://raw.githubusercontent.com/oborel/obo-relations/master/src/ontology/ro-edit.owl).

[2022-09-06 13:53] dosumis commented on #1692
Can you make a ticket to remove from RO and have a go at actioning it & making a PR?

[2022-09-06 14:36] rays22 commented on #1692
Yes, I will do that. The offending axiom is asserted for [CARO:0000006 'material anatomical entity'](https://www.ebi.ac.uk/ols/ontologies/caro/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCARO_0000006)) in `ro-edit.owl`.

[2022-09-06 14:59] rays22 commented on #1692
I have made an RO ticket here: https://github.com/oborel/obo-relations/issues/623 .

[2022-09-06 15:42] rays22 commented on #1692
The proposed fix is here: https://github.com/oborel/obo-relations/pull/624

[2022-09-06 19:14] rachadele opened #1695 "[NTR-cxg] BEST4+ intestinal epithelial cell"
**Preferred term label**
BEST4+ intestinal epithelial cell

**Synonyms** (add reference(s), please)

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
An absorptive epithelial cell of the human intestine expressing Bestrophin 4 calcium-activated ion channels.
PMID:24223998
PMID:35176508

**Parent cell type term** (check the hierarchy here https://www.ebi.ac.uk/

[2022-09-07 18:40] addiehl commented on #1680
I think related synonyms might be sufficient for now. We clearly need to either read more or get advice from a macrophage expert.

[2022-09-08 08:27] bvarner-ebi commented on #1680
@Thank you, @addiehl.
The terms are already related synonyms for these terms. I'll add the reference as an annotation to them.

[2022-09-08 08:49] #1680 closed

[2022-09-08 10:49] bvarner-ebi commented on #1680
@LiNiMGI, these terms have been kept as **related** synonyms.
I added dbxref annotations to them.
Kindly open a new ticket if you would like to request additional changes.

[2022-09-13 14:35] bvarner-ebi opened #1698 "[NTR-HCA] 'immune cell'; superseded by editing synonym for leukocyte"
Context: https://github.com/HumanCellAtlas/ontology/issues/120

**Preferred term label**
immune cell

**Synonyms** (add reference(s), please)
n/a

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
A cell that is part of the immune system and helps the body fight infections and other diseases.
https://www.cancer.gov/publications/dictionaries/cancer-terms/def/imm

[2022-09-13 16:15] addiehl commented on #1698
Looking at the source definition, I see that it contains the gloss "These include neutrophils, eosinophils, basophils, mast cells, monocytes, macrophages, dendritic cells, natural killer cells, and lymphocytes (B cells and T cells)." That is pretty much the same subtypes that the existing CL class 'leukocyte' has.  How is 'immune cell' distinct from leukocyte?

I think that 'immune cell' should be

[2022-09-14 08:52] bvarner-ebi commented on #1613
@kalpanaps, following the comments above, I think it is appropriate to close this issue for CL. Since the entity you want to represent is not a cell type, it is not a class that belongs in CL.

[2022-09-14 08:52] #1613 closed

[2022-09-14 17:28] #1693 closed

[2022-09-14 17:31] shawntanzk opened #1701 "Add docs on taxon restriction docs"
redirect to https://oboacademy.github.io/obook/explanation/taxon-constraints-explainer/ and/or https://oboacademy.github.io/obook/howto/add-taxon-restrictions/

[2022-09-15 09:36] bvarner-ebi commented on #1698
Per the comments above, "immune cell" will be changed from an exact synonym to a related synonym of the class [leukocyte](http://purl.obolibrary.org/obo/CL_0000738).

[2022-09-15 09:58] bvarner-ebi commented on #1695
Hi @rachadele, can you clarify if you intend for this class to only represent a cell type in **humans** as noted in your definition? I see the reference paper is focused on humans, but if this cell type exists in other species or genera, we can remove the word "human" from the definition and not worry about taxon restrictions.

[2022-09-15 12:38] #1698 closed

[2022-09-15 19:21] lubianat opened #1704 "Add CL website to the documentation website"
Currently, there are not any obvious links pointing from https://obophenotype.github.io/cell-ontology/ to https://cell-ontology.github.io/.

Perhaps @shawntanzk ?

[2022-09-16 23:33] raymond91125 opened #1706 "secretory cell and capable of some endocrine hormone secretion"
**CL term**
CL_0000163 endocrine cell

**Suggested revision of logical definition**
A proposal has been made to merge GO:0060986 endocrine hormone secretion into GO:0046879 hormone secretion.
Please see https://github.com/geneontology/go-ontology/issues/17084.

[2022-09-18 08:13] shawntanzk commented on #1258
Working on it

[2022-09-20 15:21] #1683 closed

[2022-09-21 08:45] matentzn opened #1707 "Clean upper level in cl.owl (release) a bit"
<img width="442" alt="image" src="https://user-images.githubusercontent.com/7070631/191458675-a08bf27e-a794-4760-909e-def5799af5d2.png">

We should probably add these to the list of excluded ID spaces in cl-odk.yaml.

[2022-09-22 08:32] bvarner-ebi commented on #1695
Hi @rachadele, checking in to see if you have feedback on my comment immediately above. Once clarified, I can move forward with adding this new cell type.

[2022-09-22 14:19] lubianat commented on #1695
@bvarner-ebi As far as I know, they are not known in mice.

How about having 2 terms, one more neutral, without the taxonomic restriction, and a subclass restricted to humans?

[2022-09-22 14:20] #1704 closed

[2022-09-22 16:42] rachadele commented on #1695
Yes, it is intended to be a human cell type! Sorry for the late response.

[2022-09-23 14:13] #1701 closed

[2022-09-23 14:21] bvarner-ebi commented on #1695
Thanks for the feedback, @lubianat. My understanding is that it is discouraged to create new classes that would have only one child. (@shawntanzk, is my assumption correct)? Since there is also no evidence supplied that the cell type exists in other species, I am hesitant to create a taxon-agnostic class without supporting dbxrefs.

[2022-09-23 14:33] shawntanzk commented on #1695
Yups. Chris Mungall wrote a blog about this - https://douroucouli.wordpress.com/2022/01/04/ontotip-avoid-the-single-child-anti-pattern/

Would ideally like to avoid this too. My preference with this would be instead to have taxon GCIs rather than a subclass restricted to humans if need be - very easily bloats an ontology if we want everything to have specific terms for species

[2022-09-28 13:43] #1695 closed

[2022-09-28 17:10] rachadele commented on #1695
thank you!

[2022-09-29 08:54] bvarner-ebi commented on #24
Reference for when this becomes a formal NTR...
PMID:23761470

Current text definition of CL:0000211 'electrically active cell':
"A cell whose function is determined by the generation or the reception of an electric signal."

[2022-09-29 09:12] dosumis commented on #1606
Some papers relevant to defining at lease some of these cell types coming from HubMap:  https://github.com/hubmapconsortium/ccf-validation-tools/blob/master/logs/new_cl_terms_Eye.tsv

@shawntanzk - Can you take a look at the paper (DOI in first comment)?  Some cell types in this paper may be too provisional for CL, but there also seems to be quite a lot of mapping to types identified in earlier pa

[2022-09-29 10:48] shawntanzk commented on #1606
Looks like theres a whole bunch of transcriptomics types mapped to known types but hidden:

In this case I know that they have mapped a GABAergic amacrine type to starbust amacrine, but its not easily findable (table S2 doesn't have this information). Happy to download their data from cellxgene and see what annotations they have.

For now, I would suggest that we just ensure that we have the cell

[2022-09-29 10:51] shawntanzk commented on #1606
action items:

- [ ] Add cell types from this list that aren't in CL - @bvarner-ebi

AC_B - Amacrine cell,   GABAergic
AC_Y - Amacrine cell, Glycinergic
Ast - Astrocyte
CM - Choroidal melanocyte
CdBC - Cone ON bipolar cell   (depolarizing)
ChBC - Cone OFF bipolar cell   (hyperpolarizing)
END - Enothelial cell
FB - Fibroblast
GC - Ganglion cell
HC - Horizontal cell
MAST - Mast cell
MC - Mueller cel

[2022-09-29 12:20] shawntanzk commented on #1606
h5ad fill author_cell_type:

Fovea:
B cell
Mueller cell
OFF-bipolar cell
T cell
amacrine cell
astrocyte
cell_type
endothelial cell of vascular tree
fibroblast
microglial cell
monocyte
natural killer cell
pericyte cell
retina horizontal cell
retinal cone cell
retinal ganglion cell
retinal pigment epithelial cell
retinal rod cell
rod bipolar cell

Periphery:
Mueller cell
OFF-bipolar cell
ON-bipolar

[2022-09-29 12:26] dosumis commented on #1606
Yeh - I had a quick look and couldn't track that down either.  Probably worth opening a second ticket to add these types.  Looks like there are some good general refs for retinal cell types in the intro.  Also found these by looking for Starburst in my library:
![image](https://user-images.githubusercontent.com/112839/193030779-39314fef-fcaa-45f6-8461-96aa0fb8ffcb.png)

[2022-09-29 14:29] addiehl commented on #1606
Many of those cell types have been in CL for years, even since the beginning.

[2022-09-30 10:52] rays22 commented on #1692
Checked `cl.obo` in the [latest CL release](https://github.com/obophenotype/cell-ontology/releases/tag/v2022-09-15) to confirm that this issue has been fixed.

[2022-09-30 10:52] #1692 closed

[2022-10-03 14:11] bvarner-ebi commented on #1606
@shawntanzk, thank you for extracting the terms.

I consolidated the terms into the table below. None are exact matches to priority cell types from [the triaging worksheet](https://docs.google.com/spreadsheets/d/1WTs7AFd4outzbr_w-ct6Us1F4owYUKzTG0C-nzh-0jQ/edit#gid=0).

**If any of the terms below warrant a new class to be added to CL, kindly provide feedback.**

Cell Type from paper | closest CL

[2022-10-07 14:23] bvarner-ebi commented on #1655
Thank you for the new term request, @kalpanaps and for the feedback, @addiehl.

After skimming the reference, I am not sure if the text definition is appropriate since it seem to refer to specific cell types that were arbitrarily highlighted in the study. Could there be other subsets that are 'peripheral blood lymphocytes' that are not mentioned in this text definition? @kalpanaps, can you confirm

[2022-10-07 15:32] addiehl commented on #1655
Peripheral blood is called peripheral presumably because it is taken most often from a peripheral location of the body, such as an arm.  Blood travels rather quickly through the circulatory system, and I believe the assumption is that the composition of blood extracted at a peripheral location is roughly similar to blood throughout the body, apart from oxygen content.  While there are mechanisms f

[2022-10-07 18:08] bvarner-ebi commented on #1655
Thanks, @addiehl. I'm thinking from a clinical perspective where there is a distinction in central vs peripheral circulation (central line / PICC line vs peripheral IV, blood cultures from peripheral vs central lines, peripheral blood smear, drug concentrations before first pass metabolism, cord blood, etc). If scientists don't make a distinction between central vs peripheral blood, then the EA so

[2022-10-08 01:00] cmungall commented on #516
sorry, I don't have anything to add here, I made the issue when working with an expert at a KPMP meeting. If you are satisfied the biology is correct then you can close

[2022-10-08 01:04] cmungall commented on #369
I removed myself from assignees, I have no specialized knowledge here. I'm not sure this is high priority but I do think we should have a faster turnaround on these.

It's not a bad strategy to use wikipedia as a first pass https://en.wikipedia.org/wiki/Reticular_cell - we can always refine with expert input later. The wp def may be human specific so genericising the marker may be in order but thi

[2022-10-10 17:02] #27 closed

[2022-10-11 08:33] kalpanaps commented on #1610
@bvarner-ebi, my apologies - looks like both are the same type of cell; maybe the description what I added is more accurate

Thank you

[2022-10-11 10:13] anitacaron commented on #1134
In PR #1624, only add hillock cell and respiratory hillock cell. Still missing Hillock cell of the urethra epithelium.

[2022-10-12 10:01] bvarner-ebi commented on #1610
Thanks for checking, @kalpanaps. Kindly advise if you think the definition warrants an update or kindly close the ticket.

[2022-10-12 10:02] bvarner-ebi commented on #1134
Hi, @lubianat, are you planning to add this new term? If not, feel free to assign the ticket to me or assign me as a reviewer if you make a PR.

[2022-10-12 10:06] #1610 closed

[2022-10-12 12:06] bvarner-ebi commented on #79
Per @addiehl's comment above, closing this ticket and created this ticket in GO: https://github.com/geneontology/go-ontology/issues/24180.

[2022-10-12 12:06] #79 closed

[2022-10-13 13:48] lubianat commented on #1134
Sorry for the mess, everyone. I'll add the hillock cell of the urethra now.

[2022-10-13 14:08] lubianat commented on #369
should we change the label to "reticular cell of the spleen" and create a more general class "reticular cell"?

[2022-10-13 14:12] lubianat commented on #1606
By the way, organizing the new CL cell types in a MIRACL sheet seems a nice way of moving this forward.
https://arxiv.org/abs/2204.09673

Example MIRACL sheet:
https://docs.google.com/spreadsheets/d/1FBbarq3aCM3CUGd9oIOuYY5Sljzt2Pegl-sdx8OwbfI/edit

[2022-10-13 14:15] lubianat commented on #1606
And I'd argue while the terms might not be priority, I think all of them could be included.

[2022-10-13 14:18] lubianat commented on #1606
Also, as a note, I've curated many of those terms on Wikidata, and will likely include others in the list too.

Here are all retinal cells on Wikidata: https://w.wiki/5p4a

[2022-10-13 18:46] acevedol opened #1712 "[Typo/Bug] ttp://www.geneontology.org/formats/oboInOwl#created_by"
**CL term**
`ttp://www.geneontology.org/formats/oboInOwl#created_by`

**Description of typo, bug or error**

Came across a typo in the cell ontology: `ttp://www.geneontology.org/formats/oboInOwl#created_by`

[2022-10-14 15:35] dosumis commented on #1606
Cool.  Can we co-ordinate xrefs?

[2022-10-14 15:41] bvarner-ebi commented on #1606
Next step is to identify which of [these terms](https://github.com/obophenotype/cell-ontology/issues/1606#issuecomment-1265503887) constitute new cell types. If there is no need to differentiate these cell types based on location (peripheral retina vs fovea), I do not see many/any new terms here.

[2022-10-14 15:47] dosumis commented on #1606
Should definitely add amacrine neurons by NT.

[2022-10-14 15:48] dosumis commented on #1606
I think also worth going back to older papers referenced here to find if we can defined things like 'starburst amacrine cells'

[2022-10-14 15:50] dosumis commented on #1606
@addiehl  - wasn't there also work in your group ages ago on defining types of retinal ganglion cell that never made it into CL.  Maybe worth a look?

[2022-10-14 20:13] addiehl commented on #1606
The retinal CL (RCL) file is attached
[RCL1v7_ds_test.owl.txt](https://github.com/obophenotype/cell-ontology/files/9789562/RCL1v7_ds_test.owl.txt)

This work was performed primarily by Terry Meehan and Patrick Ray @patrick-lloyd-ray under my direction when I had moved to the University at Buffalo, with some contributions from a couple of summer students who worked with me at the Jackson Laboratory

[2022-10-17 05:44] dosumis commented on #1606
I somehow didn't realise this was Patrick's work!  Makes sense for @shawntanzk and @patrick-lloyd-ray to work on folding this into CL.  From the above example, I think simplifying definitions would be worthwhile, e.g. I think we need to lose the negative assertions and probably relax the definition to just use subClassOf.

[2022-10-17 08:26] shawntanzk commented on #1606
Happy to look into it, just for coordination, I will start by extracting the CL:0004XXX terms in the file and merging it with cl-edit into an PR, and we can work on that branch till we are satisfied before merging to master :)

[2022-10-17 08:58] shawntanzk commented on #1606
ok take it back, its pretty messy when merging - for review sake, it would probably end up better to just manually add these in. Will take a closer look and see whats the best way to do that (template or individually)

[2022-10-17 09:28] dosumis commented on #1606
Where does the messiness of the merge come from? If IDs and imports, can this be cleaned up first?

[2022-10-17 09:29] shawntanzk commented on #1606
no idea, robot merge does some weird stuff. Anyway decided to convert to ofn and copy and paste the stuff in manually to edit, changing some of the relations as needed. Works well, will make a commit to branch and we can edit from there

[2022-10-17 12:06] bvarner-ebi opened #1714 "[NTR] 'amacrine cell' GABAergic and glycinergic"
Context: https://github.com/obophenotype/cell-ontology/issues/1606

**Preferred term label**
(1) GABAergic amacrine cell
(2) glycinergic amacrine cell

**Synonyms** (add reference(s), please)
(1) amacrine cell, GABAergic
(2) amacrine cell, glycinergic

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
(1) An amacrine cell that uses GABA as a neurotransmitter.
(

[2022-10-17 13:08] shawntanzk commented on #516
@bvarner-ebi - any follow up with this? thanks

[2022-10-17 13:10] shawntanzk commented on #369
@bvarner-ebi - could you look at this please? thanks - not sure where it stands on your priority list, let me know if you need help yeah :) thanks

[2022-10-17 13:21] shawntanzk commented on #1557
looks like this is done here https://github.com/obophenotype/cell-ontology/pull/1558, please reopen if there are any issues?

[2022-10-17 13:21] #1557 closed

[2022-10-17 13:37] #1714 closed

[2022-10-17 13:41] bvarner-ebi commented on #1714
The following classes have been added to CL:

CL:4030027 ‘GABAergic amacrine cell’
CL:4030028 'glycinergic amacrine cell'

[2022-10-17 14:31] bvarner-ebi commented on #1606
The following classes have been added to CL:

CL:4030027 ‘GABAergic amacrine cell’
CL:4030028 'glycinergic amacrine cell'

@shawntanzk, it does not look like either of these classes appear in #1713. I do not see an outlined list of the new cell types for that source. I can work on extracting the labels so it is clearly outlined for that PR.

To tidy up this ticket, I propose we focus discussion he

[2022-10-17 14:35] shawntanzk commented on #1606
That is from the file from @addiehl so there isn't a list. Don't worry too much about generating a list for now, but if you need one, you can adapt the sparql query I added to that PR - the new terms are in fixed spaces so should be easy.

I agree, I just wanted to make sure no duplicates happen, more coordination between the two efforts than anything :)

[2022-10-19 09:00] #1605 closed

[2022-10-19 09:42] anitacaron opened #1718 "Updated telocyte definition"
Updated telocyte ID to CL:0017004; however, I am submitting a ticket to CL to update the definition, and remove the **has exact synonym** to these terms since telocytes are not only located in the intestine and the "interstitial Cajal cell" is associated with intestines.
   interstitial Cajal cell-like cell
    ICLC
    interstitial Cajal-like cell

See Nicolescu, Mihnea I., Mugurel C. Rusu, Lilia

[2022-10-19 09:46] bvarner-ebi commented on #1712
@shawntanzk,
does it make sense to update the instance with the created_by that has the typo (pictured below) to the other instance of created_by and then delete the former?

<img width="729" alt="Screenshot 2022-10-19 at 10 44 45" src="https://user-images.githubusercontent.com/95643797/196657108-8ed0ee05-db88-4f2c-84e8-9a27fcecbca6.png">

[2022-10-19 10:23] shawntanzk commented on #1712
@acevedol thanks so much for reporting this, we really appreciate it.

@bvarner-ebi yes, I'm guessing you can do this directly in a text editor, but use whichever way you are comfortable with :) thanks!

[2022-10-19 11:57] shawntanzk commented on #1712
This typo is coming from CARO
https://ontobee.org/ontology/CARO?iri=http://purl.obolibrary.org/obo/CARO_0020003
will move this ticket there instead

[2022-10-19 13:22] shawntanzk commented on #1428
cell type explorer link: https://knowledge.brain-map.org/celltypes

[2022-10-20 19:14] cmungall commented on #1150
[let's keep this one active]

sounds like we are agreed on obsoletion

[2022-10-24 19:19] anitacaron commented on #1058
I am commenting to check the priority of adding this term. Could it be equivalent to LMHA:00213 Interstitial macrophage?

[2022-10-24 19:27] #1612 closed

[2022-10-24 19:53] anitacaron commented on #114
@bvarner-ebi @shawntanzk, do you think this term can be the same as [the one on row 37](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit?pli=1#gid=1225604837)?

[2022-10-24 20:14] shawntanzk commented on #114
from definition, yes, though my assumption is that the spleen is innervated by catecholaminergic neuron, and not has them? That being said given its a MIRACL sheet, I assume its just for term addition, in which case, yes, that is the same term.

[2022-10-27 12:15] bvarner-ebi commented on #369
The definition for [CL:0000432 'reticular cell'](http://purl.obolibrary.org/obo/CL_0000432) is no longer organ specific and is annotated with the wikipedia link.

There is a class specific for the spleen:  [CL:1000489 'reticular cell of splenic cord'](http://purl.obolibrary.org/obo/CL_1000489).

The immediate issues raised in this ticket appear to be resolved.

[2022-10-27 12:15] #369 closed

[2022-10-27 12:21] bvarner-ebi commented on #1606
Closing this ticket as the obvious new cell types have been created.

@Wkt8, if you believe any other of [the extracted cell types](https://github.com/obophenotype/cell-ontology/issues/1606#issuecomment-1265503887) should be added, feel free to reopen or submit a new ticket.

Thanks, all, for the contributions.

[2022-10-27 12:21] #1606 closed

[2022-10-28 08:10] #1134 closed

[2022-10-28 08:12] bvarner-ebi commented on #1134
@GHAStVHenry,
Thank you for the contribution.

The following terms have been added to CL and will be available in the next release:

CL:0017010 ‘hillock cell of urethral epithelium’
CL:0017011 ‘hillock cell of prostatic urethral epithelium’

[2022-10-31 15:40] anitacaron commented on #1718
@bvarner-ebi, there's already a [telocyte in CL](https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0017004). It was unmapped into the ASCT+B table. It should be removed from your priority new cell types list.

[2022-10-31 16:17] emquardokus commented on #1718
@bvarner-ebi @anitacaron generic telocyte is indeed in CL; however, the definition states it's in a specific location, so that is what needs to be altered because they indeed exist all over the body.  The instance in our ASCT+B table was in the eye, so I was resistant to adding the generic CL ID because the definition doesn't fit with eye location.
Here are some additional references that indicate

[2022-10-31 16:24] bvarner-ebi commented on #1718
@emquardokus, can you point to where in the CL definition it states it is in a specific location?
Perhaps the synonyms should be narrow or related instead of exact since those terms may be more associated with the cell found in the gut.

The term in the [priority new cell types list](https://docs.google.com/spreadsheets/d/1WTs7AFd4outzbr_w-ct6Us1F4owYUKzTG0C-nzh-0jQ/edit#gid=0) has an associated r

[2022-10-31 16:39] emquardokus commented on #1718
@bvarner-ebi my original request was to update definition  of "telocyte" and remove the "has exact synonym interstitial Cajal cell-like cell ICLC interstitial Cajal-like cell"   from original request:   "update the definition, and remove the has exact synonym to these terms since telocytes are not only located in the intestine and the "interstitial Cajal cell" is associated with intestines. inters

[2022-11-01 15:04] #1718 closed

[2022-11-02 16:02] bvarner-ebi commented on #1365
@paola-scibite, thank you for this ticket.

Since there are references ([1](https://pubmed.ncbi.nlm.nih.gov/11015620/), [2](https://doi.org/10.1210/edrv-17-6-639)) that describe extrapituitary prolactin-secreting cells, I see an argument for not merging these terms.

Is it true that `adenohypophysis has part some 'prolactin secreting cell'` does **not** absolutely infer `'prolactin secreting cell'

[2022-11-02 20:34] rachadele commented on #1695
hi there– when will the release with this term be published?

[2022-11-02 20:37] shawntanzk commented on #1695
it should be in the latest release, do let us know if you don't see it and we can track down why :)

[2022-11-02 20:43] rachadele commented on #1695
I do not see it!

[2022-11-02 20:47] shawntanzk commented on #1695
I've just checked our release (cl.owl at least), it is in there. Perhaps you are trying to find it in OLS? if that's the case, this is due to OLS not having updated CL release - they are working on it, I can't fully rmbr the reason, but their automated system is down, making it tricky. Perhaps consider using ontobee for now - CL purls redirect there anyway (http://purl.obolibrary.org/obo/CL_403002

[2022-11-02 20:51] rachadele commented on #1695
thank you! I requested this term for a cellxgene submission, but it's causing the submission to fail validation. i'm guessing maybe their validator tool pulls valid ontologies from OLS since it doesn't seem to recognize this term. I will have to ask their devs about it :)

[2022-11-02 20:55] shawntanzk commented on #1695
btws just a small thing, but our preference is for people to pull the ontology through our purl system (http://purl.obolibrary.org/obo/cl.owl) - it's something that I'm supposed to tell people using it. Using the purl = if we change anything (eg how we do releases), it won't affect your pipelines. If your devs are going to change where they pull the ontology from, maybe suggest that to them :) tha

[2022-11-03 11:20] bvarner-ebi commented on #1365
@paola-scibite, thank you again for pointing out the typos.
Kindly note these have been fixed.

If you have any concerns with not merging the terms as originally requested, kindly advise so we can discuss.

[2022-11-03 11:28] shawntanzk opened #1724 "Add basophilic to basophilic terms"
Related to https://github.com/obophenotype/cell-ontology/pull/1723#issuecomment-1301959104
Also look into other terms like acidophilic etc.

[2022-11-03 11:47] shawntanzk commented on #1724
@bvarner-ebi - just getting your input, do all basophilic cells have basophilic cytoplasm -> it's what I assumed, but there are things like basophilic granules which im not sure if cytoplasm are basophilic?
I ask as I'm thinking of how to model this, I think we should have has_part some basophilic cytoplasm rather than has_characteristic some basophilic as its probably more accurate.

[2022-11-03 13:01] shawntanzk commented on #1724
actually ignore me, im stupid, i should just axiomtamize basophilic granule

[2022-11-04 14:14] bvarner-ebi commented on #1655
@kalpanaps, is it agreeable to define your new term as follows:

text defintion:
"A lymphocyte located in blood."

equivalence axiom:
lymphocyte and 'part of' some blood

[2022-11-06 05:26] emquardokus opened #1726 "[NTR]perineurial cell"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label**
perineurial cell

**Synonyms** (add reference(s), please)

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
A cell that belongs to the supporting tissue surrounding a nerve fiber bundle. It has thin long bipolar cytoplasmic pr

[2022-11-08 15:31] bvarner-ebi commented on #525
@ANiknejad, following up on this ticket. Is this cell type still needed?

If so, can you clarify whether you are requesting a gonadal stem cell class or a class that would have the children 'Sertoli cell', 'Leydig cell', etc? I do not think these are considered stem cells.

[2022-11-10 16:01] bvarner-ebi commented on #190
@cmungall, @dosumis, currently this is the most ancient open ticket in CL.
It looks like there are around 50 CL class labels that end in (sensu %).

Can either of you kindly advise if this ticket is something you would like to either prioritise and pursue, close, or keep in the backlog?

[2022-11-10 16:08] bvarner-ebi commented on #1281
@emquardokus, checking in on this ticket.
Is this a cell type you still plan to add? If so, I suggest to remove the "stale" label. The original request is from 2021.

[2022-11-10 17:08] emquardokus opened #1728 "[NTR]retinal ganglion specific cell type: midget ganglion cell of retina"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label**
midget ganglion cell of retina

**Synonyms** (add reference(s), please)

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)
PMID: 32533915, PMCID: PMC7442669, Soto, Florentina, Jen-Chun Hsiang, Rithwick Rajagopal, Kisha Piggott,

[2022-11-10 17:12] emquardokus opened #1729 "[NTR] retinal ganglion specific cell type parasol ganglion cell of retina"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label**
parasol ganglion cell of retina

**Synonyms** (add reference(s), please)

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)

PMID: 32533915, PMCID: PMC7442669, Soto, Florentina, Jen-Chun Hsiang, Rithwick Rajagopal, Kisha Piggot

[2022-11-10 19:29] emquardokus commented on #1281
@bvarner-ebi removed "stale" label; Paola had been working on this; I think we figured it had KPMP potential as an expert group. Created and added NIBR. This is not part of a HuBMAP ASCT+B table as it's kidney development.

[2022-11-16 12:29] shawntanzk commented on #1728
Related to https://github.com/obophenotype/cell-ontology/pull/1713

[2022-11-17 16:18] emquardokus opened #1736 "[NTR] valve interstitial cell (heart)"
Note - please check that the term does not already exist (check OLS: https://www.ebi.ac.uk/ols/ontologies/cl)

**Preferred term label**
valve interstitial cell

**Synonyms** (add reference(s), please)
VIC
cardiac valve interstitial cell

**Definition** (free text, with reference(s), please. PubMed ID format is PMID:XXXXXX)

Ayoub, Salma, Chung-Hao Lee, Kathryn H. Driesbaugh, Wanda Anselmo, Connor

[2022-11-17 16:46] dosumis commented on #1736
There probably should be.  I think 'mesenchymal cell' is often used for this.

That sounds wrong to me.

[2022-11-18 16:37] shawntanzk opened #1737 "Update diff to use base plus with new ODK"
Reminder ticket to update automated diff to use base plus once that is ready with next ODK release

[2022-11-18 16:38] shawntanzk opened #1738 "Add check to ensure of the branch is up to date with master"
Automated diff should check if branch is up to date with master before allowing the run

[2022-11-18 16:39] shawntanzk opened #1739 "Pull Request Template"
Might be a good idea to have a PR template
that way we can add instructions for actions that require trigger there too
Probably needs discussion with community - @bvarner-ebi could you make sure this gets discussed in next CL call please? Thanks

[2022-11-18 16:47] bvarner-ebi commented on #1739
Hi, @shawntanzk, you are welcome to add points of discussion to the CL agenda: https://docs.google.com/document/d/1XvMbNvr0FEsdqGhg79BYCYEHSqUxRHMcvhbGizEAht8/edit#

[2022-11-18 17:03] bvarner-ebi commented on #1618
@kalpanaps, kindly add the requested information to the [template above](https://github.com/obophenotype/cell-ontology/issues/1618#issue-1252858178).

[2022-11-20 12:48] kalpanaps commented on #1618
Definition: Fetal fibroblast -  Connective tissue cell which secretes an extracellular matrix rich in collagen and other macromolecules found in fetus.

Structure: Flattened and irregular in outline with branching processes; appear fusiform or spindle-shaped.

Parent cell type term: CL:0000057

[2022-11-24 09:26] shawntanzk opened #1743 "Add cell types from transcriptomic of adult human brain"
https://www.biorxiv.org/content/10.1101/2022.10.12.511898v1.full.pdf

We need to add the superclasses
Some already are in CL
Need to read to ensure that they can be added in CL rather than PCL too.

[2022-11-24 09:42] shawntanzk commented on #1743
[code]

[2022-11-24 09:54] shawntanzk commented on #1743
- [ ] Amygdala excitatory
- [ ] Astrocyte
- [ ] Bergmann glia
- [ ] CGE interneuron
- [ ] Cerebellar inhibitory
- [ ] Choroid plexus
- [ ] Committed oligodendrocyte precursor
- [ ] Deep-layer corticothalamic and 6b
- [ ] Deep-layer intratelencephalic
- [ ] Deep-layer near-projecting
- [ ] Eccentric medium spiny neuron
- [ ] Ependymal
- [ ] Fibroblast
- [ ] Hippocampal CA1-3
- [ ] Hippocampal CA4
-

[2022-11-24 10:15] shawntanzk commented on #1743
@dosumis - question: do we REALLY need http://purl.obolibrary.org/obo/CL_4023070 ('caudal ganglionic eminence derived GABAergic cortical interneuron') to be cortical specific? Currently there's a need to add CGE interneuron, and if I do, it CGE cortical interneuron will be the only child (unless I also created like hippocampus, amygdala etc. CGE interneuron. I don't see a huge use case for the pro

[2022-11-24 10:32] shawntanzk commented on #1743
Issue:
Choroid plexus and Ependymal are separate clusters, yet there are Ependymal cells in the Choroid plexus - not sure how these clusters are actually separated?

[2022-11-24 11:49] dosumis commented on #1743
* I'm in favour of making a general MGE interneuron term but also keeping subclasses by major region.  It's some proliferation of terms, but I think potentially v.useful.

* Is the choroid plexus cluster close to the ependymal cluster on the UMAP?  Presumably specialised ependymal cells that cluster separately.  Might be odd to have term for non-CP ependymal cells though, so any annotation of the

[2022-11-24 11:52] shawntanzk commented on #1743
They are a fully separate island, I'm guessing that Ependymal cluster doesn't include Ependymal in choroid plexus, light not details in writing about it.

![Screenshot 2022-11-24 at 11 51 00](https://user-images.githubusercontent.com/76212760/203777710-4ac2da1f-5017-4143-91ed-30fd96546f82.png)

[2022-11-24 11:59] shawntanzk opened #1744 "[NTR] subtypes of medium spiny neurons"
See https://www.sciencedirect.com/science/article/pii/S0092867418309553
“direct” (dSPN)
“indirect” (iSPN)
“Eccentric” SPNs (eSPNs) <- related to https://github.com/obophenotype/cell-ontology/issues/1743

[2022-11-24 13:19] shawntanzk opened #1745 "[Logical def] Hippocampal cells use Ammon's horn instead of hippocampal formation"
Currently, the following cell types use Ammon's horn when it should really be hippocampal formation (Ammon's horn in Uberon is defined indirectly (there are issues with the definition there too but that's for another day) as not including DG, whereas if we talk about hippocampal cells, we generally think that includes DG too)

[2022-11-24 13:22] shawntanzk commented on #1745
hippocampal neuron should use 'neuron' instead of CNS neuron (sens Vertebrata) too

[2022-11-24 13:35] #1655 closed

[2022-11-24 13:55] bvarner-ebi commented on #1655
Hi, @kalpanaps,

Thank you for your contribution.
The following 2 terms have been added to CL and will be available in the next CL release.

CL:4030029 'blood lymphocyte'
A lymphocyte located in blood.

CL:4030030 'peripheral blood lymphocyte'
A blood lymphocyte located in the flowing, circulating blood of the body.

[2022-11-24 14:26] shawntanzk commented on #1743
Similar issue with 'Eccentric medium spiny neuron' and 'medium spiny neuron' which are separate clusters, but I assume 'medium spiny neurons' refers to “direct” (dSPN) and “indirect” (iSPN) spiny neurons only.
![Screenshot 2022-11-24 at 14 26 06](https://user-images.githubusercontent.com/76212760/203807664-ed89bc1e-02c2-4b37-b937-ad644db7851e.png)

[2022-11-24 16:44] dosumis opened #1749 "Add simple SOPs for updating imports to CL doc"
In discussion with @bvarner-ebi  it has become clear that the [general oBook documentation on imports ](https://oboacademy.github.io/obook/howto/update-import/) does not work well as a guide for updating imports no CL.  Users need to know beforehand what strategy is used for imports and the guide (apparently) lacks the fine grained detail needed to successfully run the pipeline for CL.   In additi

[2022-11-25 09:29] dosumis commented on #1706
There's an element of buck passing here.  No-one wants to take charge of defining terms like endocrine.  GO just passed the buck to CL & Uberon who were formerly relying on GO to define it.

The bigger picture:

<img width="832" alt="image" src="https://user-images.githubusercontent.com/112839/203838298-88123a43-743b-4bfc-87e5-80ed7178d99e.png">
https://en.wikipedia.org/wiki/Endocrine_system

The